<div class="main">
  <div class="container">
    <div class="row m-0">
      <ul class="breadcrumb list-inline">
        <li class="link breadcrumb__link breadcrumb-item"><a [routerLink]="['/']">{{'breadcrumps_main' | translate}}</a></li>
        <li *ngFor="let link of links.link; index as i" class="link breadcrumb__link breadcrumb-item">
          <a [routerLink]="link.direction" [queryParams]="params">{{link.title | translate}}</a>
        </li>
        <li class="link breadcrumb__current breadcrumb-item">{{ links.current | translate }}</li>
      </ul>
    </div>
    <div class="main__head text-center">
      <h5 *ngIf="!confirmBooking"><b>{{'bookingpage_enter_your_data' | translate}}</b></h5>
      <h5 *ngIf="confirmBooking"><b>{{'bookingpage_confirm_booking' | translate}}</b></h5>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 pb-3 col-lg-4">
        <div class="main__hotel row m-0" *ngIf="hotelInformation">
          <div class="main__hotel__title col-12 mb-3 col-md-6">
            <h3 class="text">{{ hotelInformation.title }}</h3>
            <span class="stars"><i *ngFor="let i of stars" class="fa fa-star"></i></span>
          </div>
          <div class="main__hotel__img pt-0 col-4 pt-md-3 pb-3 col-sm-6">
            <img class="img-fluid" [src]="avatarPhoto" onError="this.src='../../../assets/images/hotel-thumb-default.jpg'">
          </div>
          <div class="main__hotel__content p-0 pl-md-3 col-8 col-sm-6 col-md-12">
            <table class="table text-left">
              <tr>
                <td>{{'bookingpage_day_in' | translate}}</td>
                <td>{{ bookinginfo.checkIn | date: 'dd.MM.y' }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_day_out' | translate}}</td>
                <td>{{ bookinginfo.checkOut | date: 'dd.MM.y' }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_nights_count' | translate}}</td>
                <td>{{ nights }}</td>
              </tr>
            </table>
            <table class="table text-left">
              <tr>
                <td>{{'bookingpage_rooms_count' | translate}}</td>
                <td>{{ roomsArray.length }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_total_price' | translate}}</td>
                <td>{{ bookingservice.countRoomsPrice_hb(roomsArray) | number: '1.0-2' }} {{roomsArray[0].currency}}</td>
              </tr>
              <tr class="uah" *ngIf="roomsArray[0].currency !== 'UAH'">
                <td class="pt-3">{{'bookingpage_pay_count' | translate}}</td>
                <td class="pt-3">{{ bookingservice.countRoomsPrice_hb_uah(roomsArray) | number: '1.0-2' }} UAH</td>
              </tr>
              <tr class="uah">
                <td colspan="2">{{'bookingpage_pay_must' | translate}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="bookingRoomInfo" class="col-12 col-md-7 col-lg-8 d-flex flex-column order-md-first">
        <div class="main__content">
          <form [formGroup]="bookingForm" #BookingForm="ngForm" class="form">
            <div class="booking-data" [hidden]="confirmBooking">
              <h6 class="main__content__title">{{'bookingpage_please_enter_data' | translate}}</h6>
              <div class="row form-group">
                <div class="col-6 col-lg-12">
                  <label class="form-text">{{'bookingpage_goal' | translate}}</label>
                  <div class="mt-3">
                    <label class="d-inline text-nowrap radio"><input type="radio" formControlName="work" name="work" value="W"/> {{'bookingpage_work' | translate}}</label>
                    <label class="d-inline text-nowrap radio"><input type="radio" formControlName="work" name="work" value="L"/> {{'bookingpage_rest' | translate}}</label>
                  </div>
                </div>
                <div class="col-6 col-lg-2">
                  <label for="gender" class="form-text">{{'bookingpage_mr' | translate}}</label>
                  <select class="form-control" id="gender" name="gender" formControlName="gender">
                    <option value="M">{{'bookingpage_m_r' | translate}}</option>
                    <option value="F">{{'bookingpage_m_s' | translate}}</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-5">
                  <label class="form-text">{{'bookingpage_name_*' | translate}}</label>
                  <input formControlName="firstname" name="firstname" class="form-control" autocomplete="on" placeholder="{{'bookingpage_name' | translate}}" type="text" (keypress)="checkChar($event)" required/>
                  <div *ngIf="firstname.invalid && firstname.touched" class="text-danger">
                    <div>{{'bookingpage_enter_name' | translate}}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-5">
                  <label class="form-text">{{'bookingpage_surname_*' | translate}}</label>
                  <input formControlName="surname" name="surname" class="form-control" autocomplete="on" placeholder="{{'bookingpage_surname' | translate}}" type="text" (keypress)="checkChar($event)" required/>
                  <div *ngIf="surname.invalid && surname.touched" class="text-danger">
                    <div>{{'bookingpage_enter_surname' | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-8">
                  <label class="form-text">{{'bookingpage_email_*' | translate}}</label>
                  <input autocomplete="on" formControlName="email" name="email" class="form-control" required [pattern]="emailPattern" (blur)="lowcase()"/>
                  <div *ngIf="email.invalid && email.touched" class="text-danger">
                    <div *ngIf="email.errors.required">{{'bookingpage_enter_mail' | translate}}</div>
                    <div *ngIf="email.errors.pattern">{{'bookingpage_email_not' | translate}}</div>
                  </div>
                  <label class="form-text">{{'bookingpage_email_confirm' | translate}}</label>
                  <input autocomplete="on" formControlName="emailconfirm" name="emailconfirm" class="form-control" required [pattern]="emailPattern" (blur)="lowcase()"/>
                  <div *ngIf="emailconfirm.invalid && emailconfirm.touched" class="text-danger w-100">
                    <div *ngIf="emailconfirm.errors.required">{{'bookingpage_enter_email_confirm' | translate}}</div>
                    <div *ngIf="emailconfirm.errors.pattern">{{'bookingpage_email_not' | translate}}</div>
                  </div>
                  <div *ngIf="bookingForm.hasError('mismatchedEmails') && emailconfirm.touched" class="text-danger w-100">
                    <div>{{'bookingpage_emails_not_equal' | translate}}</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p class="desk-field">{{'bookingpage_email_sent' | translate}}</p>
                </div>
              </div>
              <div class="rooms">
                <div class="row form-group room">
                  <div class="col-12 room__block d-flex flex-wrap" *ngFor="let room of roomsArray; index as i">
                    <div class="room__block__title">
                      <h6 class="room-title"><span class="room-title__capital">{{ room.roomtitle.title | slice:0:1}}</span>{{ room.roomtitle.title | slice:1:room.roomtitle.title.length }}</h6>
                      <button class="close pull-right" type="button" (click)="roomsArray.splice(i, 1);">
                        <span>×</span>
                      </button>
                    </div>
                    <div class="col-6 pr-1 col-sm-4 col-md-5 col-lg-4">
                      <label class="form-text">{{'bookingpage_name_guest' | translate}}</label>
                      <input class="form-control" [name]="'guest-name-' + i" [(ngModel)]="roomsArray[i].person.name" [ngModelOptions]="{standalone: true}" (keypress)="checkChar($event)"/>
                    </div>
                    <div class="col-6 pl-1 col-sm-4 col-md-5 col-lg-4">
                      <label class="form-text">{{'bookingpage_surname_guest' | translate}}</label>
                      <input class="form-control" [name]="'guest-surname-' + i" [(ngModel)]="roomsArray[i].person.surname" [ngModelOptions]="{standalone: true}" (keypress)="checkChar($event)"/>
                    </div>
                    <div class="col-6 col-sm-2 pl-sm-0 mt-2 mt-sm-0 d-flex d-sm-block">
                      <label class="form-text mr-2">{{'bookingpage_guests' | translate}}</label>
                      <div class="text-left ml-2 ml-sm-0 guests">
                        <i *ngFor="let guest of room.guests" class="fa fa-male"></i>
                        <i *ngFor="let child of room.childrens" class="child fa fa-child"></i>
                      </div>
                    </div>
                    <div *ngIf="room.childAges.length > 0" class="col-12 col-sm-2 pl-sm-0 pl-md-3 col-md-12 col-lg-2 d-flex d-sm-block">
                      <label [hidden]="room.childAges.length === 0" class="form-text text-nowrap mr-3">{{'bookingpage_children' | translate}}</label>
                      <div class="mt-1">
                        <input *ngFor="let child of room.childAges; let c = index; trackBy: trackByIdx" class="child-age form-control mb-1 mr-1" name="child{{c}}" type="number" (blur)="checkChildAge(i, c)" [(ngModel)]="room.childAges[c]" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div *ngIf="roomsArray[i].nutrition !== 'RO'" class="nutrition-block col-12 col-sm-10 p-0">
                      <div class="nutrition">
                        <span class="nutrition__text">{{HBNutrition[roomsArray[i].nutrition] | translate}} {{'bookingpage_nutrition_in' | translate}}</span>
                      </div>
                    </div>
                    <div *ngIf="roomsArray[i].nutrition === 'RO'" class="nutrition-block col-12 col-sm-10 p-0">
                      <div class="nutrition">
                        <span class="nutrition__text no">{{'bookingpage_nutrition_no' | translate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="afterrooms">{{'bookingpage_wish' | translate}}</h6>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="form-text">{{'bookingpage_wish_ang' | translate}}</label>
                  <textarea class="form-control" formControlName="description" rows="2"></textarea>
                </div>
              </div>
            </div>
            <div class="booking-confirm" [hidden]="!confirmBooking">
              <h6 class="main__content__title">{{'bookingpage_your_booking' | translate}}</h6>
              <span class="user-data">{{ firstname.value }} {{ surname.value }}</span>
              <button class="back btn btn-bronirovka" (click)="confirmBooking = !confirmBooking"><i class="fa fa-long-arrow-left"></i> {{'bookingpage_back' | translate}}</button>
              <div class="row form-group">
                <div class="col-sm-6 col-lg-5">
                  <label class="form-text" for="country">{{'bookingpage_country_from' | translate}}</label>
                  <select class="form-control" id="country" name="country" formControlName="country">
                    <option value="UA" selected="selected">{{'bookingpage_chose_country' | translate}}</option>
                    <option *ngFor="let country of counties.list" [value]="country">{{country.toLocaleLowerCase() | translate}}</option>
                  </select>
                  <div class="d-none d-sm-block d-md-none">
                    <label class="form-text">{{'bookingpage_email_value' | translate}}</label>
                    <span class="user-data">{{ email.value }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 phone">
                  <label for="phone" class="form-text" [innerHTML]="'bookingpage_phone' | translate"></label>
                  <input id="phone" [textMask]="{mask: mask, guide: false}" formControlName="phone" class="form-control phone__input" type="text" placeholder="+ 00 (000) 000-0000" required/>
                  <div *ngIf="phone.invalid && phone.touched" class="text-danger">
                    <div *ngIf="phone.errors.required">{{'bookingpage_enter_phone' | translate}}</div>
                    <div *ngIf="phone.errors.minlength">{{'bookingpage_phone_invalid' | translate}}</div>
                  </div>
                  <label class="form-text phone__description">{{'bookingpage_phone_require' | translate}}</label>
                </div>
              </div>
              <div class="row form-group d-sm-none d-md-flex">
                <div class="col-12">
                  <label class="form-text">{{'bookingpage_email_value' | translate}}</label>
                  <span class="user-data">{{ email.value }}</span>
                </div>
              </div>
              <div class="row form-group rooms-confirm">
                <div class="col-12">
                  <div class="d-block rooms-confirm__room" *ngFor="let room of roomsArray; index as i">
                    <h6 class="room-title"><span class="room-title__capital">{{ room.roomtitle.title | slice:0:1 }}</span>{{ room.roomtitle.title | slice:1:room.roomtitle.title.length}}</h6>
                    <span class="rooms-confirm__room__text">{{'bookingpage_formed' | translate}} {{ roomsArray[i].person.name }} {{ roomsArray[i].person.surname }}</span>
                    <span class="rooms-confirm__room__text">
                      {{'bookingpage_will_live' | translate}}
                      <div class="text-left guests d-inline ml-2">
                        <i *ngFor="let guest of room.guests" class="fa fa-male"></i>
                        <i *ngFor="let child of room.childrens" class="child fa fa-child"></i>
                      </div>
                    </span>
                    <span class="rooms-confirm__room__text" [hidden]="room.childAges.length == 0">
                      {{'bookingpage_children' | translate}}: <span *ngFor="let age of room.childAges; let isFirst = first" class="child">{{isFirst?'':','}} {{age}} <span [hidden]="age < 2">{{'bookingpage_ages' | translate}}</span><span [hidden]="age > 1">{{'bookingpage_age' | translate}}</span></span>
                    </span>
                    <div *ngIf="room.nutrition !== 'RO'" class="rooms-confirm__room__nutrition">
                      <span class="text-success">{{HBNutrition[room.nutrition] | translate}} {{'bookingpage_nutrition_in' | translate}}</span>
                    </div>
                    <div *ngIf="room.nutrition == 'RO'" class="rooms-confirm__room__nutrition no">
                      <span class="text-dark">{{'bookingpage_nutrition_no' | translate}}</span>
                    </div>
                    <div *ngIf="room.tariffdescription" class="rooms-confirm__room__description">
                      {{room.tariffdescription}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-3 mb-0 form-group policy">
                <div class="policy__text" [innerHTML]="'bookingpage_policy_1' | translate"></div>
                <div class="policy__confirm">
                  <label class="checkbox-label" [ngClass]="{ 'checked': policyConfirm[0] }">
                    <span class="checkmark"></span>
                    <span class="text">{{ 'bookingpage_policy_confirm' | translate }}</span>
                    <input type="checkbox" [checked]="policyConfirm[0]" (click)="policyConfirm[0] = !policyConfirm[0]"/>
                  </label>
                </div>
                <div class="policy__text" [innerHTML]="'bookingpage_policy_2' | translate"></div>
                <div class="policy__confirm">
                  <label class="checkbox-label" [ngClass]="{ 'checked': policyConfirm[1] }">
                    <span class="checkmark"></span>
                    <span class="text">{{ 'bookingpage_policy_confirm' | translate }}</span>
                    <input type="checkbox" [checked]="policyConfirm[1]" (click)="policyConfirm[1] = !policyConfirm[1]"/>
                  </label>
                </div>
                <div class="policy__text" [innerHTML]="'bookingpage_policy_3' | translate"></div>
                <div class="policy__confirm">
                  <label class="checkbox-label" [ngClass]="{ 'checked': policyConfirm[2] }">
                    <span class="checkmark"></span>
                    <span class="text">{{ 'bookingpage_policy_confirm' | translate }}</span>
                    <input type="checkbox" [checked]="policyConfirm[2]" (click)="policyConfirm[2] = !policyConfirm[2]"/>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="postWrongBookingInfo" class="alert alert-danger">
          <ng-container *ngIf="postWrongBookingInfo.length > 0; else defaulterr">
            <div>{{'bookingpage_no_free_rooms' | translate}}</div>
            <div *ngFor="let err of postWrongBookingInfo">{{err.title}} {{'bookingpage_available' | translate}} {{err.maxRoomAvilable}}</div>
          </ng-container>
          <ng-template #defaulterr>{{'bookingpage_invalid_data' | translate}}</ng-template>
        </div>
        <div *ngIf="bookingproess" class="bookingprocess">
          <div>{{'bookingpage_booking_process' | translate}}</div>
          <img src="../../../assets/images/loading_image.gif">
        </div>
        <button *ngIf="!confirmBooking" class="btn btn-bronirovka align-self-center" (click)="confirmingBooking()">{{'bookingpage_continue' | translate}}</button>
        <span *ngIf="confirmBooking && !bookingproess" class="align-self-center" (click)="postBooking()">
          <button class="button-pay" [disabled]="policyConfirm.includes(false)" style="border: none; display:inline-block;text-align: center;padding: 7px 20px;color: #fff ; font-size:16px; font-weight: 600; font-family:OpenSans, sans-serif; cursor: pointer; border-radius: 2px;background: rgb(0,74,127);">
            <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text" style="margin-right: 7px; vertical-align: middle ;"/>
            <span style="vertical-align:middle;">{{'bookingpage_pay' | translate}} {{bookingservice.countRoomsPrice_hb(roomsArray) | number: '1.0-2'}} {{bookinginfo.currency}} <span *ngIf="bookinginfo.currency !== 'UAH'">({{bookingservice.countRoomsPrice_hb_uah(roomsArray) | number: '1.0-2'}} UAH)</span></span>
          </button>
        </span>
        <div *ngIf="displayBookingInfo" class="alert alert-success mt-3">
          {{'bookingpage_paying' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>

