<nav class="navbar" [ngClass]="{'mainpage': page === 'main'}">
  <div class="container">
    <a *ngIf="page !== 'main'" class="navbar-brand" [routerLink]="['/']">BRONIROVKA.UA</a>
    <div class="navbar-block">
      <div class="navbar-nav">
        <div class="nav-item" dropdown>
          <span dropdownToggle class="nav-item" data-toggle="dropdown"><span>{{searchData.currency}}</span>
            <i class="fa fa-caret-down ml-1 d-none d-sm-inline"></i></span>
          <ul *dropdownMenu class="dropdown-menu block-list dark">
            <li *ngFor="let key of currencies"><span (click)="changeCurrency(globals.CURRENCY[key])" class="dropdown-item">{{globals.CURRENCY[key]}}</span></li>
          </ul>
        </div>
      </div>
      <div class="navbar-nav">
        <div class="nav-item language" dropdown>
          <span dropdownToggle class="nav-item" data-toggle="dropdown"><span class="d-none d-md-inline-block">{{'lang' | translate}}</span><span class="d-md-none">{{'lang-sm' | translate}}</span>
            <i class="fa fa-caret-down ml-1 d-none d-sm-inline"></i></span>
          <ul *dropdownMenu class="dropdown-menu language__menu block-list dark">
            <li><span (click)="ChangeLanguage('ru')" class="dropdown-item">{{'header_ru' | translate}}</span></li>
            <li><span (click)="ChangeLanguage('ua')" class="dropdown-item">{{'header_ua' | translate}}</span></li>
            <li><span (click)="ChangeLanguage('en')" class="dropdown-item">{{'header_en' | translate}}</span></li>
          </ul>
        </div>
      </div>
      <div *ngIf="page !== 'main'" class="navbar-nav d-none d-sm-flex">
        <a [routerLink]="[SS.isLanguageCurrent.value, 'mylist']" class="nav-item"><span>{{'header_you_see' | translate}}</span></a>
      </div>
      <div class="navbar-nav">
        <div class="nav-item login" dropdown>
          <span dropdownToggle class="nav-item" data-toggle="dropdown">
            <div class="d-none d-sm-inline">
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!SS.isAuthorized.value" class="d-none d-md-inline-block"> {{'header_login' | translate}} </span>
              <span *ngIf="SS.isAuthorized.value" class="d-none d-md-inline-block"> {{'header_your_accaunt' | translate}} </span>
              <i class="fa fa-caret-down ml-1"></i>
            </div>
            <i class="fa fa-bars d-sm-none"></i>
          </span>
          <ul *dropdownMenu class="dropdown-menu login__menu block-list dark">
            <li *ngIf="page !== 'main'" class="d-sm-none"><a [routerLink]="[SS.isLanguageCurrent.value, 'mylist']" class="dropdown-item">{{'header_you_see' | translate}}</a></li>
            <ng-container *ngIf="!SS.isAuthorized.value; else loginlist" >
              <li><a class="dropdown-item" (click)="openModal(authmodal, 'login')">{{'header_logining' | translate}}</a></li>
              <li><a class="dropdown-item" (click)="openModal(authmodal, 'register')">{{'header_create_accaunt' | translate}}</a></li>
            </ng-container>
            <ng-template #loginlist>
              <li><a [routerLink]="[SS.isLanguageCurrent.value, 'cabinet']" class="dropdown-item">{{'header_own_cabinet' | translate}}</a></li>
              <li><a class="dropdown-item" (click)="logOut()">{{'header_log_out' | translate}}</a></li>
            </ng-template>
            <!--<li><a class="dropdown-item" href="{{globals.JOIN_HREF}}">{{'header_register_object' | translate}}</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<ng-template #authmodal class="logining">
  <button type="button" class="close pull-right" (click)="modalRef.hide()">
    <span>&times;</span>
  </button>
  <div *ngIf="modalmod === 'login'">
    <div class="modal-header">
      <h5 class="modal-title pull-left">{{'header_enter' | translate}}</h5>
    </div>
    <div class="modal-body">
      <div [hidden]="!errorMessage">
        <div class="alert-danger">{{errorMessage | translate}}</div>
        <div class="forgot">{{ 'login_forgot' | translate}}<span class="renew" (click)="goToForgotRecovery()">{{'login_renew' | translate}}</span></div>
      </div>
      <form (ngSubmit)="login()" #f="ngForm" class="mt-3">
        <div class="form-group row">
          <label for="email" class="form-text col-3 text-right">{{'login_email' | translate}}</label>
          <input class="form-control col-8" [(ngModel)]="formData.email" id="email" name="email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <div *ngIf="email.invalid && email.touched" class="text-danger col-8 offset-3 p-0">
            <div *ngIf="email.errors.required">{{'login_enter_email' | translate}}</div>
            <div *ngIf="email.errors.pattern">{{'login_email_invalid' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="form-text col-3 text-right">{{'login_password' | translate}}</label>
          <input class="form-control col-8" id="password" [(ngModel)]="formData.password" #password="ngModel" name="password" type="password" required minlength="6" maxlength="99">
          <div *ngIf="password.invalid && password.touched" class="text-danger col-8 offset-3 p-0">
            <div *ngIf="password.errors.required">{{'login_enter_password' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'login_password_6' | translate}}</div>
            <div *ngIf="password.errors.maxlenght">{{'login_password_99' | translate}}</div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-bronirovka" [disabled]="f.invalid">{{'login_enter' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="modalmod === 'forgot'">
    <div class="modal-header">
      <h5 class="modal-title pull-left">{{'header_recovery' | translate}}</h5>
    </div>
    <div class="modal-body">
      <div [hidden]="!errorMessage">
        <div class="alert-danger">{{errorMessage | translate}}</div>
      </div>
      <div [hidden]="!successMessage">
        <div class="alert-success">{{successMessage | translate}}</div>
      </div>
      <form class="mt-3 pr-3 pl-3" (ngSubmit)="sentEmail()">
        <div class="form-group">
          <label class="form-text mb-2">{{'login_renew_email' | translate}}</label>
          <input class="form-control" [value]="formData.email" [(ngModel)]="formData.email" name="forgotmail">
        </div>
        <div class="form-group text-center">
          <button type="submit" [hidden]="successMessage" class="btn btn-bronirovka">{{'login_further' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="modalmod === 'recovery'">
    <div class="modal-header">
      <h5 class="modal-title pull-left">{{'header_recovery' | translate}}</h5>
    </div>
    <div class="modal-body">
      <div [hidden]="!errorMessage">
        <div class="alert-danger">{{'login_invalid_token' | translate}}</div>
      </div>
      <form (ngSubmit)="recoveryPassword()" #ff="ngForm" class="mt-3 pr-3 pl-3">
        <div class="form-group row">
          <label class="form-text col-3 text-right">{{'login_token' | translate}}</label>
          <input class="form-control col-8" name="token" [(ngModel)]="formData.token" #token="ngModel" required>
          <div *ngIf="token.invalid && token.touched" class="text-danger col-8 offset-3 p-0">
            <div *ngIf="token.errors.required">{{'login_enter_token' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="form-text col-3 text-right">{{'login_password' | translate}}</label>
          <input class="form-control col-8" name="password" [(ngModel)]="formData.password" #password="ngModel" type="password" required minlength="6" maxlength="99">
          <div *ngIf="password.invalid && password.touched" class="text-danger col-8 offset-3 p-0">
            <div *ngIf="password.errors.required">{{'login_enter_password' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'login_password_6' | translate}}</div>
            <div *ngIf="password.errors.maxlenght">{{'login_password_99' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="form-text col-3 text-right">{{'login_password_confirm' | translate}}</label>
          <input class="form-control col-8" name="passwordconfirm" type="password" [(ngModel)]="formData.passwordconfirm" #passwordconfirm="ngModel" required minlength="6" maxlength="99">
          <div *ngIf="passwordconfirm.invalid && passwordconfirm.touched" class="text-danger col-8 offset-3 p-0">
            <div *ngIf="passwordconfirm.errors.required">{{'login_enter_password' | translate}}</div>
            <div *ngIf="passwordconfirm.errors.minlength">{{'login_password_6' | translate}}</div>
            <div *ngIf="passwordconfirm.errors.maxlenght">{{'login_password_99' | translate}}</div>
            <div *ngIf="formData.passwordconfirm !== formData.password">{{'login_passwords_not_equal' | translate}}</div>
          </div>
        </div>
        <div class="form-group text-center mt-2">
          <button type="submit" [disabled]="ff.invalid" class="btn btn-bronirovka">{{'login_further' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="modalmod === 'register'">
    <div class="modal-header">
      <h5 class="modal-title pull-left">{{'header_register' | translate}}</h5>
    </div>
    <div class="modal-body">
      <div [hidden]="!successMessage" class="alert-success" [innerHTML]="successMessage | translate">
      </div>
      <div [hidden]="!errorMessage" class="alert-danger">
        {{errorMessage | translate}}
      </div>
      <form (ngSubmit)="register()" #fr="ngForm" class="mt-3">
        <div class="form-group row">
          <label class="form-text col-4 text-right">{{'login_email' | translate}}</label>
          <input class="form-control col-7" [(ngModel)]="formData.email" #email="ngModel" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <div *ngIf="email.invalid && email.touched" class="text-danger col-7 offset-4 p-0">
            <div *ngIf="email.errors.required">{{'login_enter_email' | translate}}</div>
            <div *ngIf="email.errors.pattern">{{'login_email_invalid' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="form-text col-4 text-right">{{'login_password' | translate}}</label>
          <input class="form-control col-7" name="password" type="password" [(ngModel)]="formData.password" #password="ngModel" required minlength="6" maxlength="99">
          <div *ngIf="password.invalid && password.touched" class="text-danger col-7 offset-4 p-0">
            <div *ngIf="password.errors.required">{{'login_enter_password' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'login_password_6' | translate}}</div>
            <div *ngIf="password.errors.maxlenght">{{'login_password_99' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="form-text col-4 text-right">{{'login_password_confirm' | translate}}</label>
          <input class="form-control col-7" name="passwordconfirm" type="password" [(ngModel)]="formData.passwordconfirm" #passwordconfirm="ngModel" required minlength="6" maxlength="99">
          <div *ngIf="(passwordconfirm.invalid || (formData.passwordconfirm !== formData.password)) && passwordconfirm.touched" class="text-danger col-7 offset-4 p-0">
            <div *ngIf="passwordconfirm.errors">
              <div *ngIf="passwordconfirm.errors.required">{{'login_enter_password' | translate}}</div>
              <div *ngIf="passwordconfirm.errors.minlength">{{'login_password_6' | translate}}</div>
              <div *ngIf="passwordconfirm.errors.maxlenght">{{'login_password_99' | translate}}</div>
            </div>
            <div *ngIf="formData.passwordconfirm !== formData.password">{{'login_passwords_not_equal' | translate}}</div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-bronirovka" [disabled]="fr.invalid">{{'login_create' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

