@import "../../assets/styles/color-consts";
a {
  color: $dark-main-color;
}
.navbar {
  .nav-item {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
  }
  .nav-item:focus {
    outline: none;
  }
  .nav-item:hover {
    text-decoration: none;
  }
  padding: 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: $dark-main-color;
  font-weight: bold;
  .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    top: 35px !important;
    padding: 0;
    position: absolute;
    .dropdown-item:focus, .dropdown-item:hover {
      background: $main-gray-color;
      color: #000;
    }
  }
  .navbar-brand {
    color: $dark-main-color;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 0;
    img {
      height: 50px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .navbar-brand:hover {
    color: $dark-main-color;
  }
  .navbar-block {
    display: flex;
    align-self: stretch;
    .navbar-nav {
      padding: 0 15px;
      border-right: 1px solid #ddd;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      @media (max-width: 767px) {
        margin: 5px 0;
      }
    }
    .navbar-nav:last-child {
      border-right: none;
      padding-right: 0;
    }
    .fa {
      color: $second-color;
      font-size: 18px;
      top: 2px;
      position: relative;
    }
  }
}
.form-text {
  line-height: 1;
}
.alert-danger {
  line-height: 1;
  background-color: #fb7876;
  padding: 10px 15px;
}
.alert-success {
  line-height: 1;
  padding: 10px 15px;
}
.forgot {
  padding-left: 15px;
  font-size: 12px;
  .renew {
    color: #337ab7;
    cursor: pointer;
    margin-left: 10px;
  }
  .renew:hover {
    color: #004A7f;
  }
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.navbar.mainpage {
  box-shadow: none;
  border: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: white;
  .navbar-brand {
    color: #fff;
    opacity: 0;
  }
  .navbar-nav {
    border: none !important;
  }
}
.mainpage .navbar-block {
  padding: 15px;
  padding-right: 0 !important;
  @media (max-width: 767px) {
    padding: 5px;
  }
}
.mainpage .container {
  justify-content: flex-end !important;
}
.mainpage .dropdown-menu {
  top: 100% !important;
}
.modal-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-body {
  padding: 0;
  .form-text {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;
  }
}
.close:focus {
  outline: none;
}
.main-block-list {
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.72);
  font-size: 14px;
  .dropdown-item {
    color: #668;
  }
}
.text-danger {
  margin-top: 5px;
}
