<!--<div class="note-develop">-->
  <!--Сайт у процессі розробки. Заходьте до нас навесні <img src="../../assets/images/smile.png">-->
<!--</div>-->
<div class="credits d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <h5 class="credits__title">{{'about-company' | translate}}</h5>
        <ul class="list-unstyled d-inline-block text-left">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'about-us']">{{'about-us' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'community']">{{'community' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'career']">{{'career' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 text-lg-center">
        <h5 class="credits__title">{{'help-in-booking' | translate}}</h5>
        <ul class="list-unstyled d-inline-block text-left">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'connect']">{{'connect' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'how-book']">{{'how-book' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'book-and-pay']">{{'book-and-pay' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 text-lg-center">
        <h5 class="credits__title">{{'using-site' | translate}}</h5>
        <ul class="list-unstyled d-inline-block text-left">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'using-site']">{{'using-site' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'politic']">{{'politic' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'cookie']">{{'cookie' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-start justify-content-lg-end mb-3">
        <span class="cards">
          <div class="inner">
            <img src="../../assets/images/cards/mastercard-black.png" class="inner__item image">
          </div>
          <div class="inner">
            <img src="../../assets/images/cards/visa-black.png" class="inner__item image">
          </div>
        </span>
        <span class="links">
          <div class="inner">
            <a href="https://www.facebook.com/bronirovka" class="inner__item icon fa fa-facebook"></a>
            <a href="https://web.telegram.org/#/im?p=@bronirovkaua" class="inner__item icon">
              <img src="../../assets/images/cards/telegram-icon.svg">
            </a>
          </div>
          <div class="inner">
            <a href="https://www.instagram.com/bronirovka.ua" class="inner__item icon fa fa-instagram"></a>
            <a href="www.linkedin.com/in/bronirovka" class="inner__item icon fa fa-linkedin"></a>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="popular d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-2 d-inline-block">
        <h5 class="popular__title">{{'main_pop_countr' | translate}}</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua']">{{'ua' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'pt']">{{'pt' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'es']">{{'es' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'fr']">{{'fr' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'it']">{{'it' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'de']">{{'de' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'nl']">{{'nl' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'gb']">{{'gb' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'at']">{{'at' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2 d-inline-block">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'hr']">{{'hr' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'pl']">{{'pl' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'hu']">{{'hu' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'cz']">{{'cz' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ro']">{{'ro' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'gr']">{{'gr' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'cy']">{{'cy' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'tr']">{{'tr' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'il']">{{'il' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'eg']">{{'eg' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'us']">{{'us' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ae']">{{'ae' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ru']">{{'ru' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2 d-inline-block">
        <h5 class="popular__title">{{'main_pop_cities' | translate}}</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kyiv']">{{'kyiv' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'lviv']">{{'lviv' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'odessa']">{{'odessa' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kharkiv']">{{'kharkiv' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'dnipropetrovsk']">{{'dnipropetrovsk' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'es', 'barselona']">{{'barselona' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'it', 'rome']">{{'rome' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'it', 'milan']">{{'milan' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2 d-inline-block">
        <ul class="list-unstyled">

          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'fr', 'paris']">{{'paris' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'gb', 'london']">{{'london' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'nl', 'amsterdam']">{{'amsterdam' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'truskavets']">{{'truskavets' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'pochaev']">{{'pochaev' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kamenetz_kodolsky']">{{'kamenetz_kodolsky' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'rivne']">{{'rivne' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'vinnytsya']">{{'vinnytsya' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'zhytomyr']">{{'zhytomyr' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'white_church']">{{'white_church' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'cherkassy']">{{'cherkassy' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kropyvnytskyi']">{{'kropyvnytskyi' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2 d-inline-block">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kremenchuk']">{{'kremenchuk' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'poltava']">{{'poltava' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'krivoy_rog']">{{'krivoy_rog' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'zaporizhzhya']">{{'zaporizhzhya' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'sumy']">{{'sumy' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'mykolayiv']">{{'mykolayiv' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kherson']">{{'kherson' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'zatoka']">{{'zatoka' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'mariupol']">{{'mariupol' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'chernihiv']">{{'chernihiv' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'bukovel']">{{'bukovel' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'ivano_frankivsk']">{{'ivano_frankivsk' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'uzhhorod']">{{'uzhhorod' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-2 d-inline-block">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'hu', 'budapest']">{{'budapest' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'de', 'berlin']">{{'berlin' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'at', 'vienna']">{{'vienna' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'it', 'venice']">{{'venice' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'pt', 'lisbon']">{{'lisbon' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'fr', 'lyon']">{{'lyon' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ch', 'zurich']">{{'zurich' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'de', 'munich']">{{'munich' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'gb', 'frankfurt']">{{'frankfurt' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'us', 'new_york']">{{'new_york' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'us', 'miami']">{{'miami' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ae', 'dubai']">{{'dubai' | translate}}</a></li>
          <li><a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ge', 'tbilisi']">{{'tbilisi' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="d-none d-md-flex footer">
    <div class="m-0 row w-100">
      <div class="col-4 text-right">Copyright©2017-2019 Bronirovka.UA - Registered Trademark</div>
      <div class="col-4 text-center">{{'footer_booking' | translate}}</div>
      <div class="col-4 text-left">
        <a href="https://www.facebook.com/bronirovka" class="copy-icon fa fa-facebook"></a>
        <a href="https://web.telegram.org/#/im?p=@bronirovkaua" class="copy-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z" class=""></path></svg>
        </a>
        <a href="https://www.instagram.com/bronirovka.ua" class="copy-icon fa fa-instagram"></a>
        <a href="www.linkedin.com/in/bronirovka" class="copy-icon fa fa-linkedin"></a>
      </div>
    </div>
  </div>
  <div class="d-md-none footer-mobile">
    <!--<div class="footer-mobile__social">-->
      <!--<a href="#!"><i class="footer-mobile__social__fa fa fa-facebook"></i></a>-->
      <!--<a href="#!"><i class="footer-mobile__social__fa fa fa-twitter"></i></a>-->
      <!--<a href="#!"><i class="footer-mobile__social__fa fa fa-google-plus"></i></a>-->
      <!--<a href="#!"><i class="footer-mobile__social__fa fa fa-vk"></i></a>-->
    <!--</div>-->
    <ul class="footer-mobile__list list-unstyled">
      <li class="d-inline"><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'about-us']">{{'about-us' | translate}}</a></li>
      <li class="d-inline"><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'community']">{{'community' | translate}}</a></li>
      <li class="d-inline"><a [routerLink]="['/' + SS.isLanguageCurrent.value,'information', 'connect']">{{'connect' | translate}}</a></li>
    </ul>
    <div class="footer-mobile__copyright w-100">
      Copyright©2017-2019 Bronirovka.UA - Registered Trademark
    </div>
  </div>

</footer>
