@import "../../assets/styles/color-consts";
footer {
  text-align: center;
  .footer {
    background: #343a40;
    padding: 10px;
    color: #868e96;
    line-height: 1.5;
  }
  .footer-mobile {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #0f3052;
    &__copyright {
      font-size: 10px;
      opacity: .4;
    }
    &__list {
      margin-bottom: 5px;
      a {
        color: #fff;
        font-size: 14px;
        text-decoration: underline;
        margin-right: 10px;
      }
    }
    &__title {
      font-size: 16px;
      padding: 0 35px;
    }
    &__social {
      margin-bottom: 10px;
      a {
        display: inline-block;
        margin: 0 5px;
        color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        width: 40px;
        border-radius: 50%;
        height: 40px;
      }
      &__fa {
        margin-top: 13px;
      }
    }
  }
}
.note-develop {
  font-size: 24px;
  font-family: "Pangolin";
  background: #ffc;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  padding: 20px 40px;
  line-height: 1;
  img {
    height: 30px;
  }
}
@media (min-width: 768px) {
  .note-develop {
    position: fixed;
    top: 40px;
    left: 60px;
    width: 250px;
    z-index: 10;
    padding: 30px;
    transform:rotate(-6deg);
    transition: transform .15s linear;
  }
  .note-develop:hover, .note-develop:focus {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
  }
}
.credits, .popular {
  color: $main-gray-text-color;
  padding: 1em 0;
  font-weight: 600;
  &__title {

    margin-bottom: 15px;
    font-size: 1.3em;
    line-height: 1;
    text-align: left;
    @media (min-width: 992px) {
      min-height: 36px;
    }
  }
  a {
    color: $main-gray-text-color;
  }
  a:hover {
    color: #111;
  }
}
.credits {
  padding-bottom: 0;
  background-color: $main-gray-color;
  margin-top: 20px;
}
.popular {
  li {
    line-height: 0.8;
    margin-bottom: 10px;
    a {
      display: inline-block;
    }
  }
}
.inner {
  display: flex;
  height: 50px;
  margin-top: 10px;
  &__item {}
  &__item.image {
    height: 80px;
    position: relative;
    top: -16px;
    filter: contrast(10%);
  }
  &__item.icon {
    font-size: 24px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 40px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      filter: contrast(15%);
    }
  }
  &__item.icon:hover {
    img {
      filter: contrast(100%);
    }
  }
}
.copy-icon {
  color: #868e96;
  font-size: 16px;
  margin-right: 10px;
  svg {
    height: 20px;
  }
}
.copy-icon:hover {
  color: #5aaedc;
}
