<div class="container">
  <h1>{{seo | translate}}</h1>
  <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
    ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
</div>
