@import "../../../assets/styles/color-consts";
$green-main: #1b7625;
.hotel-table {
  &__table2 {
    table {
      position: relative;
    }
    .second-head {
      position: fixed;
      top: 0;
      z-index: 3;
    }
    .empty-table {
      height: 100px;
      background: $main-gray-color;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-weight: bold;
        font-size: 20px;
        color: $main-gray-text-color;
      }
    }
    thead th {
      background: $second-main-color;
      font-size: 13px;
      font-weight: bold;
      color: white;
      line-height: 1;
      vertical-align: middle;
    }
    thead th.count {
      background-color: $main-color;
    }
    tbody {
      border: none !important;
    }
    tbody td {
      border-color: #dedede;
      padding: 6px;
      padding-bottom: 8px;
    }
    tbody tr:last-child td{
      border-bottom-width: 3px;
    }
    tbody:last-child tr:last-child td {
      border-bottom-width: 1px;
    }
    .room {
      &__mans {
        font-size: 16px;
        text-align: right;
        .added {
          color: #bbb;
        }
        .child {
          font-size: 12px;
        }
      }
      &__text {
        min-width: 180px;
        border-left: none;
        border-bottom-width: 1px !important;
        &__area {
          font-size: 12px;
          color: $green-main;
          display: block;
          .square {
            font-size: 8px;
            position: relative;
            bottom: 3px;
          }
        }
        &__tax {
          display: block;
          font-size: 12px;
          font-weight: bolder;
          color: black;
          line-height: 1;
          margin-bottom: 5px;
          span {
            white-space: nowrap;
          }
        }
        &__addinfo {
          display: block;
          line-height: 1;
          color: #07c;
          cursor: pointer;
          font-size: 12px;
        }
        &__title {
          font-size: 13px;
          color: #07c;
          font-weight: bold;
          text-decoration: underline;
          display: block;
          line-height: 1;
          margin-bottom: 10px;
        }
        &__title.photos {
          cursor: pointer;
        }
        &__title.photos:hover {
          color: $second-color;
        }
        &__beds {
          margin-top: 10px;
          color: black;
          &__choice, &__other {
            padding: 5px 10px;
            line-height: 1;
            font-size: 12px;
          }
          &__choice {
            padding: 10px;
            background: $list-background;
            .title {
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
      }
      &__price {
        text-align: center;
        font-weight: bold;
        color: $green-main;
        &__discount {
          display: block;
          color: #ed0808;
          font-weight: bold;
          font-size: 18px;
        }
        &__priceWdisc {
          color: #bbb;
          text-decoration: line-through;
        }
      }
      &__count {
        font-size: 13px;
        select {
          min-width: 110px;
        }
      }
      &__type {
        font-size: 12px;
        line-height: 0.8;
        min-width: 160px;
        .nutrition, .cancel-policy {
          display: flex;
          margin-top: 5px;
          color: $green-main;
          &__icon {
            display: inline-block;
            white-space: nowrap;
            margin-right: 5px;
          }
          &__text {
            display: inline-block;
            line-height: 1;
            .name {
              text-transform: lowercase;
            }
          }
        }
        .nutrition {
          color: #ce6342;
        }
        .cancel-policy {
          color: black;
        }
        .room-type {
          display: flex;
          color: $green-main;
        }
        .type {
          display: block;
        }
      }
      &__button {
        border: none;
        max-width: 130px;
        width: 130px;
        padding: 0 !important;
        position: relative;
        .block {
          z-index: 2;
          margin-left: 10px;
          position: fixed;
        }
        .block.noscroll {
          top: 0 !important;
          position: relative;
        }
        .btn-bronirovka {
          margin-top: 8px;
        }
        .total-price {
          position: absolute;
          background: $main-gray-color;
          padding: 15px 10px;
          margin-top: 12px;
          max-width: 131px;
          text-align: left;
          width: 131px;
          left: -10px;
          .price {
            font-weight: bold;
            color: black;
            text-align: right;
            margin-top: 5px;
            line-height: 1;
          }
        }
      }
    }
    tbody:last-child .room__button {
      border-bottom: 1px solid #dedede;
    }
  }
}
carousel.photos {
  margin-bottom: 10px;
  .carousel-item.active {
    text-align: center;
    background: $main-gray-color;
    img {
      height: 320px;
      max-height: 320px;
    }
  }
}
carousel.photos-mobile {
  .carousel-item.active {
    text-align: center;
    background: $main-gray-color;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.roomfacilities__title {
  color: $dark-main-color;
  margin-top: 10px;
  line-height: 1;
}
.roomfacilities {
  display: flex;
  margin-bottom: 10px;
  &__icon {
    align-self: center;
    padding: 8px;
    line-height: 0;
    background-color: $main-color;
    border-radius: 50%;
    margin-right: 10px;
    .fa {
      height: 18px;
      width: 18px;
      text-align: center;
      color: white;
    }
    .fa:before {
      vertical-align: middle;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 15px;
      align-self: center;
    }
  }
}
.empty-mobile {
  display: flex;
  color: #ddd;
  line-height: 1;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
.room-mobile {
  &__block {
    margin-bottom: 10px;
    overflow: hidden;
    &__title {
      //background: $main-color;
      z-index: 2;
      background: #46b36d;
      color: white;
      font-weight: 500;
      font-size: 16px;
      border-radius: 5px 5px 0 0;
      padding: 10px 15px;
      position: absolute;
      width: calc(100% - 30px);
      left: -10px;
      top: -10px;
      i {
        margin-left: 5px;
        font-size: 30px;
        line-height: 0;
        position: relative;
        top: 5px;
      }
    }
    &__room {
      z-index: -1;
      .price {
        font-weight: bold;
      }
      .nutrition {
        font-size: 12px;
        white-space: nowrap;
      }
      .description {
        color: #333;
      }
      .carousel-mobile {
        background: $main-gray-color;
        display: flex;
        align-items: center;
        min-height: 220px;
      }
      .roomfacil {
        color: $main-color;
        &__title {
          margin-bottom: 5px;
          line-height: 0.9;
          font-size: 16px;
        }
        &__block {
          padding: 0;
          margin: 0;
          line-height: 0.8;
        }
        &__item {
          margin-right: 10px;
          display: inline-block;
          font-size: 12px;
        }
      }
    }
    &__tariff {
      background: white;
      line-height: 1;
      padding: 10px 0;
      border: 1px solid #ddd;
      border-bottom: none;
      z-index: 2;
      position: relative;
      .type {
        margin-bottom: 7px;
        display: block;
      }
      .cancel-policy {
        font-size: 12px;
      }
      .nutrition {
        color: #1b7625;
        display: flex;
        font-size: 12px;
        &__icon {
          margin-right: 5px;
        }
        &__text__li {
          display: inline-block;
          white-space: nowrap;
          .name {
            text-transform: lowercase;
          }
        }
      }
      .nutrition.pay {
        color: #000;
      }
      .price {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .mans {
          color: $main-color;
          font-size: 16px;
          margin-bottom: 10px;
          .child {
            font-size: 12px;
          }
        }
      }
    }
    &__tariff:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
}
.mobile-button-bron {
  font-weight: bold;
  cursor: pointer;
  background: $second-main-color;
  position: fixed;
  z-index: 3;
  color: white;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 5px 15px;
  font-size: 20px;
}
.bed {
  margin-right: 7px;
  max-height: 20px;
  max-width: 20px;
}
.area {
  font-size: 12px;
  color: $green-main;
  display: block;
  .square {
    font-size: 8px;
    position: relative;
    bottom: 3px;
  }
}
.img-row {
  margin-top: 3px;
  padding: 0 3px;
  &__img {
    height: 30px;
    display: inline-block;
    width: auto;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
  }
  &__img.active {
    outline: 2px solid $second-main-color;
  }
}
.preloader {
  height: 52px;
  .loader-animate {
    height: 100%;
  }
}
.roomphotos {
  .empty {
    height: auto;
  }
}
