<div class="hotel-table">
  <app-search-form [view]="'table'" (search)="search($event)"></app-search-form>
  <div *ngIf="SD.checkIn && SD.checkOut" class="hotel-table__table2">
    <table *ngIf="RA" #table class=" d-none d-lg-block table table-bordered w-100" (window:scroll)="tableScroll()">
      <thead class="second-head" [style.left.px]="tablehead.getBoundingClientRect().left" [ngClass]="{'d-none': !displaySecondHead}">
      <tr>
        <th [style.width.px]="tablehead.children[0].offsetWidth">{{'hotelpagetable_room_type' | translate}}</th>
        <th [style.width.px]="tablehead.children[1].offsetWidth">{{'hotelpagetable_guest_count' | translate}}</th>
        <th class="count" [style.width.px]="tablehead.children[2].offsetWidth">{{'hotelpagetable_today_price' | translate}}</th>
        <th [style.width.px]="tablehead.children[3].offsetWidth">{{'hotelpagetable_amenities' | translate}}</th>
        <th [style.width.px]="tablehead.children[4].offsetWidth">{{'hotelpagetable_room_count' | translate}}</th>
        <th [style.width.px]="tablehead.children[5].offsetWidth">{{'hotelpagetable_booking' | translate}}</th>
      </tr>
      </thead>
      <thead>
      <tr #tablehead>
        <th>{{'hotelpagetable_room_type' | translate}}</th>
        <th>{{'hotelpagetable_guest_count' | translate}}</th>
        <th class="count">{{'hotelpagetable_today_price' | translate}}</th>
        <th>{{'hotelpagetable_amenities' | translate}}</th>
        <th>{{'hotelpagetable_room_count' | translate}}</th>
        <th>{{'hotelpagetable_booking' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let room of RA; index as i" class="room">
      <tr *ngFor="let tariff of room.tariffs; index as j; trackBy: trackByIdx">
        <td *ngIf="j === 0" [rowSpan]="room.tariffs.length" class="room__text">
          <span class="room__text__title" (click)="openPhotoModal(roomphotos, i)" [ngClass]="{'photos': room.facilities || room.photos.length > 0}">{{room.title.title}}</span>
          <span class="room__text__area" *ngIf="room.area">{{'hotelpagetable_area' | translate}} {{room.area}}м<span class="square">2</span></span>
          <span class="room__text__tax" *ngIf="payments && !payments.isTaxIncluded && payments.tax">{{'hotelpagetable_cost_noincluded' | translate}} <span>{{payments.tax}}{{'hotelpagetable_pdw' | translate}}</span></span>
          <span class="room__text__tax" *ngIf="payments && payments.isTaxIncluded && payments.tax">{{'hotelpagetable_cost_included' | translate}} <span>{{payments.tax}}{{'hotelpagetable_pdw' | translate}}</span></span>
          <span class="room__text__addinfo" (click)="openPhotoModal(roomphotos, i)" *ngIf="(room.facilities && room.facilities.length > 0) || (room.photos && room.photos.length > 0)">{{'hotelpagetable_see_added' | translate}} <i class="fa fa-long-arrow-right"></i></span>
          <div class="room__text__beds" *ngIf="room.beds">
            <div class="room__text__beds__choice" *ngIf="hasTransformBed(room.beds)">
              <div class="title">{{'hotelpagetable_bed_type' | translate}}</div>
              <label class="checkbox-label checkbox-label__radio d-flex pt-1" [ngClass]="{ 'checked': room.bedTransform === 'S' }">
                <span class="checkmark"></span>
                <span class="text">{{'hotelpagetable_bed_1' | translate}} <img class="bed" src="../../assets/images/beds/bed-2.svg"></span>
                <input type="radio" value="S" name="radio-beds" [(ngModel)]="room.bedTransform"/>
              </label>
              <label class="checkbox-label checkbox-label__radio d-flex pt-1" [ngClass]="{ 'checked': room.bedTransform === 'D' }">
                <span class="checkmark"></span>
                <span class="text">{{'hotelpagetable_bed_2' | translate}} <img class="bed mr-0" src="../../assets/images/beds/bed-1.svg"><img class="bed" src="../../assets/images/beds/bed-1.svg"></span>
                <input type="radio" value="D" name="radio-beds" [(ngModel)]="room.bedTransform"/>
              </label>
            </div>
            <div class="room__text__beds__other">
              <span *ngFor="let be of room.beds; index as b"><ng-container *ngIf="be.type.isTransformed === false"><span *ngIf="b > 0">{{'hotelpagetable_and' | translate}}</span> {{be.count}} {{be.type.title}} <img class="bed" [src]="'../../assets/images/beds/' + bedImage(be.type.code)"></ng-container></span>
            </div>
          </div>
        </td>
        <td class="room__mans">
          <ng-container *ngIf="bb; else ourguests">
            <i *ngFor="let users of tariff.guests" class="fa fa-male"></i>
            <i *ngFor="let child of tariff.childrens" class="fa child fa-child"></i>
          </ng-container>
          <ng-template #ourguests>
            <i *ngFor="let users of room.guests; index as h" [ngClass]="{'added': SD.adults <= h}" class="fa fa-user"></i>
          </ng-template>
        </td>
        <td class="room__price">
          <span [ngClass]="{'room__price__priceWdisc': (tariff.price > tariff.priceWithDiscount) }">{{tariff.price | number: '1.0-2'}} {{SD.currency}}</span>
          <span *ngIf="tariff.price > tariff.priceWithDiscount" class="room__price__discount">{{tariff.priceWithDiscount | number: '1.0-2'}} {{SD.currency}}</span>
        </td>
        <td class="room__type">
          <div class="room-type">
            <div class="cancel-policy__icon">
              <i class="fa fa-money"></i>
            </div>
            <span *ngIf="tariff.type === 'STANDART'; else unrefunable" class="type">{{'hotelpagetable_pay_after_in' | translate}}</span>
            <ng-template #unrefunable>
              <span class="type">{{'hotelpagetable_pay_in_booking' | translate}}</span>
            </ng-template>
          </div>
          <div *ngIf="tariff.nutritions && tariff.nutritions.length > 0" class="nutrition">
            <div class="nutrition__icon">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="nutrition__text">
                <span class="d-flex nowrap" *ngFor="let nut of tariff.nutritions">
                  <span class="name" class="text-lowercase">{{HNutrition[nut.type] | translate}}</span>
                  <span *ngIf="nut.price > 0" class="ml-1"> {{nut.price}} {{SD.currency}}</span>
                  <i *ngIf="nut.nutririontooltip" class="fa fa-question-circle-o ml-1" [tooltip]="nut.nutririontooltip | translate"></i>
                </span>
            </div>
          </div>
          <div *ngIf="tariff.nutrition" class="nutrition">
            <div class="nutrition__icon">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="nutrition__text">
              <span class="text-lowercase">{{HBNutrition[tariff.nutrition] | translate}}</span>
              <i *ngIf="tariff.nutririontooltip" class="fa fa-question-circle-o ml-1" [tooltip]="tariff.nutririontooltip | translate"></i>
            </div>
          </div>
          <div *ngIf="tariff.cancellationPolicies" class="cancel-policy">
            <!--<div class="cancel-policy__icon">-->
              <!--<i class="fa fa-money"></i>-->
            <!--</div>-->
            <div class="cancel-policy__text">
              <!--<div class="nowrap">{{'hotelpagetable_undo_cost' | translate}} {{tariff.cancellationPolicies[0].amount}} {{SD.currency}}</div>-->
              <!--<div>c {{tariff.cancellationPolicies[0].from | date: 'dd.MM.yyyy'}}</div>-->
              <div>{{'hotelpagetable_undo_text' | translate}}</div>
            </div>
          </div>
          <div *ngIf="room.tariffs[0].taxes" class="taxes mt-2">
            <div *ngFor="let tax of room.tariffs[0].taxes.taxes">
              {{'hotelpagetable_tax' | translate}} {{tax.clientAmount}} {{tax.clientCurrency}} <span *ngIf="tax.included">{{'hotelpagetable_included' | translate}}</span><span *ngIf="!tax.included">{{'hotelpagetable_noincluded' | translate}}</span>
            </div>
          </div>
        </td>
        <td class="room__count">
          <select class="w-100" (change)="checkRoomsCount(i, j, $event.target.value)" [(ngModel)]="tariff._checked_count" size="1">
            <option *ngFor="let roomcount of room._bookcount; index as k" value={{k}} [disabled]="k > tariff._count">{{k}} <span *ngIf="k !== 0">({{k * tariff.priceWithDiscount | number: '1.0-2'}})</span></option>
          </select>
        </td>
        <td *ngIf="j === 0" class="room__button" [rowSpan]="room.tariffs.length + 1">
          <div class="block" [ngClass]="{'noscroll' : !displaySecondHead}" [style.top.px]="tablehead.offsetHeight + 1">
            <button *ngIf="i == 0" [disabled]="bookingChecked()" (click)="startBooking()" #bookingbottom class="btn btn-bronirovka">{{'hotelpagetable_i_book' | translate}}</button>
            <div class="total-price" *ngIf="totalPrice > 0 && i == 0">
              <div class="title">{{'hotelpagetable_booking_price' | translate}}</div>
              <div class="price">{{totalPrice | number: '1.0-2'}} {{SD.currency}}</div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div [hidden]="RA" class="preloader">
      <div [hidden]="!loading" class="loader-animate"><span></span></div>
      <div [hidden]="loading" class="empty">{{'hotelpagetable_no_free_rooms' | translate}}</div>
    </div>
    <div *ngIf="RA" class="d-lg-none room-mobile">
      <div class="room-mobile__block position-relative" *ngFor="let room of RA; index as im; trackBy: trackByIdx">
        <div class="room-mobile__block__title">{{room.title.title}} <i [@extended] = "stateCaret(room.showfacil)" class="fa fa-angle-right"></i></div>
        <div class="room-mobile__block__room d-flex" [@extended]='stateName(true)'>
          <div *ngIf="room.photo.length > 0; else emptygallerymobile" class="carousel-mobile col-12 col-sm-4 p-0">
            <carousel [showIndicators]="false" class="photos-mobile">
              <slide *ngFor="let i of room.photo">
                <img [src]="i" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
              </slide>
            </carousel>
          </div>
          <ng-template #emptygallerymobile>
            <div class="empty-mobile col-12 col-sm-4 p-0">
              <span class="text-center">{{'hotelpagetable_no_room_photo' | translate}}</span>
            </div>
          </ng-template>
          <div class="col-12 col-sm-8 row pb-3 pt-3 pl-0 pr-0 m-0">
            <div class="col-12 col-sm-6">
              <span class="room__text__area" *ngIf="room.area">{{'hotelpagetable_area' | translate}} {{room.area}}м<span class="square">2</span></span>
              <span class="room__text__tax" *ngIf="payments && !payments.isTaxIncluded && payments.tax">{{'hotelpagetable_cost_noincluded' | translate}} <span>{{payments.tax}}{{'hotelpagetable_pdw' | translate}}</span></span>
              <span class="room__text__tax" *ngIf="payments && payments.isTaxIncluded && payments.tax">{{'hotelpagetable_cost_included' | translate}} <span>{{payments.tax}}{{'hotelpagetable_pdw' | translate}}</span></span>
              <div *ngIf="!_bb" class="room__mans text-left">
                <i *ngFor="let users of room.guests; index as h" [ngClass]="{'added': localSearchData.adults <= h}" class="fa fa-user"></i>
              </div>
              <div class="room__text__beds" *ngIf="room.beds">
                <div class="room__text__beds__choice" *ngIf="hasTransformBed(room.beds)">
                  <div class="title">{{'hotelpagetable_bed_type' | translate}}</div>
                  <label class="checkbox-label checkbox-label__radio d-flex pt-1" [ngClass]="{ 'checked': room.bedTransform === 'S' }">
                    <span class="checkmark"></span>
                    <span class="text">{{'hotelpagetable_bed_1' | translate}} <img class="bed" src="../../assets/images/beds/bed-2.svg"></span>
                    <input type="radio" value="S" name="radio-beds" [(ngModel)]="room.bedTransform"/>
                  </label>
                  <label class="checkbox-label checkbox-label__radio d-flex pt-1" [ngClass]="{ 'checked': room.bedTransform === 'D' }">
                    <span class="checkmark"></span>
                    <span class="text">{{'hotelpagetable_bed_2' | translate}} <img class="bed mr-0" src="../../assets/images/beds/bed-1.svg"><img class="bed" src="../../assets/images/beds/bed-1.svg"></span>
                    <input type="radio" value="D" name="radio-beds" [(ngModel)]="room.bedTransform"/>
                  </label>
                </div>
                <div class="room__text__beds__other">
                  <span *ngFor="let be of room.beds; index as b"><ng-container *ngIf="be.type.isTransformed === false"><span *ngIf="b > 0">{{'hotelpagetable_and' | translate}}</span> {{be.count}} {{be.type.title}} <img class="bed" [src]="'../../assets/images/beds/' + bedImage(be.type.code)"></ng-container></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-0 roomfacil" *ngIf="room.facilities && room.facilities.length > 0; else emptyfacilitiesmobile">
              <h5 class="roomfacil__title">{{'hotelpagetable_room_amenities' | translate}}</h5>
              <ul class="roomfacil__block">
                <ng-container *ngFor="let faciltype of room.facilities; let isLast = last">
                  <li class="roomfacil__item">{{faciltype.title}}{{isLast?'':','}}</li>
                </ng-container>
              </ul>
            </div>
            <ng-template #emptyfacilitiesmobile>
              <div class="empty-mobile col-12 col-sm-8">
                <span class="text-center">{{'hotelpagetable_no_room_amenities' | translate}}</span>
              </div>
            </ng-template>
          </div>
        </div>
        <div *ngFor="let tariff of room.tariffs; index as it" class="room-mobile__block__tariff row m-0">
          <div class="col-7 col-sm-5 description">
            <div class="room-type">
              <div class="cancel-policy__icon">
                <i class="fa fa-money"></i>
              </div>
              <span *ngIf="tariff.type === 'STANDART'; else unrefunable" class="type">{{'hotelpagetable_pay_after_in' | translate}}</span>
              <ng-template #unrefunable>
                <span class="type">{{'hotelpagetable_pay_in_booking' | translate}}</span>
              </ng-template>
            </div>
            <div *ngIf="tariff.nutritions && tariff.nutritions.length > 0" class="nutrition"  [ngClass]="{'pay': tariff.nutritions[0].type === 'BREAKFAST' || tariff.nutritions[0].type === 'HALF_BOARD' || tariff.nutritions[0].type === 'FULL_BOARD'}">
              <span [hidden]="tariff.nutritions[0].type === 'NO_NUTRITION'" class="nutrition__icon">
                <i class="fa fa-coffee"></i>
              </span>
              <span class="nutrition__text">
                <span class="nutrition__text__li" *ngFor="let nut of tariff.nutritions" [ngSwitch]="nut.type">
                  <span class="name text-lowercase">{{HNutrition[nut.type] | translate}}</span>
                  <span *ngIf="nut.price > 0" class="ml-1"> {{nut.price}} {{SD.currency}}</span>
                  <i *ngIf="nut.nutririontooltip" class="fa fa-question-circle-o ml-1" [tooltip]="nut.nutririontooltip"></i>
                </span>
              </span>
            </div>
            <div *ngIf="tariff.nutrition && tariff.nutrition !== 'RO'" class="nutrition">
              <span class="nutrition__icon">
                <i class="fa fa-coffee"></i>
              </span>
              <span class="nutrition__text">
                <span class="text-lowercase">{{HBNutrition[tariff.nutrition] | translate}}</span>
                <i *ngIf="tariff.nutririontooltip" class="fa fa-question-circle-o ml-1" [tooltip]="tariff.nutririontooltip"></i>
              </span>
            </div>
            <div *ngIf="tariff.cancellationPolicies" class="cancel-policy d-flex">
              <!--<div class="cancel-policy__icon mr-1">-->
                <!--<i class="fa fa-money"></i>-->
              <!--</div>-->
              <div class="cancel-policy__text">
                <!--<div class="nowrap">{{'hotelpagetable_undo_cost' | translate}} {{tariff.cancellationPolicies[0].amount}}</div>-->
                <!--<div>c {{tariff.cancellationPolicies[0].from | date: 'dd.MM.yyyy'}}</div>-->
                <div>{{'hotelpagetable_undo_text' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-5 col-sm-7 row m-0 pl-0">
            <div class="col-12 col-sm-6 mb-2 mb-sm-0 text-center price">
              <div class="mans" *ngIf="bb">
                <i *ngFor="let users of tariff.guests" class="fa fa-male"></i>
                <i *ngFor="let child of tariff.childrens" class="fa child fa-child"></i>
              </div>
              <span [ngClass]="{'room__price__priceWdisc': (tariff.price > tariff.priceWithDiscount) }">{{tariff.price | number: '1.0-2'}} {{SD.currency}}</span>
              <span *ngIf="tariff.price > tariff.priceWithDiscount" class="room__price__discount">{{tariff.priceWithDiscount | number: '1.0-2'}} {{SD.currency}}</span>
            </div>
            <div class="col-12 col-sm-6 p-0 align-items-sm-center d-sm-flex">
              <select class="w-100" (change)="checkRoomsCount(im,it,$event.target.value)" [(ngModel)]="tariff._checked_count" size="1">
                <option *ngFor="let roomcount of room._bookcount; index as k" value={{k}} [disabled]="k > tariff._count">{{k}} <span *ngIf="k !== 0">({{k*tariff.priceWithDiscount | number: '1.0-2'}})</span></option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <span class="mobile-button-bron" [hidden]="bookingChecked()" (click)="startBooking()">{{'hotelpagetable_book' | translate}}</span>
    </div>
  </div>
</div>
<ng-template #roomphotos>
  <div class="roomphotos">
    <button type="button" class="close close-map pr-2 pull-right" aria-label="Close" (click)="photoModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row m-0">
      <div *ngIf="RA[roomCheckIndex].photo.length > 0; else emptygallery" class="col-8 p-0">
        <carousel [showIndicators]="false" class="photos" [noWrap]="false" [(activeSlide)]="roomCheckSlide">
          <slide *ngFor="let i of RA[roomCheckIndex].photo">
            <img [src]="i" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
          </slide>
        </carousel>
        <div *ngIf="RA[roomCheckIndex].photos[0].path" class="img-row d-none d-md-block">
          <img *ngFor="let i of RA[roomCheckIndex].photomin; index as ind" class="img-row__img img-fluid" [ngClass]="{ active: ind === roomCheckSlide }"
               [src]="i" onError="this.src='../../assets/images/hotel-thumb-default.jpg'"
               (click)="roomCheckSlide = ind">
        </div>
      </div>
      <ng-template #emptygallery>
        <div class="empty col-8 p-0">
          <span class="empty__photos text-center">{{'hotelpagetable_no_room_photo' | translate}}</span>
        </div>
      </ng-template>
      <div *ngIf="RA[roomCheckIndex].facilities; else emptyfacilities" class="col-4 pr-0">
        <h5 class="roomfacilities__title">{{RA[roomCheckIndex].title.title}}</h5>
        <span class="area" *ngIf="RA[roomCheckIndex].area">{{'hotelpagetable_area' | translate}} {{RA[roomCheckIndex].area}}м<span class="square">2</span></span>
        <div class="roomfacilities__text pb-3">
          <li *ngFor="let roomfacil of RA[roomCheckIndex].facilities; let isLast = last" class="list-inline-item">{{roomfacil.title}}{{isLast?'':','}}</li>
        </div>
      </div>
      <ng-template #emptyfacilities>
        <div class="empty col-4">
          <span class="empty__facilities">{{'hotelpagetable_no_room_amenities' | translate}}</span>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
