<div [hidden]="!showview || commonlenght === 0" class="locationlist" [ngClass]="{'search' : view === 'search'}">
  <div [hidden]="locationList.regions.length == 0" class="locationlist__block">
    <div class="locationlist__block__title">{{'locationlist_regions' | translate}}</div>
    <div *ngFor="let location of locationList.regions" (click)="checkItem(location, 'regions')" class="locationlist__block__item">{{location.title}}</div>
  </div>
  <div [hidden]="locationList.cities.length == 0" class="locationlist__block">
    <div class="locationlist__block__title">{{'locationlist_cities' | translate}}</div>
    <div *ngFor="let location of locationList.cities" (click)="checkItem(location, 'cities')" class="locationlist__block__item">{{location.title}}</div>
  </div>
  <div [hidden]="locationList.hotels.length == 0" class="locationlist__block">
    <div class="locationlist__block__title">{{'locationlist_hotels' | translate}}</div>
    <div *ngFor="let location of locationList.hotels" (click)="checkItem(location, 'hotels')" class="locationlist__block__item">{{location.title}}</div>
  </div>
</div>
