.locationlist {
  width: calc(100% - 19px);
  z-index: 3;
  top: 51px;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.72);
  color: #666;
  padding-bottom: 10px;
  @media (max-width: 991px) {
    width: calc(100% - 30px);
  }
  @media (max-width: 767px) {
    width: calc(100% - 19px);
  }
  @media (max-width: 575px) {
    width: calc(100% - 30px);
  }
  &__block {
    &__title {
      color: #668;
      font-weight: bolder;
      padding: 0px 15px;
      margin-top: 7px;
    }
    &__item {
      padding: 0 20px;
      cursor: pointer;
    }
    &__item:hover {
      background: #dedede;
    }
  }
}
.locationlist.search {
  width: 100%;
  top: 41px;
}
