<div class="hotel-item">
  <div class="col-12 col-sm-4 col-md-3 p-0 position-relative imb-box">
    <a [routerLink]="['hotel', hotel.id]" [queryParams]="routeparams" class="hotel-item__image d-md-flex" #imgblock>
      <div class="hotel-item__image__box" [ngStyle]="{'height': imgheight}">
        <img *ngFor="let photo of hotel.photos; index as i" [ngClass]="{'vertical': photosInit[i], 'visible': photosPag[i]}" (load)="initVertical(imgblock, i)" [src]="photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
      </div>
    </a>
    <div class="dots">
      <span class="dots__item" *ngFor="let dot of hotel.photos; index as i" [ngClass]="{'checked': photosPag[i]}" (click)="photoSelect(i)">
        <span class="dota"></span>
      </span>
    </div>
  </div>
  <div class="hotel-item__content col-12 col-sm-8 col-md-9">
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="title">
          <h4><a [routerLink]="['hotel', hotel.id]" [queryParams]="routeparams" class="title__text">{{ hotel.title }}</a></h4>
          <span class="title__stars"><i  *ngFor="let i of hotel.stars" class="fa fa-star"></i></span>
        </div>
        <div class="location mb-2">
          <span [hidden]="!hotel.location || !hotel.location.lat || !hotel.location.lng" (click)="openmap()" class="location-text">{{hotel.location.address}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="hotel.rooms" class="roomlist">
      <div *ngIf="hotel.roomcount < 2" class="roomlist__extended" (click)="loadExtended()">
        <i class="fa fa-caret-right" [@showExtendedRooms]="stateCaret()"></i>
        <span *ngIf="!showExtended; else hideextended">{{'hotelcard_all' | translate}}</span>
        <ng-template #hideextended>
          <span>{{'hotelcard_hide' | translate}}</span>
        </ng-template>
      </div>
      <div *ngIf="loadingExtended; else loading" class="roomlist__list" [@showExtendedRooms]="stateExtended()">
        <div *ngFor="let room of roomExtendedList" class="roomlist__room">
          <div class="roomlist__room__title">
                  <span class="mans">
                    <i *ngFor="let i of room.mansArray" class="fa fa-male"></i>
                    <i *ngFor="let i of room.childArray" class="fa child fa-child"></i>
                  </span>
            <span class="text"><span class="text-high">{{ room.title.title | slice:0:1 }}</span>{{ room.title.title | slice:1:room.title.title.length }}</span>
          </div>
          <div class="roomlist__room__price">
            <span class="price" [ngClass]="{ discount: (room.tariffs[0].pricewithdiscount !== null && room.tariffs[0].pricewithdiscount !== '' && room.price > room.tariffs[0].pricewithdiscount)}">{{ room.tariffs[0].price | number }} {{searchData.currency}}</span>
            <span *ngIf="room.tariffs[0].pricewithdiscount !== null && room.tariffs[0].pricewithdiscount !== '' && room.tariffs[0].price > room.tariffs[0].pricewithdiscount" class="pricediscount">{{ room.tariffs[0].pricewithdiscount | number }} {{searchData.currency}}</span>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div class="loading-widget">
          <img src="../../../assets/images/loading_image.gif" class="loading-widget__img img-fluid">
        </div>
      </ng-template>
      <ng-container *ngIf="(!showExtended) && hotel.rooms">
        <ng-container *ngFor="let room of hotel.rooms">
          <div class="roomlist__room" [ngClass]="{'package': roomcount > 1}">
            <div class="roomlist__room__title">
                  <span class="mans">
                    <i *ngFor="let i of room.adults" class="fa fa-male"></i>
                    <i *ngFor="let i of room.children" class="fa child fa-child"></i>
                  </span>
              <span class="text"><span class="text-high">{{ room.title | slice:0:1}}</span>{{ room.title | slice:1:room.title.length}}<span class="plural">&#10008;</span>{{ room.count }}</span>
            </div>
            <div class="roomlist__room__price">
              <span class="price" [ngClass]="{ 'discount': (room.price > room.pricewithdiscount), 'package': hotel.roomcount > 1}">{{ room.price | number }} {{searchData.currency}}</span>
              <span *ngIf="room.price > room.pricewithdiscount" class="pricediscount">{{room.pricewithdiscount | number }} {{searchData.currency}}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="buttons-total text-right">
      <div *ngIf="hotel.roomcount > 1 && hotel.rooms" class="mb-2">
        {{'hotelcard_price_for' | translate}}
        <span *ngIf="hotel.adults > 1"> {{hotel.adults}} {{'hotelcard_adults' | translate}} </span>
        <span *ngIf="hotel.adults === 1"> {{hotel.adults}} {{'hotelcard_adult' | translate}} </span>
        <span *ngIf="hotel.adults > 0 && hotel.children > 0">{{'hotelcard_and' | translate}}</span>
        <span *ngIf="hotel.children > 1"> {{hotel.children}} {{'hotelcard_children' | translate}} </span>
        <span *ngIf="hotel.children === 1"> {{hotel.children}} {{'hotelcard_child' | translate}} </span>
        <span [translate]="'hotelcard_for_nights'" [translateParams]="{ nights: nights }"></span>
        {{ hotel.totalPrice }} {{searchData.currency}}
      </div>
      <a [routerLink]="['hotel', hotel.id]" [queryParams]="routeparams" class="align-self-end"><button class="btn btn-bronirovka">{{'hotelcard_view' | translate}}</button></a>
    </div>
    <!--<a [routerLink]="['/ru/hotel', _hotel.hotelid]"> Profile </a>   работает-->
    <!--<a [routerLink]="['/ru/hotel', [1,2,3], _hotel.hotelid]"> Profile </a>   работает-->
  </div>
</div>
