@import "../../../assets/styles/color-consts";
.hotel-item {
  display: flex;
  border: 1px solid #bbb;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.1s ease;
  overflow: hidden;
  min-height: 164px;
  @media (max-width: 575px) {
    flex-wrap: wrap;
    .imb-box, &__image__box {
      height: 220px !important;
    }
  }
  .dots {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    text-align: center;
    .dota {
      display: inline-block;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
      height: 10px;
      width: 10px;
    }
    &__item {
      cursor: pointer;
      opacity: 0.3;
      padding: 5px;
      margin: 0 3px;
    }
    &__item:hover {
      opacity: 0.75;
    }
    &__item.checked {
      opacity: 1;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: $main-gray-color;
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      position: relative;
      background: $main-gray-color;
    }
    &__box.basic {
      height: 100% !important;
    }
    img {
      opacity: 0;
      position: absolute;
      height: 100%;
      width: auto;
      cursor: pointer;
      @media (max-width: 575px) {
        height: auto;
        width: 100%;
      }
    }
    img.vertical {
      height: auto;
      width: 100%;
    }
    img.visible {
      opacity: 1;
    }
  }
  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    .buttons-total {
      line-height: 1;
      font-size: 17px;
      font-weight: bold;
      color: #007942;
      @media (max-width: 767px) {
        font-size: 14px !important;
      }
    }
    .sm-image {
      border-radius: 4px;
      margin-bottom: 5px;
    }
    &__heart {
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &__heart:hover {
      color: #89241E;
    }
    .title {
      display: flex;
      flex-wrap: wrap;
      margin-right: 35px;
      h4 {
        margin: 0;
        font-size: 1.3rem;
        line-height: 1;
      }
      &__text {
        color: $main-color;
        margin-right: 15px;
        cursor: pointer;
        line-height: 1;
        display: inline-block;
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
      &__text:hover {
        color: $second-main-color;
        text-decoration: none;
      }
      &__stars {
        color: $second-color;
        display: flex;
        align-items: flex-end;
        margin-top: 5px;
      }
    }
    .location-text {
      color: $second-main-color;
      font-weight: bolder;
      font-size: 12px;
      line-height: 1;
      margin-top: 5px;
      display: block;
      text-transform: lowercase;
      /*margin-left: 20px;
       align-self: center;*/
      cursor: pointer;
    }
    .location-text:hover {
      color: #76A4C0;
    }
    .description {
      .text-success {
        width: max-content;
        border: 1px solid;
        padding: 0 10px 5px;
        max-width: 100%;
        margin-top: 5px;
      }
    }
    .roomlist {
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      justify-content: flex-end;
      &__room {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &__title {
          display: flex;
          flex-grow: 1;
          margin-right: 5px;
          .mans {
            justify-content: flex-end;
            margin-right: 10px;
            width: 60px;
            line-height: 1;
            display: flex;
            align-items: center;
            @media (max-width: 575px) {
              width: 25px;
              margin-right: 5px;
            }
            .child {
              font-size: 12px;
              margin-top: 4px;
            }
          }
          .text {
            color: #666;
            width: 100%;
            font-weight: 500;
            line-height: 1;
            text-transform: lowercase;
            &-high {
              text-transform: uppercase;
            }
            .plural {
              font-size: 10px;
              margin-left: 5px;
              margin-right: 5px;
            }
            @media (max-width: 767px) {
              line-height: 0.95;
              text-transform: lowercase;
            }
            @media (max-width: 575px) {
              font-size: 13px;
            }
          }
        }
        &__price {
          line-height: 1;
          font-size: 17px;
          font-weight: bold;
          color: #009e23;
          text-align: right;
          vertical-align: bottom;
          .price {
            white-space: nowrap;
          }
          .package {
            font-size: 14px;
            font-weight: 700;
            color: #666;
          }
          .price.discount {
            color: #bbb;
            text-decoration: line-through;
            font-size: 16px;
            vertical-align: bottom;
          }
          .pricediscount {
            white-space: nowrap;
            font-size: 17px;
            font-weight: bold;
            color: #ed0808;
            vertical-align: middle;
          }
          @media (max-width: 991px) {
            font-size: 16px !important;
          }
          @media (max-width: 767px) {
            font-size: 14px !important;
            .package {
              font-size: 13px;
            }
          }
          @media (max-width: 575px) {
            //font-size: 12px !important;
            .pricediscount, .price {
              white-space: normal;
            }
          }
        }
      }
      &__room.package {
        color: #666 !important;
      }
      &__extended {
        cursor: pointer;
        display: flex;
        margin-bottom: 10px;
        span {
          color: $main-gray-text-color;
          flex-grow: 3;
          border-bottom: 1px solid $main-gray-color;
          padding-left: 15px;
        }
        i {
          color: $second-color;
          margin-right: 5px;
          position: relative;
          font-size: 21px;
          margin-left: 20px;
          cursor: pointer;
          @media (max-width: 767px) {
            margin-left: 0;
          }
        }
      }
      .loading-widget {
        height: 17px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        &__img {
          height: 16px;
        }
        @media (max-width: 991px) {
          height: 16px;
        }
        @media (max-width: 767px) {
          height: 14px;
          &__img {
            height: 14px;
          }
        }
      }
    }
    .btn-bronirovka {
      align-self: flex-end;
      @media (max-width: 575px) {
        font-size: 12px;
        padding: 5px 10px;
      }
    }
  }
}
.hotel-item:hover {
  box-shadow: 4px 4px 10px #666;
  border-bottom-color: #666;
  border-right-color: #666;
  top: -1px;
  left: -1px;
  //transform: translateY(-2px) translateX(-2px);
}
