<div class="filter main" *ngIf="view === 'search'">
  <div class="card" *ngIf="filterList">
    <h6 class="card-head">
      {{'searchfilter_choose' | translate}}
      <div class="filter-clear" [hidden]="!searchData.pr && !searchData.hf && !searchData.rf && !searchData.stars && !searchData.ht" (click)="filterClear()">{{'searchfilter_clear' | translate}}</div>
    </h6>
    <div class="card-block">
      <div class="overlay" [hidden]="loaded"></div>
      <div *ngIf="!seoMod" class="card-block__list slider ml-2 mr-2 ml-lg-4">
        <h6 class="slider__title">{{'searchfilter_price' | translate}} {{searchData.currency}} {{'searchfilter_price_for' | translate}}</h6>
        <ul class="list-unstyled pb-1 prices w-100">
          <li *ngFor="let prices of filterList.priceRanges; index as p">
            <label class="checkbox-label" [ngClass]="{ 'checked': prices.check }">
              <span class="checkmark"></span>
              <span class="text">{{ prices.from | number: '1.0-0' }} <span *ngIf="prices.to; else priceto">- {{ prices.to | number: '1.0-0' }}</span><ng-template #priceto>+</ng-template></span>
              <input type="checkbox" [checked]="prices.check" (click)="checkFacility('pr', {from: prices.from, to: prices.to})"/>
              <span class="count float-right">{{prices.count}}</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="card-block__list slider ml-2 mr-2 ml-lg-4">
        <h6 class="slider__title">{{'searchfilter_stars' | translate}}</h6>
        <ul class="list-unstyled pb-1">
          <li *ngFor="let star of stars; index as st" [hidden]="st === 4">
            <label class="checkbox-label" [ngClass]="{ 'checked': filterList.stars[st].check }">
              <span class="checkmark"></span>
              <span *ngIf="st < 5; else starsno" class="text">
              <i *ngFor="let stara of sta; index as s" [ngClass]="{'no': 4 - st < s}" class="star fa fa-star"></i>
            </span>
              <ng-template #starsno><span class="text">{{'searchfilter_no_stars' | translate}}</span></ng-template>
              <input value="{{ 5 - st }}" type="checkbox" [checked]="filterList.stars[st].check" (click)="checkFacility('stars', 5 - st)"/>
              <span class="count float-right">{{filterList.stars[st].count}}</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="card-block__list ml-2 mr-2 ml-lg-4">
        <div>
          <h6 class="card-title">{{'searchfilter_types' | translate}}</h6>
          <div>
            <ul class="list-unstyled">
              <li *ngFor="let type of filterList.hotelTypes" [hidden]="type.count == 0">
                <label class="checkbox-label" [ngClass]="{ 'checked': type.check }">
                  <span class="checkmark"></span>
                  <span class="text">{{ type.title }}</span>
                  <input value="{{ type.id }}" type="checkbox" [checked]="type.check" (click)="checkFacility('ht', type.id)"/>
                  <span class="count float-right">{{ type.count }}</span>
                </label>
              </li>
            </ul>
            <ul class="list-unstyled" [@extended] = 'state(OpenHotelTypeFacil)'>
              <li *ngFor="let type of filterList.hotelTypes" [hidden]="type.count > 0">
                <label class="checkbox-label" [ngClass]="{ 'checked': type.check }">
                  <span class="checkmark"></span>
                  <span class="text">{{ type.title }}</span>
                  <input value="{{ type.id }}" type="checkbox" [checked]="type.check" (click)="checkFacility('ht', type.id)"/>
                  <span class="count float-right">{{ type.count }}</span>
                </label>
              </li>
            </ul>
            <div class="more" [hidden]="OpenHotelTypeFacil" (click)="OpenHotelTypeFacil = true">{{'searchfilter_more' | translate}}</div>
            <div class="more" [hidden]="!OpenHotelTypeFacil" (click)="OpenHotelTypeFacil = false">{{'searchfilter_less' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="card-block__list ml-2 mr-2 ml-lg-4" *ngIf="filterList.popFacilies.length > 0"> <!--  POPULAR    -->
        <div class="list-inner">
          <h6 class="card-title"><span>{{'searchfilter_pop' | translate}}</span></h6>
          <div>
            <ul class="list-unstyled pb-1">
              <li *ngFor="let filter of filterList.popFacilies">
                <label class="checkbox-label" [ngClass]="{ 'checked': filter.check }">
                  <span class="checkmark"></span>
                  <span class="text">{{ filter.title }}</span>
                  <input *ngIf="filter.belong_to === 'ROOM'" value="{{ filter.id }}" type="checkbox" [checked]="filter.check" (click)="checkFacility('rf', filter.id)"/>
                  <input *ngIf="filter.belong_to === 'HOTEL'" value="{{ filter.id }}" type="checkbox" [checked]="filter.check" (click)="checkFacility('hf', filter.id)"/>
                  <span class="count float-right">{{ filter.count }}</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-block__list ml-2 mr-2 ml-lg-4">
        <div class="list-inner">
          <h6 class="card-title">
            <span>{{'searchfilter_room' | translate}}</span>
            <span class="more" [hidden]="!openedFacilies['GENERALROOM']" (click)="openedFacilies['GENERALROOM'] = false">{{'searchfilter_less' | translate}}</span>
          </h6>
          <div>
            <ul class="list-unstyled" [@extended]="state(openedFacilies['GENERALROOM'])">
              <li *ngFor="let filter of filterList.roomFacilies">
                <label class="checkbox-label" [ngClass]="{ 'checked': filter.check }">
                  <span class="checkmark"></span>
                  <span class="text">{{ filter.title }}</span>
                  <input value="{{ filter.id }}" type="checkbox" [checked]="filter.check" (click)="checkFacility('rf', filter.id)"/>
                  <span class="count float-right">{{ filter.count }}</span>
                </label>
              </li>
            </ul>
            <div class="more" [hidden]="openedFacilies['GENERALROOM']" (click)="openedFacilies['GENERALROOM'] = true">{{'searchfilter_more' | translate}}</div>
            <div class="more" [hidden]="!openedFacilies['GENERALROOM']" (click)="openedFacilies['GENERALROOM'] = false">{{'searchfilter_less' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="card-block__list ml-2 mr-2 ml-lg-4">
        <div class="list-inner">
          <h6 class="card-title">
            <span>{{'searchfilter_hotel' | translate}}</span>
            <span class="more" [hidden]="!openedFacilies['GENERALHOTEL']" (click)="openedFacilies['GENERALHOTEL'] = false">{{'searchfilter_less' | translate}}</span>
          </h6>
          <div>
            <ul class="list-unstyled" [@extended]="state(openedFacilies['GENERALHOTEL'])">
              <li *ngFor="let filter of filterList.hotelFacilies">
                <label class="checkbox-label" [ngClass]="{ 'checked': filter.check }">
                  <span class="checkmark"></span>
                  <span class="text">{{ filter.title }}</span>
                  <input value="{{ filter.id }}" type="checkbox" [checked]="filter.check" (click)="checkFacility('hf', filter.id)"/>
                  <span class="count float-right">{{ filter.count }}</span>
                </label>
              </li>
            </ul>
            <div class="more" [hidden]="openedFacilies['GENERALHOTEL']" (click)="openedFacilies['GENERALHOTEL'] = true">{{'searchfilter_more' | translate}}</div>
            <div class="more" [hidden]="!openedFacilies['GENERALHOTEL']" (click)="openedFacilies['GENERALHOTEL'] = false">{{'searchfilter_less' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="loaded || filterList">
    <h6 class="card-head">
      {{'searchfilter_choose' | translate}}
    </h6>
    <div class="card-block loading"></div>
  </div>
</div>
<div class="filter mobile" *ngIf="view === 'mobile'">
  <div class="card pr-3 pl-3 pt-2 pb-2" *ngIf="filterList" #filter (window:scroll)="filterScroll()">
    <div class="head-mobile">
      <div class="head-moble__block d-flex justify-content-between">
        <button (click)="filterClear()" [disabled]="!searchData.pr && !searchData.hf && !searchData.rf && !searchData.stars && !searchData.ht">{{'searchfilter_clear' | translate}}</button>
        <button (click)="start()">{{'searchfilter_filter_start' | translate}}</button>
      </div>
    </div>
    <div class="head-mobile moveable pl-3 pr-3" [hidden]="hideMobileFixHead">
      <div class="head-moble__block d-flex justify-content-between">
        <button (click)="filterClear()" [disabled]="!searchData.pr && !searchData.hf && !searchData.rf && !searchData.stars && !searchData.ht">{{'searchfilter_clear' | translate}}</button>
        <button (click)="start()">{{'searchfilter_filter_start' | translate}}</button>
      </div>
    </div>
    <div class="card-block">
      <div *ngIf="!seoMod" class="card-block__list slider">
        <h6 class="mobile-title">{{'searchfilter_price' | translate}} {{searchData.currency}} {{'searchfilter_price_for' | translate}}</h6>
        <div class="mobile-block">
          <label *ngFor="let prices of filterList.priceRanges; index as i" class="mobile-block__facil price" [ngClass]="{ 'checked': prices.check }">
            {{ prices.from | number: '1.0-0' }} <span *ngIf="prices.to; else priceto">- {{ prices.to | number: '1.0-0' }}</span><ng-template #priceto>+</ng-template>
            <input class="d-none" type="checkbox" [checked]="prices.check" (click)="checkFacility('pr', {from: prices.from, to: prices.to}, i)"/>
            <span class="count">{{prices.count}}</span>
          </label>
        </div>
      </div>
      <div class="card-block__list slider">
        <div class="mobile-title">{{'searchfilter_stars' | translate}}</div>
        <div class="mobile-block">
          <label *ngFor="let star of stars; index as st" class="mobile-block__facil" [ngClass]="{ 'checked': filterList.stars[st].check }" [hidden]="st === 4">
            <span *ngIf="st < 5; else starsno" class="text">
              <i *ngFor="let stara of sta; index as s" [ngClass]="{'no': 4 - st < s}" class="star fa fa-star"></i>
            </span>
            <ng-template #starsno><span class="text">{{'searchfilter_no_stars' | translate}}</span></ng-template>
            <input value="{{ 5 - st }}" class="d-none" type="checkbox" [checked]="filterList.stars[st].check" (click)="checkFacility('stars', 5 - st, st)"/>
            <span class="count float-right">{{filterList.stars[st].count}}</span>
          </label>
        </div>
      </div>
      <div class="card-block__list card-block__list-mobile">
        <div>
          <div class="mobile-title">{{'searchfilter_types' | translate}}</div>
          <div class="mobile-block">
            <label *ngFor="let type of filterList.hotelTypes; index as i" class="mobile-block__facil" [ngClass]="{ 'checked': type.check }">
              {{type.title}}
              <input class="d-none" type="checkbox" value="{{type.id}}" [checked]="type.check" (click)="checkFacility('ht', type.id, i)"/>
              <span class="count">{{type.count}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="card-block__list card-block__list-mobile">
        <div class="mobile-title">{{'searchfilter_room' | translate}}</div>
        <div class="mobile-block">
          <label *ngFor="let filter of filterList.roomFacilies; index as i" class="mobile-block__facil" [ngClass]="{ 'checked': filter.check }">
            {{filter.title}}
            <input class="d-none" type="checkbox" value="{{filter.id}}" [checked]="filter.check" (click)="checkFacility('rf', filter.id, i)"/>
            <span class="count">{{filter.count}}</span>
          </label>
        </div>
      </div>
      <div class="card-block__list card-block__list-mobile">
        <div class="mobile-title">{{'searchfilter_hotel' | translate}}</div>
          <div class="mobile-block">
            <label *ngFor="let filter of filterList.hotelFacilies; index as i" class="mobile-block__facil" [ngClass]="{ 'checked': filter.check }">
              {{filter.title}}
              <input class="d-none" type="checkbox" value="{{filter.id}}" [checked]="filter.check" (click)="checkFacility('hf', filter.id, i)"/>
              <span class="count">{{filter.count}}</span>
            </label>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loaded" class="loading-widget mb-3 text-center">
    <img src="../../../assets/images/loading_image.gif" class="loading-widget__img img-fluid">
  </div>
</div>
