@import "../../../assets/styles/color-consts";
.star {
  color: $second-color;
}
.star.no {
  color: $main-gray-color;
}
.card {
  margin-bottom: 10px;
  border: none;
  &-head {
    background-color: $main-color;
    padding: 10px 15px;
    color: white;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    .filter-clear {
      color: #81a7ff;
      font-size: 12px;
      cursor: pointer;
    }
    .filter-clear:hover {
      color: #9cceff;
    }
  }
  &-title {
    padding: 10px 10px 0 10px;
    border-top: 1px solid $main-gray-color;
  }
  .slider__title {
    border-top: 1px solid $main-gray-color;
  }
  &-title, .slider__title {
    color: $dark-main-color;
    font-weight: bold;
  }
  &-block {
    position: relative;
    min-height: 40px;
    border: 1px solid $main-gray-color;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    &__list.slider {
      .slider__title {
        padding: 10px 25px;
        margin-bottom: 0;
        width: 100%;
      }
    }
    &__list:first-child, &__list:last-child {
      border-top: none;
    }
    ul { margin-bottom: 0 }
    li:hover {
      background-color: $main-gray-color;
    }
    .more {
      color: #666;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 7px;
      margin-left: 10px;
      cursor: pointer;
    }
    .prices {
      color:  $second-main-color;
      //font-size: 16px;
      //font-weight: bold;
    }
    .prices li:hover {
      color: $dark-main-color;
    }

    .checkbox-label {
      padding: 4px 10px;
      .count {
        color: $main-gray-text-color;
        margin-left: 7px;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .checkbox-label.checked {
      .count {
        display: none;
      }
    }
  }
  &-block.loading {
    height: 900px;
  }
}
.main {
  .star {
    color: $main-gray-text-color;
  }
  .star.no {
    color: #ededed;
  }
  .card-block {
    background: #eee;
    color: $main-gray-text-color;
    li:hover {
      background-color: #eee;
      color: #000;
      .star {
        color: #000;
      }
      .star.no {
        color: #ededed;
      }
    }
    &__list {
      border-bottom: 1px solid #e0e0e0;
      .list-inner {
        border-bottom: 1px solid #e0e0e0;
      }
      .list-inner:last-child {
        border: none;
      }
    }
    &__list:last-child {
      border: none;
    }
    &__list .slider__title {
      padding: 10px 25px 10px 10px;
      color: #536d83;
    }
    .checkbox-label.checked[_ngcontent-c10] {
      color: #666 !important;
      padding: 7px 10px;
      background-color: #eee !important;
    }
  }
  .card-title {
    color: #536d83;
    i {
      color: $main-gray-text-color;
      float: right;
      margin-top: 4px;
      font-size: 14px;
      margin-right: 0;
    }
  }
}
.mobile {
  .card-head {
    display: none;
  }
  .head-mobile {
    button {
      padding: 5px 10px;
      background: #5aaedc;
      color: white;
      border: none;
    }
  }
  .head-mobile.moveable {
    position: fixed;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #fff;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.72);;
  }
  .card-block {
    border: none;
  }
  .mobile-title {
    color: $dark-main-color;
    font-weight: bold;
    border-bottom: 1px solid $main-gray-color;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .slider__title {
    padding-left: 0 !important;
  }
  .mobile-block {
    &__facil {
      padding: 5px 8px;
      box-shadow: 1px 1px 4px #666;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 4px;
      .count {
        font-size: 12px;
        margin-left: 5px;
        color: #999;
      }
    }
    &__facil.price {
      font-size: 16px;
      font-weight: bold;
      color: $second-main-color;
    }
    &__facil:hover {
      background-color: $main-gray-color;
    }
    &__facil.price:hover {
      color: $dark-main-color;
    }
    &__facil:focus {
      box-shadow: none;
      outline: none;
    }
    &__facil.checked {
      background-color: $second-main-color !important;
      color: white !important;
      box-shadow: none;
      .count {
        visibility: hidden;
      }
    }
  }
}
.loading-widget__img {
  height: 20px;
}
