<h1 hidden>Bronirovka.UA</h1>
<div class="main-content">
  <div (window:resize)="checkHeight()" class="main-content__mainimg" [ngStyle]="{'min-height.px' : minHeignt}">
    <div class="main-content__mainimg__imgblock">
      <img [ngClass]="{'mobile' : photoMobile}" class="main-content__mainimg__imgblock__img" src="../../assets/images/cities/background.jpg">
    </div>
    <div class="main-content__mainimg__container container" [ngStyle]="{'top.px' : searchTop}">
      <app-search-form [view]="'main'" [dates]="dates" (search)="onSearch($event)" (openhotel)="openHotel($event)"></app-search-form>
    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="container cities cities-popways">
      <h3 class="cities__title">{{'main_popular' | translate}} <i class="fa fa-map-marker"></i></h3>
      <div class="row likeways">
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kyiv']" class="cities__city__caption">
              <h4>{{'kyiv' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.kyiv ? this.seoObjects.kyiv : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Kyiv.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'lviv']" class="cities__city__caption">
              <h4>{{'lviv' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.lviv ? this.seoObjects.lviv : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Lviv.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'odessa']" class="cities__city__caption">
              <h4>{{'odessa' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.odessa ? this.seoObjects.odessa : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Odesa.jpg)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-1 col-md-8">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'kharkiv']" class="cities__city__caption">
              <h4>{{'kharkiv' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.kharkiv ? this.seoObjects.kharkiv : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Kharkiv.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'ua', 'dnipropetrovsk']" class="cities__city__caption">
              <h4>{{'dnipropetrovsk' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.dnipropetrovsk ? this.seoObjects.dnipropetrovsk : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Dnipropetrovsk.jpg)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'es', 'barselona']" class="cities__city__caption">
              <h4>{{'barselona' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.barselona ? this.seoObjects.barselona : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Barselona.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'cz', 'prague']" class="cities__city__caption">
              <h4>{{'prague' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.prague ? this.seoObjects.prague : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Prague.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-4">
          <div class="cities__city cities__city_half">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'it', 'milan']" class="cities__city__caption">
              <h4>{{'milan' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.milan ? this.seoObjects.milan : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Milan.jpg)">
            </div>
          </div>
          <div class="cities__city cities__city_half">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'fr', 'paris']" class="cities__city__caption">
              <h4>{{'paris' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.paris ? this.seoObjects.paris : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Paris.jpg)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-1 col-md-4">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'gb', 'london']" class="cities__city__caption">
              <h4>{{'london' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.london ? this.seoObjects.london : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_London.jpg)">
            </div>
          </div>
        </div>
        <div class="p-1 col-md-8">
          <div class="cities__city">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotels', 'nl', 'amsterdam']" class="cities__city__caption">
              <h4>{{'amsterdam' | translate}}</h4>
              <span *ngIf="this.seoObjects">{{this.seoObjects.amsterdam ? this.seoObjects.amsterdam : 0}} {{'main_objects' | translate}}</span>
            </a>
            <div class="cities__city__img" style="background-image: url(../../assets/images/cities/Bronirovka_hotels_in_Amsterdam.jpg)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
