@import "../../assets/styles/color-consts";
.icon-main {
  color: $second-color;
}
.main-content {
  &__mainimg {
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: 767px) {
      margin-bottom: 0;
      height: auto !important;
    }
    &__container {
      padding-top: 51px;
      padding-bottom: 15px;
      position: relative;
    }
    &__imgblock {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      &__img {
        height: 100%;
        width: 100%;
      }
      &__img.mobile {
        width: auto;
        left: -32%;
        position: relative;
      }
    }
  }
}
.cities {
  margin-bottom: 15px;
  .row {
    height: 330px;
  }
  .row.likeways {
    height: 212px;
  }
  &__title {
    position: relative;
    color: #5870a9;
    font-weight: bold;
    margin-right: -11px;
    border-bottom: 1px solid $dark-main-color;
    padding-bottom: 5px;
    padding-left: 10px;
    i {
      color: $second-color;
    }
  }
  &__title:before {
    content: '';
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    left: -18px;
    position: absolute;
    bottom: -7px;
    border-top: 1px solid #00092d;
  }
  &__city {
    position: relative;
    height: 100%;
    overflow: hidden;
    &__img {
      height: 100%;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      background-size: cover;
    }
    &__caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      color: white;
      text-shadow: 2px 2px 10px black, 2px 2px 10px black;
      padding: 10px 20px;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &__caption:hover + div {
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      top: -15px;
      left: -15px;
    }
  }
  &__city_half {
    height: 156.5px;
  }
  &__city_half:first-child {
    margin-bottom: 9px;
  }
}
.cities-likeways {
  .cities__city__caption {
    background: linear-gradient(to top, rgba(0,0,0,0.5) 5%, rgba(0,0,0,0) 50%);
  }
  .row {
    height: 212px;
  }
  .cities__city__caption {
    justify-content: flex-end;
    align-items: end;
  }
}
