<div class="booking-content">
  <div *ngIf="!bookid" class="overlay">
  </div>
  <div [ngClass]="{'booking': !bookid}">
    <div *ngIf="info" class="container-fluid" id="print-section">
      <!--<div class="pull-right">-->
        <!--<button *ngIf="bookInfo" class="btn btn-bronirovka" (click)="close()">{{'bookingtable_back'| translate}}</button>-->
        <!--<button *ngIf="data" class="btn btn-bronirovka" (click)="back()">{{'bookingtable_back'| translate}}</button>-->
      <!--</div>-->
      <div id="section-to-print" class="row w-100 m-0">
        <div *ngIf="!bb; else bbheadtemp" class="page-heading col-12">
          <h1 class="page-title">
            {{'bookingtable_guests_names' | translate}}
            <span *ngFor="let rooma of info.rooms; index as j" class="d-inline-block">
              <span *ngIf="j > 0" class="d-inline-block mr-2">,</span><span *ngIf="rooma.guests[0] && rooma.guests[0].name" class="d-inline-block">{{rooma.guests[0].name}}</span>
            </span>
          </h1>
          <h3 class="sub-title">({{'bookingtable_booker' | translate}} <i *ngIf="info.user.gender && info.user.gender === 'M'" class="mr-2 fa fa-male"></i><i *ngIf="info.user.gender && info.user.gender === 'F'" class="mr-2 fa fa-female"></i>{{info.user.name}} {{info.user.surname}})</h3>
          <p class="book-total">{{info.rooms.length}} {{'bookingtable_numbers' | translate}} &#9679; {{info.fullprice}} {{currency}}</p>
          <p class="order-detalis">
            <span *ngIf="info.user.country">{{info.user.country}}</span>
            <span><i class="fa fa-phone"></i> {{info.user.phone}} <i class="fa fa-envelope"></i><a> {{info.user.email}}</a></span>
            <span><i class="fa fa-clock-o"></i> {{info.date | date: 'dd MMMM yyyy  HH:mm' }} <i>#</i>{{info.id}}<i class="fa fa-print"></i><a id="print" href="#"> {{'bookingtable_print' | translate}}</a></span>
          </p>
          <p class="order-detalis">
            <span>{{info.hotel.title}} #{{info.hotel.id}}</span>
            <span *ngIf="info.goal !== ''">{{'bookingtable_goal' | translate}} <b *ngIf="info.goal === 'W'">{{'bookingtable_work' | translate}}</b><b *ngIf="info.goal === 'L'">{{'bookingtable_rest' | translate}}</b></span>
            <span [ngClass]="{'status-confirm':info.status === 'CONFIRMED', 'status-canceled': info.status === 'CANCELED_BY_HOTEL' || info.status === 'CANCELD_BY_USER'}" [ngSwitch]="info.status">
              <span *ngSwitchCase="'CONFIRMED'">{{'userpage_confirmed' | translate}}</span>
              <span *ngSwitchCase="'BOOKED'">{{'userpage_booked' | translate}}</span>
              <span *ngSwitchCase="'NO_SHOW'">{{'userpage_no_show' | translate}}</span>
              <span *ngSwitchCase="'CANCELD_BY_USER'">{{'userpage_canceled_by_user' | translate}}</span>
              <span *ngSwitchCase="'CANCELED_BY_HOTEL'">{{'userpage_canceled_by_hotel' | translate}}</span>
              <span *ngSwitchCase="'CHANGED_BY_USER'">{{'userpage_changed' | translate}}</span>
              <span *ngSwitchCase="'CHANGED_BY_HOTEL'">{{'userpage_changed' | translate}}</span>
              <span *ngSwitchDefault>{{'userpage_status' | translate}}</span>
            </span>
          </p>
        </div>
        <ng-template #bbheadtemp>
          <div class="page-heading col-12 pt-3">
            <h1 class="page-title calibri">GUEST(S):
              <span *ngFor="let rooma of info.hotel.rooms; index as j" class="d-inline-block">
                <span *ngIf="j > 0" class="d-inline-block mr-2">,</span><span class="d-inline-block">{{rooma.paxes[0].name}} {{rooma.paxes[0].surname}}</span>
              </span>
            </h1>
            <p class="book-total calibri">{{info.hotel.rooms.length}} Room(s) &#9679; {{info.totalNet}} {{info.currency}}</p>
            <p class="order-details calibri">
              <span><b>Address:</b> {{info.hotel.destinationName}}, {{info.hotel.address}}. <b>Email:</b> {{info.hotel.contacts.email}} <b>Phone:</b> {{info.hotel.contacts.phone}}</span>
              <span><i class="fa fa-clock-o"></i> {{info.creationDate | date: 'dd MMMM yyyy HH:MM' }} Kiev Time <i class="fa fa-print ml-2"></i><a (click)="print()"> Print version</a></span>
            </p>
            <p class="order-details calibri">
              <span class="reference">reference: {{info.reference}}</span>
            </p>
            <p class="order-details">
              <span>{{info.hotel.name}} #{{info.hotel.code}}</span>
              <span [ngClass]="{'status-confirm':info.status === 'CONFIRMED', 'status-canceled': info.status === 'CANCELED_BY_HOTEL' || info.status === 'CANCELD_BY_USER'}">
              <span class="status">{{info.status}}</span>
            </span>
            </p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!bb; else bborder" class="row order-confirm">
        <div class="col-md-7">
          <table *ngFor="let room of info.rooms; index as i" class="table table-striped table-bordered table-booking">
            <thead class="table-head">
            <tr>
              <td>{{'bookingtable_room' | translate}} {{i + 1}}</td>
              <td>{{room.title.title}}</td>
            </tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td><b>{{'bookingtable_guest_name' | translate}}</b></td>
              <td><b *ngIf="room.guests[0]">{{room.guests[0].name}}</b></td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_in' | translate}}</td>
              <td>{{room.checkIn | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_out' | translate}}</td>
              <td>{{room.checkOut | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_mans_count' | translate}}</td>
              <td>{{room.guestCount}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_nights_count' | translate}}</td>
              <td>{{room.days.length}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_full_price_for_user' | translate}}</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr>
                    <td>{{'bookingtable_room_cost' | translate}}</td>
                    <td>{{room.fullroomprice}} {{currency}}</td>
                  </tr>
                  <!--<tr>-->
                  <!--<td>{{'bookingtable_tax' | translate}} {{info.hotel.payment.tax}}%</td>-->
                  <!--<td>{{room.fullroomprice * info.hotel.payment.tax / 100}} {{currency}}</td>-->
                  <!--</tr>-->
                  <tr *ngIf="room.nutritions[0]">
                    <td>{{'bookingtable_nutrition_cost' | translate}}</td>
                    <td>{{room?.nutritions[0].price}} {{currency}}</td>
                  </tr>
                  <tr>
                    <td>{{'bookingtable_total_price' | translate}}</td>
                    <td class="total">{{room.fullroomprice + room.nutritions[0]?.price}} {{currency}}</td>
                    <!--<td class="total" *ngIf="!info.hotel.payment.isTaxIncluded">{{room.fullroomprice + room.nutritions[0]?.price + room.fullroomprice * info.hotel.payment.tax / 100}} {{currency}}</td>-->
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_day_price' | translate}}</td>
              <td class="inner-table">
                <table border="0" class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>{{'bookingtable_date' | translate}}</th>
                    <th>{{'bookingtable_price' | translate}}</th>
                    <th>{{'bookingtable_tariff' | translate}}</th>
                  </tr>
                  <tr *ngFor="let day of room.days">
                    <td class="nowrap">{{day.date | date: 'dd MMMM yy'}}</td>
                    <td>{{day.price}} {{currency}}</td>
                    <td [ngSwitch]="room.tariff.type">
                      <span *ngSwitchCase="'STANDART'">{{'bookingtable_standart' | translate}}</span>
                      <span *ngSwitchDefault>{{'bookingtable_no_refundable' | translate}}</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="room.nutritions[0]" class="table-booking-tr">
              <td>{{'bookingtable_nutrition' | translate}}</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>{{'bookingtable_type' | translate}}</th>
                    <th>{{'bookingtable_guests' | translate}}</th>
                    <th>{{'bookingtable_days'| translate}}</th>
                    <th>{{'bookingtable_price'| translate}}</th>
                  </tr>
                  <tr>
                    <td>{{room.nutritions[0].type}}</td>
                    <td>{{room.nutritions[0].guestCount}}</td>
                    <td>{{room.nutritions[0].days}}</td>
                    <td>{{room.nutritions[0].price}} {{currency}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_deny_rules' | translate}}</td>
              <td><span class="deny-rules" [innerHTML]="'bookingtable_deny_description' | translate"></span></td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_prepay'| translate}}</td>
              <td>
                <span *ngIf="room.tariff.type === 'STANDART'" [innerHTML]="'bookingtable_prepay_not' | translate"></span>
                <span *ngIf="room.tariff.type !== 'STANDART'" [innerHTML]="'bookingtable_prepay_yes' | translate"></span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>{{'bookingtable_status' | translate}}</td>
              <td [ngClass]="{'status-room-confirm':room.status === 'CONFIRMED', 'status-room-canceled': room.status === 'CANCELED_BY_HOTEL'}">{{room.status}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <table class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td>{{'bookingtable_guest_message' | translate}}</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td>
                <p *ngIf="info.comment" class="message-area">{{info.comment}}</p>
                <p *ngIf="!info.comment" class="message-area"></p>
              </td>
            </tr>
            </tbody>
          </table>
          <table *ngIf="info.hotel.policy" class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td colspan="2">{{'bookingtable_rules' | translate}}</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td class="pointer">{{'bookingtable_children_placement' | translate}}</td>
              <td><p class="mb-1" *ngFor="let child of info.hotel.policy.children" [ngSwitch]="child.bad">
                {{'bookingtable_children_from"' | translate}} {{child.ageFrom}} {{'bookingtable_children_to' | translate}} {{child.ageTo}} {{'bookingtable_children_place' | translate}} <span *ngSwitchCase="'AVAILABLE_BEDS'">{{'bookingtable_available_beds' | translate}}</span><span *ngSwitchCase="'EXTRA_BEDS'">{{'bookingtable_add_beds' | translate}}</span><span *ngSwitchCase="'CHILDRENS_BEDS'">{{'bookingtable_child_beds' | translate}}</span><span *ngIf="child.price > 0"> {{'bookingtable_for' | translate}} {{child.price}}</span><span *ngIf="child.price === 0"> {{'bookingtable_free' | translate}}</span>
              </p></td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">{{'bookingtable_inthernet' | translate}}</td><!-- <span *ngSwitchCase="'FREE'"></span><span *ngSwitchCase="'PAID'"></span><span *ngSwitchCase="'NO'"></span>-->
              <td [ngSwitch]="info.hotel.facility.internet.access">
                <span *ngSwitchCase="'FREE'">
                  {{'bookingtable_available_free' | translate}}
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> {{'bookingtable_wi_fi' | translate}} </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> {{'bookingtable_cable_inthernet' | translate}} </span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">{{'bookingtable_in_all_rooms' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">{{'bookingtable_recent_rooms' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">{{'bookingtable_public_places' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">{{'bookingtable_all_places' | translate}}</span>
                </span>
                <span *ngSwitchCase="'PAID'">
                  {{'bookingtable_payd' | translate}}
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> {{'bookingtable_wi_fi' | translate}} </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> {{'bookingtable_cable_inthernet' | translate}} </span>
                  {{'bookingtable_available' | translate}}
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">{{'bookingtable_in_all_rooms' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">{{'bookingtable_recent_rooms' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">{{'bookingtable_public_places' | translate}}</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">{{'bookingtable_all_places' | translate}}</span>
                </span>
                <span *ngSwitchCase="'NO'">{{'bookingtable_inthernet_no' | translate}}</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">{{'bookingtable_parking' | translate}}</td>
              <td [ngSwitch]="info.hotel.facility.parking.type">
                {{'bookingtable_in_hotel' | translate}} <span *ngSwitchCase="'FREE'">{{'bookingtable_frees' | translate}}</span><span *ngSwitchCase="'PAID'">{{'bookingtable_paying' | translate}}</span><span *ngSwitchCase="'NO'">{{'bookingtable_no' | translate}}</span> {{'bookingtable_park' | translate}} <span *ngIf="info.hotel.facility.parking.price && info.hotel.facility.parking.price > 0">{{'bookingtable_for' | translate}} {{info.hotel.facility.parking.price}}</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">{{'bookingtable_animals_placement' | translate}}</td>
              <td [ngSwitch]="info.hotel.policy.animals">
                <span *ngSwitchCase="'FORBIDDEN'">{{'bookingtable_animals_no' | translate}}</span>
                <span *ngSwitchCase="'ALLOWED'">{{'bookingtable_animals_allow' | translate}}</span>
                <span *ngSwitchCase="'NEED_CONFIRMATION'">{{'bookingtable_animals_admin' | translate}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #bborder>
        <div *ngIf="bb" class="row order-confirm">
          <div *ngFor="let room of info.hotel.rooms; index as i" class="col-md-6">
            <table class="table table-striped table-bordered table-booking">
              <thead class="table-head">
              <tr>
                <td>
                  <b>
                    Room {{i + 1}}
                    <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_room' | translate}} {{i + 1}}</span>
                  </b>
                </td>
                <td><b>{{room.name}}</b></td>
              </tr>
              </thead>
              <tbody>
              <tr class="table-booking-tr">
                <td>
                  Guest Name
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_guest_name' | translate}}</span>
                </td>
                <td>{{room.paxes[0].name}} {{room.paxes[0].surname}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Check in
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_in' | translate}}</span>
                </td>
                <td>{{info.hotel.checkIn | date: 'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Check out
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_out' | translate}}</span>
                </td>
                <td>{{info.hotel.checkOut | date: 'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Guests in the room
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_mans_count' | translate}}</span>
                </td>
                <td>{{hb_mans(room.paxes)}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Total for accomodation
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_total' | translate}}</span>
                </td>
                <td>{{room.rates[0].net}} {{info.currency}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Meal plan
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_nutrition' | translate}}</span>
                </td>
                <td>
                  <span class="text-lowercase">{{room.rates[0].boardName}}</span>
                </td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Cancellation policy
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_deny_rules' | translate}}</span>
                </td>
                <td>
                  {{'bookingtable_unrefundable' | translate}}
                  <!--<span class="deny-rules">{{room.rates[0].cancellationPolicies[0].amount}} {{info.currency}} from {{room.rates[0].cancellationPolicies[0].from | date: 'dd-MM-yyyy HH:mm'}}</span>-->
                </td>
              </tr>
              <tr class="table-booking-tr">
                <td>
                  Payments and taxes
                  <span [hidden]="SS.isLanguageCurrent.value === 'en'"> / {{'bookingtable_taxes' | translate}}</span>
                </td>
                <td>
                  {{'bookingtable_local_tax' | translate}}
                  <!--<span *ngIf="room.rates[0].paymentTyme === 'AT_WEB'" [innerHTML]="'No prepayment is required'"></span>-->
                  <!--<span *ngIf="room.rates[0].paymentTyme !== 'AT_WEB'" [innerHTML]="'Prepayment is charged'"></span>-->
                </td>
              </tr>
              <!--<tr class="table-booking-tr">-->
                <!--<td>Comment</td>-->
                <!--<td>{{room.rates[0].rateComments}}</td>-->
              <!--</tr>-->
              <!--<tr class="table-booking-tr">-->
                <!--<td>Status</td>-->
                <!--<td class="status" [ngClass]="{'status-room-confirm':room.status === 'CONFIRMED', 'status-room-canceled': room.status === 'CANCELED_BY_HOTEL'}">{{room.status}}</td>-->
              <!--</tr>-->
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-booking">

              <thead class="table-head">
              <tr>
                <td>Guest's comments</td>
              </tr>
              </thead>
              <tbody>
              <tr class="table-booking-tr">
                <td>
                  <div class="p-2">{{info.comment}}</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
