.calibri {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2000;
}
.reference, .status {
  font-weight: bolder;
}
.booking {
  position: relative;
  top: -35px;
  z-index: 2001;
}
.book-total {
  font-weight: bold;
  color: #00135F;
  font-size: 12px;
  margin-bottom: 10px;
}
.page-heading {
  text-align: center;
}
.page-heading span {
  text-align: center;
  display: block;
}
.page-heading h1 {
  margin-bottom: 0;
}
.sub-title {
  font-weight: 400;
}
.order-details {
  margin-bottom: 5px;
  font-size: 11px;
}
.status-confirm {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #519764;
}
.status-room-confirm {
  font-weight: 500;
  font-size: 14px;
  color: #519764;
}
.status-canceled {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #d9534f;
}
.status-room-canceled {
  font-weight: 500;
  font-size: 14px;
  color: #d9534f;
}
.order-detalis span i {
  margin-left: 15px;
}
.order-detalis span i:first-child {
  margin-left: 0;
}
.table-head {
  background: #0077cc;
  color: white;
  font-weight: bold;
}
.table-booking td {
  font-size: 12px;
  padding: 5px;
}
.inner-table {
  padding: 0 !important;
}
.inner-table table {
  margin-bottom: 0;
}
.table-booking.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.02);
}
.table-booking-tr > td:first-child {
  border-left-color: #bbb;
}
.table-booking-tr > td:last-child {
  border-right-color: #bbb;
}
.table-booking-tr:last-child > td {
  border-bottom-color: #bbb;
}
.inner-table th {
  background: #bbb;
  color: white;
  padding: 5px;
  font-weight: 500;
}
.inner-table tr:first-child td {
  border-top: none;
}
.inner-table tr:last-child td {
  border-bottom: none;
}
.inner-table tr td:first-child {
  border-left: none;
}
.inner-table tr td:last-child {
  border-right: none;
}
.total {
  font-weight: bold;
}
.page-title {
  font-size: 12px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .sub-title {
    font-size: 14px;
  }
  .deny-rules {
    display: block;
    line-height: 1;
  }
}
