<ul class="breadcrumb list-inline">
  <li class="link breadcrumb__link breadcrumb-item"><a [routerLink]="['/']">{{'breadcrumps_main' | translate}}</a></li>
  <li *ngFor="let link of links.link; index as i" class="link breadcrumb__link breadcrumb-item">
    <a *ngIf="link.direction === '' && links.link.length === 1; else multilink" [routerLink]="['/' + SS.isLanguageCurrent.value, current]" [queryParams]="params">{{link.title | translate}}</a>
    <ng-template #multilink>
      <a *ngIf="!link.direction.split('/')[1]; else doublelink" [routerLink]="['/' + SS.isLanguageCurrent.value, current, link.direction]" [queryParams]="params">{{link.title | translate}}</a>
      <ng-template #doublelink>
        <a [routerLink]="['/' + SS.isLanguageCurrent.value, current, link.direction.split('/')[0], link.direction.split('/')[1]]" [queryParams]="params">{{link.title | translate}}</a>
      </ng-template>
    </ng-template>
  </li>
  <li class="link breadcrumb__current breadcrumb-item">{{ links.current | translate }}</li>
</ul>

