@import "../../assets/styles/color-consts";
.breadcrumb-item + .breadcrumb-item::before {
  color: $second-color;
  content: "\2192";
  font-size: 26px;
  line-height: 0;
  position: relative;
  top: 4px;
  font-weight: bold;
}
.breadcrumb {
  padding: 0;
  background: none;
  font-size: 12px;
  margin-bottom: 10px;
  a, span {
    color: $dark-main-color;
    cursor: pointer;
  }
  a:hover, span:hover {
    color: $second-main-color;
    text-decoration: underline;
  }
  &__current {
    color: black;
  }
}
