<div class="main-content">
  <div class="container">
    <div class="row">
      <app-breadcrumps class="col-12" [searchData]="searchData" [links]="links" [current]="'hotels'"></app-breadcrumps>
      <div class="d-none d-md-block col-md-3 pl-md-3 main-content__column-left">
        <app-search-form [view]="'search'" (search)="onSearch($event)" (openhotel)="hotelOpen($event)"></app-search-form>
        <div class="hotel-view" [hidden]="hotelview.length === 0 || (hotelview.length === 1 && hotelview[0].id === hotelId)">
          <h6 class="main-title">{{'hotelview_saw' | translate}}</h6>
          <ng-container *ngFor="let hotel of hotelview; index as i">
            <div class="hotel" [hidden]="hotel.id === hotelId">
              <button class="close-view close" aria-label="Close" (click)="closeView(hotel.id, i)">
                <span aria-hidden="true">&times;</span>
              </button>
              <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="routeparams" class="hotel__img col-4 p-0" (click)="hotelOpen({hotelId: hotel.id})">
                <img [src]="hotel.photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
              </a>
              <div class="hotel__title">
                <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="routeparams" class="hotel__title__text" (click)="hotelOpen({hotelId: hotel.id})">{{hotel.title}}</a>
                <span class="hotel__title__stars"><i class="fa fa-star" *ngFor="let star of hotel.stars"></i></span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="main-content__main-column col-12 col-md-9" #carousel>
        <div *ngIf="hotelInfo" [hidden]="loading">
          <div class="main-content__main-column__block title">
            <div class="title__text"><h1>{{hotelInfo.title}}</h1>
              <span class="text-nowrap">
                <i class="star" *ngFor="let i of hotelInfo.stars" class="fa fa-star"></i>
              </span>
            </div>
            <div class="title__location"><i class="fa fa-map-marker"></i> {{hotelInfo.location.address}}
              <span class="title__location__seemap" (click)="openMap(template)">{{'hotelpage_see_map' | translate}}</span>
            </div>
            <ng-template #template>
              <div class="map-body">
                <button type="button" class="close close-map pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <agm-map [zoom]="12" [latitude]="hotelInfo.location.lat" [longitude]="hotelInfo.location.lng">
                  <agm-marker [latitude]="hotelInfo.location.lat" [longitude]="hotelInfo.location.lng"></agm-marker>
                </agm-map>
              </div>
            </ng-template>
          </div>
          <div class="main-content__main-column__block carousel" draggable="false" [hidden]="hotelInfo.photos.length === 0">
            <div class="carousel__big" #img draggable="false" (window:resize)="resizeCarousel(img)" (mousedown)="mouseClickCar(true)" (mouseup)="mouseClickCar(false)" (mousemove)="mouseMove($event.movementX)" (mouseleave)="mouseClickCar(false)">
              <div class="carousel__big__box" draggable="false" [ngStyle]="{'left.px' : CIs.left}">
                <div *ngFor="let photo of hotelInfo.photos; index as im" class="carousel__big__box__item" draggable="false" [ngStyle]="{'margin-left.px' : CIs.margin[im]}" (click)="centerImageCar(im)">
                  <img [src]="photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'" [ngStyle]="{'width.px' : CIs.widthblock > 545 ? '*' : CIs.widthblock}" draggable="false" class="{{CIs.zindex[im]}}">
                </div>
              </div>
            </div>
            <div class="img-row d-none d-md-block">
              <img *ngFor="let photo of hotelInfo.photosmin; index as i" class="img-row__img img-fluid" [ngClass]="{ active : i === CIs.activeSlide }"
                   [src]="photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'"
                   (click)="centerImageCar(i)">
            </div>
            <div class="img-dots d-md-none">
              <span *ngFor="let photo of hotelInfo.photosmin; index as i" class="img-dots__dot" [ngClass]="{ active : i === CIs.activeSlide }"
                    (click)="centerImageCar(i)">
                <span class="img-dots__dot__dota"></span>
              </span>
            </div>
          </div>
          <div class="main-content__main-column__block description mb-0">
            <div *ngIf="SS.isLanguageCurrent.value === 'ua'">{{'hotelpage_sorry_translate' | translate}}</div>
            <p *ngFor="let desc of hotelInfo.description">{{desc}}</p>
          </div>
          <div *ngIf="hotelInfo.payment.isCashOnly" class="payment-cash bg-success">{{'hotelpage_cash_only' | translate}}</div>
          <div *ngIf="hotelInfo.registry" class="user-registry-time">{{'hotelpage_na_bron' | translate}} {{hotelInfo.registry | date: 'dd MMMM yyyy'}}</div>
          <div class="main-content__main-column__block hotel-table">
            <app-hotel-table [payments]="hotelInfo.payment" [hotelId]="hotelId"></app-hotel-table>
          </div>
          <div *ngIf="hotelInfo.facility" class="main-content__main-column__block facilities">
            <h4 class="facilities__title">{{'hotelpage_amen' | translate}} {{hotelInfo.title}}</h4>
            <div class="facilities__list">
              <div *ngIf="hotelInfo.facility.parking" class="hotelfacilities p-0">
                <div class="facilities__list__text">
                  <ul class="title">{{'hotelpage_parking' | translate}}</ul>
                  <ng-container *ngIf="hotelInfo.facility.parking.type === 'FREE'; else paidparking">
                    <li class="list-inline-item">{{'hotelpage_Free' | translate}}</li>
                  </ng-container>
                  <ng-template #paidparking>
                    <li class="list-inline-item">{{'hotelpage_paid' | translate}} {{hotelInfo.facility.parking.price}}</li>
                  </ng-template>
                </div>
              </div>
              <div *ngIf="hotelInfo.facility.reception" class="hotelfacilities p-0">
                <ul class="facilities__list__text">
                  <span class="title">{{'hotelpage_reception' | translate}}</span>
                  <ng-container *ngIf="hotelInfo.facility.reception.isRoundClock; else receptionwork">
                    <li class="list-inline-item">{{'hotelpage_allday' | translate}}</li>
                  </ng-container>
                  <ng-template #receptionwork>
                    <li class="list-inline-item reception-time text mr-2">{{'hotelpage_begin' | translate}} {{hotelInfo.facility.reception.start}}</li>
                    <li class="list-inline-item reception-time text">{{'hotelpage_end' | translate}} {{hotelInfo.facility.reception.end}}</li>
                  </ng-template>
                </ul>
              </div>
            </div>
            <div class="facilities__list">
              <div [hidden]="hotelInfo.facility.internet.length === 0" class="hotelfacilities p-0">
                <ul class="facilities__list__text">
                  <span class="title">{{'hotelpage_internet' | translate}}</span>
                  <li class="list-inline-item" *ngFor="let internet of hotelInfo.facility.internet">
                    &#8226; <span class="word" *ngFor="let int of internet">{{int | translate}}</span>
                  </li>
                </ul>
              </div>
              <div *ngFor="let type of hotelInfo.facility.facilityTypes" [ngSwitch]="type" class="hotelfacilities p-0">
                <ul class="facilities__list__text">
                  <span *ngSwitchCase="'SPORT'" class="title">{{'searchfilter_sport' | translate}}</span>
                  <span *ngSwitchCase="'NUTRITION'" class="title">{{'searchfilter_nutrition' | translate}}</span>
                  <span *ngSwitchCase="'HEALTH_SERVICE'" class="title">{{'searchfilter_health' | translate}}</span>
                  <span *ngSwitchCase="'TRANSPORT'" class="title">{{'searchfilter_transport' | translate}}</span>
                  <span *ngSwitchCase="'RECEPTION'" class="title">{{'searchfilter_reception' | translate}}</span>
                  <span *ngSwitchCase="'PUBLIC_PLACE'" class="title">{{'searchfilter_public' | translate}}</span>
                  <span *ngSwitchCase="'ENTERTAINMENT'" class="title">{{'searchfilter_entertainment' | translate}}</span>
                  <span *ngSwitchCase="'CLEANING_SERVICE'" class="title">{{'searchfilter_cleaning' | translate}}</span>
                  <span *ngSwitchCase="'BUSINESS'" class="title">{{'searchfilter_business' | translate}}</span>
                  <span *ngSwitchCase="'SHOP'" class="title">{{'searchfilter_shop' | translate}}</span>
                  <span *ngSwitchCase="'OTHER'" class="title">{{'searchfilter_other' | translate}}</span>
                  <span *ngSwitchCase="'KITCHEN'" class="title">{{'searchfilter_kitchen' | translate}}</span>
                  <span *ngSwitchCase="'ABOUT_BUILDING'" class="title">{{'hotelpage_building' | translate}}</span>
                  <span *ngSwitchCase="'ANOTHER'" class="title">{{'hotelpage_another' | translate}}</span>
                  <span *ngSwitchCase="'ACCESSIBILITY'" class="title">{{'searchfilter_access' | translate}}</span>
                  <span *ngSwitchCase="'AMENITIES'" class="title">{{'searchfilter_amenities' | translate}}</span>
                  <span *ngSwitchCase="'LOCATION'" class="title">{{'searchfilter_location' | translate}}</span>
                  <span *ngSwitchCase="'SERVICE'" class="title">{{'searchfilter_service' | translate}}</span>
                  <span *ngSwitchDefault class="title">{{type}}</span>
                  <ng-container *ngFor="let facil of hotelInfo.facility.facilities">
                    <li *ngIf="facil.type === type" class="list-inline-item">
                      <span>&#8226; {{facil.title}} {{facil.number}}</span>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="policy2">
              <h4 class="facilities__title mt-3">{{'hotelpage_uslovia' | translate}}</h4>
              <table>
                <tr *ngIf="hotelInfo.policy.arrival" class="mod">
                  <td class="policy2__title">{{'hotelpage_in' | translate}}</td>
                  <td class="policy2__text">{{'hotelpage_s' | translate}} {{hotelInfo.policy.arrival | slice:0:5}}</td>
                </tr>
                <tr *ngIf="hotelInfo.policy.departure" class="mod">
                  <td class="policy2__title">{{'hotelpage_out' | translate}}</td>
                  <td class="policy2__text">{{'hotelpage_do' | translate}} {{hotelInfo.policy.departure | slice:0:5}}</td>
                </tr>
                <tr *ngIf="!hotelInfo.bb">
                  <td class="policy2__title">{{'hotelpage_stand_and_un' | translate}}</td>
                  <td class="policy2__text tariff" [innerHTML]="'hotelpagetable_policy_our' | translate"></td>
                </tr>
                <tr *ngIf="hotelInfo.bb">
                  <td class="policy2__title">{{'hotelpage_stand_and_un_hb' | translate}}</td>
                  <td class="policy2__text tariff">{{'hotelpagetable_policy_hb' | translate}}</td>
                </tr>
                <tr *ngIf="hotelInfo.policy.children.length > 0">
                  <td class="policy2__title">{{'hotelpage_place_child' | translate}}</td>
                  <td class="policy2__text">
                    <div *ngFor="let child of hotelInfo.policy.children">
                      <span class="word" *ngFor="let ch of child">{{ch | translate}}</span>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="hotelInfo.policy.animals.length > 0">
                  <td class="policy2__title">{{'hotelpage_animals' | translate}}</td>
                  <td class="policy2__text">
                    <!--<div *ngFor="let animal of hotelInfo.policy.animals">-->
                      <!--<span class="word" *ngFor="let an of animal">{{an | translate}}</span>-->
                    <!--</div>-->
                    <span class="word">{{'hotelpage_animals_ex' | translate}}</span>
                  </td>
                </tr>
                <tr *ngIf="hotelInfo.payment.cards > 0">
                  <td class="policy2__title">{{'hotelpage_credits' | translate}}</td>
                  <td *ngIf="!hotelInformation.bb; else hbcredits" class="policy2__text">
                    <span *ngIf="hotelInfo.payment.isCashOnly">{{'hotelpage_only_cash' | translate}}</span>
                    <span *ngIf="!hotelInfo.payment.isCashOnly">
                    <ng-container *ngFor="let card of hotelInfo.payment.cards" [ngSwitch]="card.type">
                      <img class="policy2__credit-card" src="../../assets/images/cards/visa.png" *ngSwitchCase="'VISA'">
                      <img class="policy2__credit-card" src="../../assets/images/cards/maestro.png" *ngSwitchCase="'MAESTRO'">
                      <img class="policy2__credit-card" src="../../assets/images/cards/mastercard.png" *ngSwitchCase="'MASTERCARD'">
                      <img class="policy2__credit-card" src="../../assets/images/cards/american_express.png" *ngSwitchCase="'AMERICAN_EXPRESS'">
                    </ng-container>
                  </span>
                  </td>
                  <ng-template #hbcredits>
                    <td class="policy2__text">
                      <span class="mr-3" *ngFor="let card of hotelInfo.payment.cards">{{card}}</span>
                    </td>
                  </ng-template>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div [hidden]="!loading" class="loader">
          <div class="loader-animate loader__text marquee"><span></span></div>
          <div class="loader-animate height loader__image marquee"><span></span></div>
        </div>
        <div [hidden]="loading || this.hotelInfo" class="height empty">
          <div class="empty__text">
            <div>{{'hotelpage_not_fount' | translate}}</div>
          </div>
        </div>
      </div>
      <div [hidden]="hotelAdd.length === 0" class="add-content col-12">
        <!--<h4 *ngIf="hotelInfo" [translate]="'hotelpage_add'" [translateParams]="{ name: hotelInfo.title }"></h4>-->
        <h4>{{'hotelpage_add_another' | translate}}</h4>
        <div class="row mb-4 mr-0 ml-0">
          <div *ngFor="let hotel of hotelAdd" class="col-6 col-sm-4 col-md-3 hotel-box">
            <div class="add-hotel">
              <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="routeparams" (click)="hotelOpen({hotelId: hotel.id})">
                <h5 class="add-hotel__title">{{hotel.title}}</h5>
              </a>
              <div class="add-hotel__stars">
                <i *ngFor="let star of hotel.stars" class="star fa fa-star"></i>
              </div>
              <div class="add-hotel__description" [ngClass]="{'empty-desc' : !hotel.description}">
                <span class="add-hotel__description__image">
                  <img  [src]="hotel.photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
                </span>
                <ng-container *ngIf="hotel.bb; else hoteldesc">
                  <span class="add-hotel__description__description" [hidden]="!hotel.description">{{hotel.description | slice:0:175}}...</span>
                </ng-container>
                <ng-template #hoteldesc>
                  <span class="add-hotel__description__description">
                    <span *ngIf="hotel.description.location">{{hotel.description.location | slice:0:40}}...</span>
                    <span *ngIf="hotel.description.rooms">{{hotel.description.rooms | slice:0:40}}...</span>
                    <span *ngIf="hotel.description.nutrition">{{hotel.description.nutrition | slice:0:40}}...</span>
                    <span *ngIf="hotel.description.environment">{{hotel.description.environment | slice:0:40}}...</span>
                  </span>
                </ng-template>
                <span *ngIf="!hotel.description">{{'hotelpage_empty_desc' | translate}}</span>
              </div>
              <div class="add-hotel__generalprice">
                <span class="text">{{'hotelpage_general_price' | translate}}</span>
                <span class="price">{{hotel.totalPrice}} {{hotel.currency}}</span>
              </div>
              <div class="add-hotel__book text-center">
                <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="routeparams" (click)="hotelOpen({hotelId: hotel.id})">
                  <button class="btn btn-bronirovka">{{'hotelpage_book' | translate}}</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
