@import "../../assets/styles/color-consts";
.main-content {
  margin-top: 10px;
  &__column-left {
    padding: 0;
  }
}
.main-content__main-column {
  &__block {
    color: $dark-main-color;
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 10px;
    &__text {
      h1 {
        margin-left: 10px;
        display: inline-block;
        color: black;
        cursor: default;
        margin-bottom: 0;
        margin-right: 20px;
        line-height: 1;
        font-size: 30px;
      }
      i {
        color: $second-color;
        font-size: 18px;
      }
    }
    &__location {
      margin-left: 30px;
      cursor: default;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      &__seemap {
        text-decoration: underline;
        margin-left: 10px;
        color: $main-color;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
      }
      &__seemap:hover {
        color: $second-main-color;
      }
    }
    &__location:before {
      content: '';
      height: 5px;
      width: 35px;
      background: white;
      position: absolute;
      left: 14px;
      top: 45px;
      transform: rotate(45deg);
      border-top: 1px solid #ccc;
    }
  }
  .carousel {
    position: relative;
    &__big {
      height: 360px;
      position: relative;
      overflow: hidden;
      &__box {
        position: absolute;
        display: flex;
        height: 100%;
        align-items: center;
        transition: all 1s ease;
        &__item {
          display: flex;
          height: 0;
          width: 0;
          align-items: center;
          justify-content: center;
          img {
            height: 95%;
            position: absolute;
            transition: all 1s ease;
          }
          img.first {
            box-shadow: 2px 2px 10px #000;
            z-index: 4;
          }
          img.second {
            transform: scale(0.90);
            filter: opacity(0.6) drop-shadow(0px 0px 0px #fff);
            z-index: 3;
          }
          img.third {
            opacity: 0.4;
            transform: scale(0.75);
            z-index: 2;
          }
          img.hide {
            z-index: 1;
            opacity: 0.25;
            transform: scale(0.6);
          }
        }
      }
      @media (max-width: 991px) {
        height: 320px;
        &__box__item {
          height: 280px;
        }
      }
      @media (max-width: 767px) {
        height: 350px;
        &__box__item {
          height: 350px;
        }
      }
      @media (max-width: 575px) {
        height: 280px;
        &__box__item {
          height: 280px;
          img {
            height: auto;
          }
        }
      }
    }
    carousel {
      margin-bottom: 10px;
      .carousel-item.active {
        text-align: center;
        background: #fdf9fa;
        img {
          height: 360px;
        }
        @media (max-width: 991px) {
          img {
            height: 320px;
          }
        }
        @media (max-width: 767px) {
          img {
            height: 280px;
          }
        }
        @media (max-width: 575px) {
          img {
            height: 220px;
          }
        }
      }
    }
    .img-row {
      margin-top: 10px;
      &__img {
        height: 30px;
        display: inline-block;
        width: auto;
        margin-right: 3px;
        margin-bottom: 3px;
        cursor: pointer;
        transition: all 1s ease;
      }
      &__img.active {
        transform: scale(1.6);
        outline: 1px solid $dark-main-color;
        box-shadow: 2px 2px 3px #333;
      }
    }
    .img-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 6;
      text-align: center;
      &__dot {
        padding: 5px;
        opacity: 0.5;
        &__dota {
          border-radius: 50%;
          height: 10px;
          width: 10px;
          background: white;
          display: inline-block;
          cursor: pointer;
          box-shadow: 0 0 5px #000, 0 0 5px #000;
        }
      }
      &__dot:hover {
        opacity: 0.75;
      }
      &__dot.active {
        opacity: 1;
      }
    }
  }
  .description {
    font-size: 14px;
    line-height: 1.3;
    div {
      font-weight: bold;
    }
    p {
      text-indent: 20px;
      margin-bottom: 10px;
      text-align: justify;
    }
  }
  .hotel-table {}
  .facilities {
    &__list {
      column-count: 3;
      margin-bottom: 0;
      @media (max-width: 991px) {
        column-count: 2;
      }
      &__icon {
        align-self: flex-start;
        padding: 5px;
        line-height: 0;
        color: white;
        background-color: $main-color;
        border-radius: 50%;
        margin-right: 5px;
        .fa {
          height: 18px;
          width: 18px;
          text-align: center;
          color: white;
        }
        .fa:before {
          vertical-align: middle;
        }
      }
      &__text {
        width: 100%;
        .title {
          font-weight: bolder;
          text-transform: lowercase;
          font-size: 13px;
          background: #E5E5E5;
          padding: 5px 10px;
          margin-right: 10px;
          margin-bottom: 5px;
          display: block;
        }
        font-size: 12px;
        line-height: 1;
        margin-bottom: 13px;
        padding-left: 0;
        li {
          color: #666;
          width: 100%;
          line-height: 0.95;
          margin-bottom: 4px;
        }
      }
      .reception-time {
        white-space: nowrap;
        width: auto;
      }
      .hotelfacilities {
        display: inline-block;
        width: 100%;
      }
      .mainlist {
        display: flex;
      }
    }
  }
  .landmark {
    color: #444;
    h6 {
      font-weight: bolder;
      margin-bottom: 0;
    }
    ul {
      display: table;
      width: 100%;
    }
    &__item {
      display: table-row;
      &__title {
        display: table-cell;
        border-bottom: 1px solid $main-gray-color;
      }
      &__dist {
        border-bottom: 1px solid $main-gray-color;
        display: table-cell;
        font-size: 12px;
        color: #939393;
        text-align: right;
      }
    }
  }
  .policy2 {
    table {
      background: #e9f0fa;
      width: 100%;
    }
    table td {
      padding: 10px;
      border-bottom: 1px solid #bbb;
      border-top: 1px solid #bbb;
      line-height: 1;
    }
    &__title {
      max-width: 300px;
      color: #666;
    }
    &__text.tariff {
      text-indent: 20px;
    }
    &__credit-card {
      height: 35px;
    }
    @media (max-width: 370px) {
      table {
        display: block;
        td {
          max-width: 100%;
          display: block;
        }
        td:first-child {
          padding-bottom: 5px;
          border-bottom: none;
        }
        td:last-child {
          padding-top: 5px;
          border: none;
        }
        tr:last-child td:last-child {
          border-bottom: 1px solid #bbb;
        }
      }
      tbody {
        display: block;
      }
    }
  }
}
.icon-next, .icon-prev {
  display: none;
}
.user-registry-time {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.payment-cash {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  display: inline-block;
  padding: 5px 10px;
}
.empty-hotel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  span {
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
  }
}
.add-content {
  h4 {
    border-bottom: 2px solid $dark-main-color;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .row {
    background: #c4cef5;
    padding: 20px 10px;
  }
  .bordered {
    border-right: 1px solid $main-gray-color;
    margin-bottom: 30px;
    border-top: 1px solid $main-gray-color;
    padding-top: 15px;
  }
  .bordered:first-child {
    border-left: 1px solid $main-gray-color;
  }
  @media (max-width: 575px) {
    .bordered:nth-child(3) {
      border-left: 1px solid $main-gray-color;
    }
  }
  @media (max-width: 400px) {
    .bordered {
      border-left: 1px solid $main-gray-color;
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  @media (min-width: 576px) and (max-width: 767px){
    .bordered:nth-child(4) {
      display: none;
    }
  }
  .hotel-box {
    padding: 10px;
  }
  .add-hotel {
    background: #fff;
    border: 1px solid $main-gray-color;
    padding: 10px 15px;
    &__title {
      color: $main-color;
      cursor: pointer;
      line-height: 1;
      font-size: 18px;
      margin-bottom: 3px;
      align-items: flex-end;
      display: flex;
      min-height: 36px;
      @media (max-width: 991px) {
        min-height: 32px;
        font-size: 16px;
      }
    }
    &__title:hover {
      color: $second-main-color;
    }
    &__book {
      margin-top: 15px;
    }
    &__generalprice {
      display: flex;
      flex-wrap: wrap;
      .price {
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        color: #1B7625;
        text-align: right;
      }
      .text {
        color: $main-gray-text-color;
        white-space: nowrap;
      }
    }
    &__description {
      margin: 10px 0;
      line-height: 1;
      overflow: hidden;
      @media (min-width: 401px) {
        height: 208px;
      }
      @media (min-width: 566px) {
        height: 220px;
      }
      @media (min-width: 992px) {
        height: 145px;
      }
      @media (min-width: 1200px) {
        height: 126px;
      }
      &__image {
        margin-right: 10px;
        margin-bottom: 5px;
        width: 45%;
        float: left;
        overflow: hidden;
        border-radius: 5px;
        @media (max-width: 991px) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 90px;
        }
      }
    }
    &__description.empty-desc {
      height: auto !important;
      color: #ccc;
    }
  }
  .add-hotel:hover {
    box-shadow: 2px 2px 5px #666;
  }
}
.hotel-view {
  .main-title {
    font-weight: bold;
    color: $dark-main-color;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .hotel {
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
    transition: all 0.1s ease;
    overflow: hidden;
    &__img {
      position: relative;
      overflow: hidden;
      background-color: $main-gray-color;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%,-50%);
        cursor: pointer;
      }
      img.vertical {
        width: 100%;
        height: auto;
      }
    }
    &__title {
      padding: 9px 10px;
      min-height: 80px;
      &__text {
        font-weight: bold;
        cursor: pointer;
        display: block;
        color: $dark-main-color;
      }
      &__text {
        color: $main-color;
        padding-right: 15px;
        line-height: 1;
      }
      &__stars {
        color: $second-color;
      }
    }
    .close-view {
      position: absolute;
      top: 2px;
      right: 7px;
      opacity: 0.2;
      cursor: pointer;
    }
    .close-view:hover {
      opacity: 0.5;
    }
  }
  .hotel:hover {
    box-shadow: 2px 2px 5px #666;
    border-bottom-color: #666;
    border-right-color: #666;
  }
}
.loader {
  &__text {
    width: 25%;
    height: 32px;
  }
  &__image, &__text {
    margin-bottom: 37px;
  }
}
.height {
  height: 220px;
  @media (min-width: 576px) {
    height: 280px;
  }
  @media (min-width: 768px) {
    height: 320px;
  }
  @media (min-width: 992px) {
    height: 360px;
  }
}
