@import "../../../assets/styles/color-consts";
.breadcrumb-item + .breadcrumb-item::before {
  color: $second-color;
  content: "\2192";
  font-size: 26px;
  line-height: 0;
  position: relative;
  top: 4px;
  font-weight: bold;
}
.breadcrumb {
  padding: 0;
  background: none;
  font-size: 12px;
  margin-bottom: 10px;
  a, span {
    color: $dark-main-color;
    cursor: pointer;
  }
  a:hover, span:hover {
    color: $second-main-color;
    text-decoration: underline;
  }
  &__current {
    color: black;
  }
}
.form-text {
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 10px;
}
.main {
  margin-top: 10px;
  margin-bottom: 40px;
  &__head {
    color: $main-color;
    border: 1px solid $main-color;
    justify-content: center;
    padding: 5px;
    margin-bottom: 30px;
    h5 {
      margin-top: 5px;
    }
  }
  &__hotel {
    color: $main-color;
    border: 3px solid $main-gray-color;
    &__title {
      .text {
        color: $dark-main-color;
        margin-top: 15px;
        margin-right: 15px;
        display: inline-block;
        line-height: 1;
        margin-bottom: 0;
      }
      .stars {
        display: inline-block;
        color: $second-color;
      }
      .location {
        &__seemap {
          text-decoration: underline;
          margin-left: 10px;
          color: $main-color;
          font-size: 12px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    &__img {
      padding-top: 15px;
      img {
        border-radius: 5px;
      }
    }
    &__content {
      table {
        td {
          width: 60%;
          padding: 0;
          border: none;
          line-height: 1;
          padding-bottom: 5px;
          padding-right: 10px;
        }
      }
    }
  }
  &__content {
    color: $dark-main-color;
    border-radius: 5px;
    background: $list-background;
    margin-bottom: 15px;
    h6 {
      font-weight: bold;
    }
    h6.afterrooms {
      margin-top: 15px;
    }
    &__title {
      margin-bottom: 20px;
    }
    .form {
      padding: 15px;
      .room {
        margin-bottom: 0;
        .nutrition-block__text {
          line-height: 1;
        }
        &__block {
          border-bottom: 15px solid white;
          padding-top: 15px;
          padding-bottom: 15px;
          &__title {
            color: black;
            width: 100%;
            h6 {
              margin-right: 25px;
            }
            .close span {
              position: absolute;
              top: 10px;
              cursor: pointer;
              right: 15px;
            }
            button:focus {
              outline: none;
            }
          }
          .guests-count {
            width: 60px;
          }
          .nutrition.first {
            margin-top: 10px;
          }
          .nutrition {
            &__text {
              margin-left: 10px;
              text-transform: uppercase;
              font-weight: bold;
              padding: 3px 6px;
              border-radius: 5px;
            }
          }
        }
      }
      .room:first-child {
        border-top: 15px solid white;
      }
      .desk-field {
        margin-top: 25px;
      }
      .radio {
        margin-right: 10px;
      }
      .time {
        color: $main-color;
      }
      .user-data {
        color: black;
        font-weight: 600;
        font-size: 16px;
      }
      .back {
        position: absolute;
        right: 30px;
        top: 15px;
      }
      .phone {
        &__input {
          @media (min-width: 992px) {
            width: 50%;
          }
        }
        &__description {
          position: relative;
          padding: 8px 10px;
          border-radius: 5px;
          background: #abd1a5;
          color: #184700;
          line-height: 1;
          @media (min-width: 992px) {
            width: 50%;
          }
        }
        &__description:before {
          content: '';
          position: absolute;
          border: 5px solid transparent;
          border-bottom-color: #abd1a5;
          top: -10px;
          left: 10px;
        }
      }
      .lisense {
        margin-bottom: 0;
        border-top: 15px solid white;
        padding-top: 10px;
      }
      .creditCard {
        position: relative;
        margin: 20px 0;
        height: 230px;
        @media (max-width: 991px) {
          height: 190px;
        }
        .frontside {
          position: relative;
          z-index: 3;
          width: 342px;
          height: 100%;
          padding: 20px;
          border: 1px solid rgb(204,204,204);
          background: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(221, 221, 221));
          box-shadow: 4px 0 4px rgba(150, 150, 150, 0.3);
          border-radius: 10px;
          @media (max-width: 991px) {
            width: 265px;
            padding: 15px;
          }
          .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            label {
              margin-bottom: 0;
            }
            input {
              width: 100%;
              padding: 6px;
              border-radius: 4px;
              text-align: center;
            }
          }
        }
        .backside {
          width: 342px;
          padding: 20px;
          height: 100%;
          border: 1px solid rgb(204,204,204);
          background: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(221, 221, 221));
          border-radius: 10px;
          position: absolute;
          z-index: 2;
          left: 236px;
          top: 0;
          box-shadow: none;
          @media (max-width: 1199px) {
            left: 168px;
          }
          @media (max-width: 991px) {
            width: 265px;
            padding: 15px;
            left: 92px;
          }
          .content {
            height: 100%;
            text-align: right;
            .line {
              height: 46px;
              background-color: $main-gray-text-color;
              position: relative;
              right: -20px;
              margin-bottom: 49px;
              @media (max-width: 991px) {
                right: -15px;
              }
            }
            .cvv2 {
              top: -2px;
              position: relative;
              @media (max-width: 991px) {
                top: -31px;
              }
              label {
                @media (max-width: 991px) {
                  display: block;
                  margin-top: -14px;
                }
              }
              input {
                width: 66px;
                padding: 6px;
                border-radius: 4px;
                text-align: center;
              }
            }
          }
        }
      }
      .rooms-confirm {
        border-top: 15px solid white;
        border-bottom: 15px solid white;
        margin-bottom: 0;
        .rooms-confirm__room {
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 3px solid white;
          &__text {
            margin-right: 20px;
          }
        }
        .rooms-confirm__room:last-child {
          border-bottom: none;
        }
      }
      .rooms-confirm.withoutcard {
        border-bottom: none;
      }
    }
  }
}
.creditCard {
  .ng-touched.ng-invalid:not(form) {
    border: 2px solid #a94442;
  }
}
.carditcard-block {
  border-top: 15px solid white;
}
.beds {
  line-height: 1;
  margin-top: 5px;
}
@media (max-width: 767px) {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
