<div class="main">
  <div class="container">
    <div class="row m-0">
      <ul class="breadcrumb list-inline">
        <li class="link breadcrumb__link breadcrumb-item"><a [routerLink]="['/']">{{'breadcrumps_main' | translate}}</a></li>
        <li *ngFor="let link of links.link; index as i" class="link breadcrumb__link breadcrumb-item">
          <a [routerLink]="link.direction" [queryParams]="params">{{link.title | translate}}</a>
        </li>
        <li class="link breadcrumb__current breadcrumb-item">{{ links.current | translate }}</li>
      </ul>
    </div>
    <div class="main__head row text-center">
      <h5 *ngIf="!confirmBooking"><b>{{'bookingpage_enter_your_data' | translate}}</b></h5>
      <h5 *ngIf="confirmBooking"><b>{{'bookingpage_confirm_booking' | translate}}</b></h5>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 pb-3 col-lg-4">
        <div class="main__hotel row m-0" *ngIf="isLoaded">
          <div class="main__hotel__title col-12 mb-3 col-md-6">
            <h3 class="text">{{ hotelInformation.title }}</h3>
            <span class="stars"><i *ngFor="let i of stars" class="fa fa-star"></i></span>
          </div>
          <div class="main__hotel__img pt-0 col-4 pt-md-3 pb-3 col-sm-6">
            <img class="img-fluid" [src]="avatarPhoto" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
          </div>
          <div class="main__hotel__content p-0 pl-md-3 col-8 col-sm-6 col-md-12">
            <table class="table text-left">
              <tr>
                <td>{{'bookingpage_day_in' | translate}}</td>
                <td>{{ bookinginfo.checkIn | date: 'dd.MM.y' }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_day_out' | translate}}</td>
                <td>{{ bookinginfo.checkOut | date: 'dd.MM.y' }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_nights_count' | translate}}</td>
                <td>{{ nights }}</td>
              </tr>
            </table>
            <table class="table text-left">
              <tr>
                <td>{{'bookingpage_rooms_count' | translate}}</td>
                <td>{{ bookingservice.getRoomsCount(bookingTariffsCount) }}</td>
              </tr>
              <tr>
                <td>{{'bookingpage_total_price' | translate}}</td>
                <td>{{ bookingservice.countRoomsPrice(roomsArray) }} {{bookinginfo.currency}}</td>
              </tr>
              <tr *ngIf="bookingservice.countNutririon(roomsArray) > 0">
                <td>{{'bookingpage_nutrition_price' | translate}}</td>
                <td>{{ bookingservice.countNutririon(roomsArray) }} {{bookinginfo.currency}}</td>
              </tr>
              <tr *ngIf="bookingPaymentsInfo">
                <td>{{'bookingpage_totals_price' | translate}}</td>
                <td>{{ bookingservice.countRoomsPrice(roomsArray) + bookingservice.countNutririon(roomsArray) }} {{bookinginfo.currency}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="bookingRoomInfo && bookingPaymentsInfo && bookingForm" class="col-12 col-md-7 col-lg-8 d-flex flex-column order-md-first">
        <div class="main__content">
          <form [formGroup]="bookingForm" #BookingForm="ngForm" class="form">
            <div class="booking-data" [hidden]="confirmBooking">
              <h6 class="main__content__title">{{'bookingpage_please_enter_data' | translate}}</h6>
              <div class="row form-group">
                <div class="col-6 col-lg-12">
                  <label class="form-text">{{'bookingpage_goal' | translate}}</label>
                  <div class="mt-3">
                    <label class="d-inline text-nowrap radio"><input type="radio" formControlName="work" name="work" value="W"/> {{'bookingpage_work' | translate}}</label>
                    <label class="d-inline text-nowrap radio"><input type="radio" formControlName="work" name="work" value="L"/> {{'bookingpage_rest' | translate}}</label>
                  </div>
                </div>
                <div class="col-6 col-lg-2">
                  <label for="gender" class="form-text">{{'bookingpage_mr' | translate}}</label>
                  <select class="form-control" id="gender" name="gender" formControlName="gender">
                    <option value="M">{{'bookingpage_m_r' | translate}}</option>
                    <option value="F">{{'bookingpage_m_s' | translate}}</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-5">
                  <label class="form-text">{{'bookingpage_name_*' | translate}}</label>
                  <input formControlName="firstname" name="firstname" class="form-control" autocomplete="on" placeholder="{{'bookingpage_name' | translate}}" type="text" (keypress)="checkChar($event)" required/>
                  <div *ngIf="firstname.invalid && firstname.touched" class="text-danger">
                    <div>{{'bookingpage_enter_name' | translate}}</div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-5">
                  <label class="form-text">{{'bookingpage_surname_*' | translate}}</label>
                  <input formControlName="surname" name="surname" class="form-control" autocomplete="on" placeholder="{{'bookingpage_surname' | translate}}" type="text" (keypress)="checkChar($event)" required/>
                  <div *ngIf="surname.invalid && surname.touched" class="text-danger">
                    <div>{{'bookingpage_enter_surname' | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-8">
                  <label class="form-text">{{'bookingpage_email_*' | translate}}</label>
                  <input autocomplete="on" formControlName="email" class="form-control" required [pattern]="emailPattern" (blur)="lowcase()"/>
                  <div *ngIf="email.invalid && email.touched" class="text-danger">
                    <div *ngIf="email.errors.required">{{'bookingpage_enter_mail' | translate}}</div>
                    <div *ngIf="email.errors.pattern">{{'bookingpage_email_not' | translate}}</div>
                  </div>
                  <label class="form-text">{{'bookingpage_email_confirm' | translate}}</label>
                  <input autocomplete="on" formControlName="emailconfirm" class="form-control" required [pattern]="emailPattern" (blur)="lowcase()"/>
                  <div *ngIf="emailconfirm.invalid && emailconfirm.touched" class="text-danger">
                    <div *ngIf="emailconfirm.errors.required">{{'bookingpage_enter_email_confirm' | translate}}</div>
                    <div *ngIf="emailconfirm.errors.pattern">{{'bookingpage_email_not' | translate}}</div>
                  </div>
                  <div *ngIf="bookingForm.hasError('mismatchedEmails') && emailconfirm.touched" class="text-danger">
                    <div>{{'bookingpage_emails_not_equal' | translate}}</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p class="desk-field">{{'bookingpage_email_sent' | translate}}</p>
                </div>
              </div>
              <div class="rooms">
                <div class="row form-group room" *ngFor="let roomtype of bookingRoomInfo; index as i">
                  <div class="col-12 room__block d-flex flex-wrap" *ngFor="let room of bookingTariffsCount[roomtype.id]; index as j">
                    <div class="room__block__title">
                      <h6>{{ roomtype.room.title }}</h6>
                      <button class="close pull-right" type="button" (click)="closeRoom(roomtype.id,i,j)">
                        <span>×</span>
                      </button>
                    </div>
                    <div class="d-flex col-6 pr-1 col-sm-4 flex-column justify-content-end">
                      <label class="form-text">{{'bookingpage_name_guest' | translate}}</label>
                      <input class="form-control" [(ngModel)]="roomsArray.tariffs[i].rooms[j].person.name" [ngModelOptions]="{standalone: true}" (keypress)="checkChar($event)"/>
                    </div>
                    <div class="d-flex col-6 pl-1 col-sm-5 flex-column justify-content-end">
                      <label class="form-text">{{'bookingpage_surname_guest' | translate}}</label>
                      <input class="form-control" [(ngModel)]="roomsArray.tariffs[i].rooms[j].person.surname" [ngModelOptions]="{standalone: true}" (keypress)="checkChar($event)"/>
                    </div>
                    <div class="col-12 col-sm-3 pl-sm-0">
                      <label class="form-text">{{'bookingpage_guests_count' | translate}}</label>
                      <select class="form-control guests-count" [ngModelOptions]="{standalone: true}" [(ngModel)]="roomsArray.tariffs[i].rooms[j].people">
                        <option value="1">1</option>
                        <option *ngIf="roomsArray.tariffs[i].rooms[j].price[2] > 0" value="2">2</option>
                        <option *ngIf="roomsArray.tariffs[i].rooms[j].price[3] > 0" value="3">3</option>
                        <option *ngIf="roomsArray.tariffs[i].rooms[j].price[4] > 0" value="4">4</option>
                        <option *ngIf="roomsArray.tariffs[i].rooms[j].price[5] > 0" value="5">5</option>
                      </select>
                    </div>
                    <div class="beds col-12 text-left">
                      <div *ngIf="transformedBed(roomtype.room.beds)">
                        <span *ngIf="bookinginfo.beds[i] === 'D'">{{'bookingpage_bed_double' | translate}}</span>
                        <span *ngIf="bookinginfo.beds[i] === 'S'">{{'bookingpage_bed_single' | translate}}</span>
                      </div>
                      <div *ngFor="let bed of roomtype.room.beds">
                        <span *ngIf="!bed.type.isTransformed">{{bed.type.title}}</span>
                      </div>
                    </div>
                    <div class="nutrition-block col-6 col-sm-6 col-md-5 pr-0">
                      <div *ngFor="let nutrition of roomtype.nutrition; index as k" class="nutrition" [ngClass]="{'first': k == 0}">
                        <label *ngIf="nutrition.type !== 'NO_NUTRITION'" class="d-flex align-items-center">
                          <input type="checkbox" *ngIf="nutrition.price > 0" [ngModelOptions]="{standalone: true}" [(ngModel)] = "roomsArray.tariffs[i].rooms[j].nutritioncheck[k]" [checked]="roomsArray.tariffs[i].rooms[j].nutritioncheck[k]" (change)="nutritionCheck(i,j,k)">
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'BREAKFAST'">{{'bookingpage_breakfast' | translate}}</span>
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'HALF_BOARD'">{{'bookingpage_halfboard' | translate}}</span>
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'FULL_BOARD'">{{'bookingpage_fullboard' | translate}}</span>
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'BREAKFAST_INCLUDED'">{{'bookingpage_breakfast_free' | translate}}</span>
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'HALF_BOARD_INCLUDED'">{{'bookingpage_halfboard_free' | translate}}</span>
                          <span class="nutrition__text bg-success text-light" *ngIf="nutrition.type == 'FULL_BOARD_INCLUDED'">{{'bookingpage_fullboard_free' | translate}}</span>
                        </label>
                      </div>
                    </div>
                    <div *ngIf="roomtype.nutrition && roomtype.nutrition[0].type !== 'NO_NUTRITION' && roomtype.nutrition[0].type !== 'BREAKFAST_INCLUDED' && roomtype.nutrition[0].type !== 'HALR_BOARD_INCLUDED' && roomtype.nutrition[0].type !== 'FULL_BOARD_INCLUDED'" class="nutrition-block col-6 col-sm-6 col-md-7 row pr-0">
                      <div class="nutrition-block__text col-7 col-sm-6 col-md-7 p-0 pl-md-3 pr-lg-3 d-flex justify-content-end text-right align-items-center">{{'bookingpage_order_nutrition' | translate}}</div>
                      <div class="col-5 col-sm-4 col-md-5 pl-sm-2 pl-lg-1">
                        <label class="form-text">{{'bookingpage_guests_count' | translate}}</label>
                        <select class="form-control guests-count" [ngModelOptions]="{standalone: true}" [(ngModel)]="roomsArray.tariffs[i].rooms[j].peoplenutrition">
                          <option value="1">1</option>
                          <option *ngIf="roomsArray.tariffs[i].rooms[j].price[2] > 0" value="2">2</option>
                          <option *ngIf="roomsArray.tariffs[i].rooms[j].price[3] > 0" value="3">3</option>
                          <option *ngIf="roomsArray.tariffs[i].rooms[j].price[4] > 0" value="4">4</option>
                          <option *ngIf="roomsArray.tariffs[i].rooms[j].price[5] > 0" value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="afterrooms">{{'bookingpage_say_your_wishes' | translate}}</h6>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="form-text">{{'bookingpage_wishes_admin' | translate}}</label>
                  <textarea class="form-control" formControlName="description" rows="2"></textarea>
                </div>
              </div>
            </div>
            <div class="booking-confirm" [hidden]="!confirmBooking">
              <h6 class="main__content__title">{{'bookingpage_your_booking' | translate}}</h6>
              <span class="user-data">{{ firstname.value }} {{ surname.value }}</span>
              <button class="back btn btn-bronirovka" (click)="confirmBooking = !confirmBooking"><i class="fa fa-long-arrow-left"></i> {{'bookingpage_back' | translate}}</button>
              <div class="row form-group">
                <div class="col-sm-6 col-lg-5">
                  <label class="form-text" for="country">{{'bookingpage_country_from' | translate}}</label>
                  <select class="form-control" id="country" name="country" formControlName="country">
                    <option value="ua" selected="selected">{{'bookingpage_chose_country' | translate}}</option>
                    <option value="ua">{{'bookingpage_ukraine' | translate}}</option>
                    <option value="ru">{{'bookingpage_russia' | translate}}</option>
                    <option value="wf">{{'bookingpage_another' | translate}}</option>
                  </select>
                  <div class="d-none d-sm-block d-md-none">
                    <label class="form-text">{{'bookingpage_email_value' | translate}}</label>
                    <span class="user-data">{{ email.value }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 phone">
                  <label for="phone" class="form-text" [innerHTML]="'bookingpage_phone' | translate"></label>
                  <input id="phone" [textMask]="{mask: mask, guide: false}" formControlName="phone" class="form-control phone__input" type="text" placeholder="+ 00 (000) 000-0000" required/>
                  <div *ngIf="phone.invalid && phone.touched" class="text-danger">
                    <div *ngIf="phone.errors.required">{{'bookingpage_enter_phone' | translate}}</div>
                    <div *ngIf="phone.errors.minlength">{{'bookingpage_phone_invalid' | translate}}</div>
                  </div>
                  <label class="form-text phone__description">{{'bookingpage_phone_require' | translate}}</label>
                </div>
              </div>
              <div class="row form-group d-sm-none d-md-flex">
                <div class="col-12">
                  <label class="form-text">{{'bookingpage_email_value' | translate}}</label>
                  <span class="user-data">{{ email.value }}</span>
                </div>
              </div>
              <div class="row form-group rooms-confirm" [ngClass]="{'withoutcard': !bookingPaymentsInfo.isCardRequired}">
                <div class="col-12" *ngFor="let roomtype of bookingRoomInfo; index as i">
                  <div class="d-block rooms-confirm__room" *ngFor="let room of bookingTariffsCount[roomtype.id]; index as j">
                    <h6>{{ roomtype.room.title }}</h6>
                    <span class="rooms-confirm__room__text">{{'bookingpage_formed' | translate}} {{ roomsArray.tariffs[i].rooms[j].person.name }} {{ roomsArray.tariffs[i].rooms[j].person.surname }}</span>
                    <span class="rooms-confirm__room__text">{{'bookingpage_will_live' | translate}} {{ roomsArray.tariffs[i].rooms[j].people }} {{'bookingpage_mans' | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="row form-group carditcard-block" *ngIf="bookingPaymentsInfo && bookingPaymentsInfo.isCardRequired">
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="postWrongBookingInfo" class="alert alert-danger">
          <ng-container *ngIf="postWrongBookingInfo.length > 0; else defaulterr">
            <div>{{'bookingpage_no_free_rooms' | translate}}</div>
            <div *ngFor="let err of postWrongBookingInfo">{{err.title}} {{'bookingpage_available' | translate}} {{err.maxRoomAvilable}}</div>
          </ng-container>
          <ng-template #defaulterr>{{'bookingpage_invalid_data' | translate}}</ng-template>
        </div>
        <button *ngIf="!confirmBooking" class="btn btn-bronirovka align-self-center" (click)="confirmingBooking()">{{'bookingpage_continue' | translate}}</button>
        <button *ngIf="confirmBooking && (!bookingPaymentsInfo || !bookingPaymentsInfo.isCardRequired)" [ngClass]="{'disabled': bookingForm.invalid && (bookingPaymentsInfo.isCardRequired || !confirmBooking || phone.invalid)}"
                class="btn btn-bronirovka align-self-center" (click)="postBooking()">{{'bookingpage_book' | translate}}
        </button>
        <button *ngIf="confirmBooking && bookingPaymentsInfo && bookingPaymentsInfo.isCardRequired" class="align-self-center" (click)="postBooking()" style="border: none; display:inline-block;text-align: center;padding: 7px 20px;color: #fff ; font-size:16px; font-weight: 600; font-family:OpenSans, sans-serif; cursor: pointer; border-radius: 2px;background: rgb(0,74,127);"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
          <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text" style="margin-right: 7px; vertical-align: middle ;"/>
          <span style="vertical-align:middle;">{{'bookingpage_pay' | translate}} {{bookingservice.countRoomsPrice(roomsArray)}} {{bookinginfo.currency}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

