@import "../../assets/styles/color-consts";
.container {
  margin-top: 30px;
}
.checkbox-label {
  align-items: flex-end;
  padding-bottom: 3px;
}
.user {
  color: $dark-main-color;
  margin-bottom: 25px;
  &__block {
    padding: 10px;
    border: 1px solid $main-gray-color;
    border-radius: 5px;
    margin-bottom: 10px;
    &__avatar {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    &__text {
      font-weight: bolder;
    }
  }
  &__menu {
    margin-bottom: 4px;
    &__item {
      color: $main-gray-text-color;
      background: $main-gray-color;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 3px;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__item:hover {
      background: #999;
      color: black;
    }
    &__item.active {
      color: white;
      background: $main-color;
    }
  }

}
.content {
  &__table {
    thead th {
      background: $second-main-color;
      font-size: 13px;
      font-weight: bold;
      color: white;
      vertical-align: middle;
      line-height: 1;
    }
    tbody {
      border: none !important;
    }
    tbody td {
      border-color: #dedede;
      padding: 5px;
      font-size: 12px;
    }
    &__id {
      color: $second-main-color;
    }
    &__count {
      text-align: center;
    }
    &__price {
      text-align: center;
      color: $dark-main-color;
      font-weight: bold;
    }
    &__period {
      white-space: nowrap;
    }
    &__status {
      text-transform: lowercase;
    }
    &__status.confirmed {
      color: $green-text-color;
    }
    &__staus.canceled {
      color: #d9534f;
    }
  }
  .empty-table {
    height: 100px;
    background: $main-gray-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    span {
      font-weight: bold;
      font-size: 20px;
      color: $main-gray-text-color;
    }
  }
}
form {
  .image {
    position: relative;
    margin-bottom: 20px;
    &__img {
      width: 100%;
      height: auto;
    }
    .download {
      position: absolute;
      width: 100%;
      height: 45px;
      bottom: 0;
      opacity: 0.5;
      background: white;
      color: #666;
      &__button {
        padding: 5px;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
      }
      &__file {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        left: 0;
        opacity: 0;
      }
    }
  }
}
.user-info {
  background-color: $list-background;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-text {
  color: $dark-main-color;
  font-weight: bolder;
  padding-top: 5px;
}
.text-danger {
  line-height: 1;
}
.bookingtable-buttons {
  white-space: nowrap;
}
.bookingtable-buttons__button {
  text-align: center;
  color: white;
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  i {
    min-width: 14px;
  }
}
.bookingtable-buttons__button:focus {
  outline: none;
  box-shadow: inset 0px 3px 3px rgba(0,0,0, 0.3);
}
.bookingtable-buttons__button.deny {
  background: linear-gradient(to bottom, #d9836f 0%, #d9534f 100%);
  margin-left: -1px;
}
.bookingtable-buttons__button.deny:focus {
  background: linear-gradient(to bottom, #d9534f 0%, #d9836f 100%);
}
.bookingtable-buttons__button.invalidcard {
  background: linear-gradient(to bottom, #ffbb39 0%, #efa618 100%);
}
.bookingtable-buttons__button.invalidcard:focus {
  background: linear-gradient(to bottom, #efa618 0%, #ffbb39 100%);
}
.bookingtable-buttons__button.edit {
  background: linear-gradient(to bottom, #73aaf7 0%, #337ab7 100%);
}
.bookingtable-buttons__button.edit:focus {
  background: linear-gradient(to bottom, #337ab7 0%, #73aaf7 100%);
}
.bookingtable-buttons__button.confirm {
  background: linear-gradient(to bottom, #81c784 0%, #519764 100%);
}
.bookingtable-buttons__button.confirm:focus {
  background: linear-gradient(to bottom, #519764 0%, #81c784 100%);
}
.bookingtable-buttons__button.notvisit {
  background: linear-gradient(to bottom, #db976b 0%, #db7538 100%);
}
.bookingtable-buttons__button.notvisit:focus {
  background: linear-gradient(to bottom, #db7538 0%, #db976b 100%);
}
.room {
  border-bottom: 1px solid #eee;
  &__title {
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  &__from, &__to {
    padding: 0;
    input {
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: calc(100% - 10px);
    }
  }
  &__to input {
    margin-left: 5px;
  }
  .minus {
    flex-grow: 1;
    text-align: right;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .modal-edit {
    width: 600px;
  }
}
.booking {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $main-gray-color;
  &__image {
    position: relative;
    overflow: hidden;
    background: $main-gray-color;
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
    }
    img {
      position: absolute;
      height: 100%;
      width: auto;
      cursor: pointer;
    }
    img.vertical {
      height: auto;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1;
    &__title {
      .hotel {
        color: $second-main-color;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
      }
      .stars {
        white-space: nowrap;
        color: $second-color;
        display: inline-block;
      }
    }
    &__status {
      font-weight: bold;
      flex-grow: 3;
      align-items: flex-end;
      display: flex;
      span {
        font-size: 14px !important;
      }
    }
    &__date, &__numbers {
      text-transform: lowercase;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__dates {
    .first-date {
      border-right: 1px solid $main-gray-color;
    }
    .price {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
    .date {
      color: #a78b56;
      font-size: 16px;
      font-weight: bold;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    .butons {
      width: 100%;
      text-align: right;
      padding-right: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
.email-user {
  font-size: 11px;
  font-weight: normal;
}
.checkbox-label {
  width: 50%;
  @media (max-width: 370px) {
    width: 100%;
  }
}
