<div class="container">
  <div class="row">
    <div class="col-12 d-md-none row ml-0 mr-0 user__menu">
      <div class="col-6 p-0 pr-1">
        <div class="user__menu__item" [ngClass]="{'active': activeMenu(0)}" (click)="activateMenu(0)">{{'userpage_your_bookings' | translate}}</div>
      </div>
      <div class="col-6 p-0">
        <div class="user__menu__item" [ngClass]="{'active': activeMenu(1)}" (click)="activateMenu(1)">{{'userpage_your_profile' | translate}}</div>
      </div>
    </div>
    <div class="col-12 col-md-9 col-lg-10 pr-md-0 content">
      <ng-container *ngIf="activeMenuItem === 0">
        <div class="content__count"></div>
        <div *ngIf="loaded && bookings; else loading" class="content__table">

          <div *ngFor="let book of bookings; index as b" class="booking mb-2 row m-0">
            <a class="booking__image col-2 col-sm-3 col-lg-2 p-0" [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', book.hotel.id]" [queryParams]="params" #imgblock>
              <div class="booking__image__box">
                <img [ngClass]="{'vertical': imgVertical}" (load)="initVertical(imgblock, b)" [src]="book.hotel.avatar" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
              </div>
            </a>
            <div class="booking__content p-2 col-5 col-sm-4 col-lg-6">
              <div class="booking__content__title">
                <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', book.hotel.id]" [queryParams]="params" class="hotel mr-2">{{book.hotel.title}}</a>
                <span class="stars">
                  <i *ngFor="let star of book.hotel.stars" class="fa fa-star"></i>
                </span>
              </div>
              <div class="booking__content__date">{{'userpage_was_booked' | translate}}: {{book.date | date: 'dd.MM.yyyy'}}</div>
              <div class="booking__content__numbers">{{'userpage_rooms' | translate}}: {{book.roomCount}}</div>
              <div class="booking__content__status" [ngSwitch]="book.status">
                <span class="text-success" *ngSwitchCase="'CONFIRMED'">{{'userpage_confirmed' | translate}}</span>
                <span *ngSwitchCase="'BOOKED'">{{'userpage_booked' | translate}}</span>
                <span class="text-warning" *ngSwitchCase="'NO_SHOW'">{{'userpage_no_show' | translate}}</span>
                <span class="text-danger" *ngSwitchCase="'UNPAID'">{{'userpage_unpaid' | translate}}</span>
                <span class="text-danger" *ngSwitchCase="'CANCELD_BY_USER'">{{'userpage_canceled_by_user' | translate}}</span>
                <span class="text-danger" *ngSwitchCase="'CANCELED_BY_HOTEL'">{{'userpage_canceled_by_hotel' | translate}}</span>
                <span class="text-info" *ngSwitchCase="'CHANGED_BY_USER'">{{'userpage_changed' | translate}}</span>
                <span class="text-info" *ngSwitchCase="'CHANGED_BY_HOTEL'">{{'userpage_changed' | translate}}</span>
                <span *ngSwitchDefault>{{book.status}}</span>
              </div>
            </div>
            <div class="booking__dates col-5 col-sm-5 col-lg-4 pl-0 pr-0 pt-2 pb-2 row m-0">
              <div class="col-6 pl-0 mb-2 mt-2 pr-1 text-center first-date">
                <div class="text-center">{{'userpage_in' | translate}}</div>
                <div class="text-center date">{{book.minCheckIn | date: 'dd.MM.yyyy'}}</div>
              </div>
              <div class="col-6 pr-0 mb-2 mt-2 pl-1 text-center">
                <div class="text-center">{{'userpage_out' | translate}}</div>
                <div class="text-center date">{{book.maxCheckOut | date: 'dd.MM.yyyy'}}</div>
              </div>
              <div class="price">{{book.totalPrice}} {{book.currency}}</div>
              <div class="butons">
                <a class="bookingtable-buttons__button edit" [routerLink]="['/' + SS.isLanguageCurrent.value, 'booking', book.id, book.hotel.bb]"><i class="fa fa-info"></i></a>
                <button class="bookingtable-buttons__button invalidcard" (click)="getBookInfo(book.id); editmodal.show()"><i class="fa fa-pencil"></i></button>
                <button class="bookingtable-buttons__button deny" [disabled]="buttonDisable(book.status)" (click)="bookCancel(book.id)"><i class="fa fa-close"></i></button>
              </div>
            </div>
          </div>


        </div>
        <ng-template #loading>
          <div *ngIf="loaded" class="empty-table">
            <span>{{'userpage_no_bookings' | translate}}</span>
          </div>
        </ng-template>
        <div class="modal fade" bsModal #editmodal="bs-modal"
             tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
             (onHide)="editModalClose()">
          <div class="modal-dialog modal-edit">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="dialog-events-name" class="modal-title pull-left">{{'userpage_edit' | translate}}</h5>
                <button type="button" class="close pull-right" (click)="editmodal.hide()">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body pt-0">
                <ng-container *ngIf="bookInfo; else bookeditloading">
                  <div *ngFor="let bookroom of bookInfo.rooms; index as r" class="row room pt-2 pb-2">
                    <div class="col-4 room__title">{{bookroom.title.title}}</div>
                    <div class="col-8 pl-0 m-0 row">
                      <div class="col-12 col-lg-3 pl-0 d-flex align-items-center" [ngSwitch]="bookroom.status">
                        <span class="text-confirm" *ngSwitchCase="'CONFIRMED'">{{'userpage_confirmed' | translate}}</span>
                        <span class="text-confirm" *ngSwitchCase="'BOOKED'">{{'userpage_booked' | translate}}</span>
                        <span class="text-warning" *ngSwitchCase="'NO_SHOW'">{{'userpage_no_show' | translate}}</span>
                        <span class="text-danger" *ngSwitchCase="'CANCELD_BY_USER'">{{'userpage_canceled_by_user' | translate}}</span>
                        <span class="text-danger" *ngSwitchCase="'CANCELED_BY_HOTEL'">{{'userpage_canceled_by_hotel' | translate}}</span>
                        <span class="text-info" *ngSwitchCase="'CHANGED_BY_USER'">{{'userpage_changed' | translate}}</span>
                        <span class="text-info" *ngSwitchCase="'CHANGED_BY_HOTEL'">{{'userpage_changed' | translate}}</span>
                        <span class="text-confirm" *ngSwitchDefault>{{'userpage_status' | translate}}</span>
                      </div>
                      <div class="col-5 col-lg-4 d-flex align-items-center room__from">
                        <input *ngIf="compareDates(bookroom.status, bookroom.checkIn); else noeditfrom" type="text"
                               [minDate]="minDatesEdit[0]"
                               class="edit-form-date"
                               [bsConfig]="bsConfig"
                               (bsValueChange) = "dateChanged($event, r)"
                               #dp="bsDatepicker"
                               bsDatepicker
                               [(ngModel)]="bookroom.checkIn">
                        <ng-template #noeditfrom>
                          <span class="edit-form-date">{{bookroom.checkIn | date: 'yyyy-MM-dd'}}</span>
                        </ng-template>
                        <span class="minus">-</span>
                      </div>
                      <div class="col-5 col-lg-4 d-flex align-items-center room__to">
                        <input *ngIf="compareDates(bookroom.status, bookroom.checkOut); else noeditto"
                               type="text"
                               [minDate]="minDatesEdit[1]"
                               class="edit-form-date"
                               [bsConfig]="bsConfig"
                               (bsValueChange) = "dateChanged2($event, r)"
                               #dp="bsDatepicker"
                               bsDatepicker
                               [(ngModel)]="bookroom.checkOut">
                        <ng-template #noeditto>
                          <span class="edit-form-date">{{bookroom.checkOut | date: 'yyyy-MM-dd'}}</span>
                        </ng-template>
                      </div>
                      <div class="col-2 col-lg-1 p-0">
                        <button class="bookingtable-buttons__button deny" (click)="closeRoom(bookInfo.id, bookroom.id)"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                    <div class="col-8 offset-4">
                      <span *ngIf="bookInfo.changed[r] === -1" class="text-danger">{{'userpage_date_error' | translate}}</span>
                      <span *ngIf="bookInfo.changed[r] === 1000" class="text-success">{{'userpage_date_success' | translate}}</span>
                    </div>
                  </div>
                  <div class="text-right mt-2">
                    <button class="btn btn-bronirovka" (click)="onSubmitEdition()">{{'userpage_save' | translate}}</button>
                  </div>
                </ng-container>
                <ng-template #bookeditloading>
                  <div *ngIf="bookInfoLoaded" class="text-center p-3">{{'userpage_edit-error' | translate}}</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="activeMenuItem === 1">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row m-0 justify-content-center">
            <div class="col-12 col-lg-9 mb-3 user-info row m-0">
              <div class="col-12">
                <h5>{{'userpage_edit' | translate}}</h5>
                <hr>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label class="form-text col-4 text-right pl-0">{{'userpage_name' | translate}}</label>
                  <input class="form-control col-8" name="firstname" #firstname="ngModel" (keypress)="checkChar($event)" [(ngModel)]="userInfo.name" pattern="[a-zA-Zа-яА-Я ]*">
                  <div *ngIf="firstname.invalid && firstname.touched" class="text-danger col-8 offset-4 p-0">
                    <div *ngIf="firstname.errors.pattern">{{'userpage_sumbols' | translate}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-text col-4 text-right pl-0">{{'userpage_surname' | translate}}</label>
                  <input class="form-control col-8" name="surname" #surname="ngModel" (keypress)="checkChar($event)" [(ngModel)]="userInfo.surname" pattern="[a-zA-Zа-яА-Я ]*">
                  <div *ngIf="surname.invalid && surname.touched" class="text-danger col-8 offset-4 p-0">
                    <div *ngIf="surname.errors.pattern">{{'userpage_sumbols' | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label class="form-text col-4 text-right pl-0">{{'userpage_phone' | translate}}</label>
                  <input class="form-control col-8" [textMask]="{mask: mask, guide: false}" #phone="ngModel" placeholder="+00 (000) 000-0000" minlength="18" name="phone" [(ngModel)]="userInfo.phone">
                  <div *ngIf="phone.invalid && phone.touched" class="offset-4 text-danger">
                    <div *ngIf="phone.errors">{{'userpage_phone_full' | translate}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-text col-4 text-right pl-0">{{'userpage_country' | translate}}</label>
                  <select class="form-control col-8" name="country" [(ngModel)]="userInfo.country">
                    <option *ngFor="let country of countriesList" [value]="country.id">{{country.title}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="form-text col-4 text-right m-0 pl-0">{{'userpage_you' | translate}}</label>
                  <div class="col-8 pl-0 d-flex flex-wrap">
                    <label class="checkbox-label checkbox-label__radio" [ngClass]="{ 'checked': userInfo.gender === 'F' }">
                      <span class="checkmark"></span>
                      <span class="text">{{'userpage_female' | translate}}</span>
                      <input type="radio" value="F" name="gender" [(ngModel)]="userInfo.gender"/>
                    </label>
                    <label class="checkbox-label checkbox-label__radio" [ngClass]="{ 'checked': userInfo.gender === 'M' }">
                      <span class="checkmark"></span>
                      <span class="text">{{'userpage_male' | translate}}</span>
                      <input type="radio" value="M" name="gender" [(ngModel)]="userInfo.gender"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <button type="submit" [disabled]="f.invalid && userInfo.phone.length > 0" class="btn btn-bronirovka">{{'userpage_save' | translate}}</button>
                <div *ngIf="userInfoSubmit" class="text-submit text-center">
                  <span *ngIf="userInfoSubmit === 1" class="text-success">{{'userpage_your_info_success' | translate}}</span>
                  <span *ngIf="userInfoSubmit === 2" class="text-danger">{{'userpage_your_info_wrong' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <div class="d-none d-md-block col-3 col-lg-2 user">
      <div class="user__block">
        <div class="user__block__text">
          <span *ngIf="initials.name !== '' || initials.surname !== ''; else emailvar">{{initials.name}} {{initials.surname}}</span>
          <ng-template #emailvar>
            <span class="email-user">{{userInfo.email}}</span>
          </ng-template>
        </div>
      </div>
      <div class="user__menu">
        <div class="user__menu__item" [ngClass]="{'active': activeMenu(0)}" (click)="activateMenu(0)">{{'userpage_your_bookings' | translate}}</div>
        <div class="user__menu__item" [ngClass]="{'active': activeMenu(1)}" (click)="activateMenu(1)">{{'userpage_your_profile' | translate}}</div>
      </div>
    </div>
  </div>
</div>
