<div class="main">
  <div class="container">
    <div class="noinclude hotels row">
      <div *ngFor="let hotel of hotels; index as i" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="hotel">
          <button class="close-view_noincluded" aria-label="Close" (click)="closeView(hotel.id, i)">
            <i class="fa fa-trash-o"></i>
          </button>
          <div class="hotel__img">
            <img [src]="hotel.photo" onError="this.src='../../assets/images/hotel-thumb-default.jpg'">
          </div>
          <div class="hotel__title">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="params" class="hotel__title__text d-block">{{hotel.title}}</a>
            <span *ngIf="hotel.stars" class="hotel__title__stars d-block"><i class="fa fa-star" *ngFor="let star of hotel.stars"></i></span>
          </div>
          <div class="hotel__facilities"></div>
          <div class="hotel__btn">
            <a [routerLink]="['/' + SS.isLanguageCurrent.value, 'hotel', hotel.id]" [queryParams]="params">
              <button class="btn btn-bronirovka">{{'hotelview_see' | translate}}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!hotelList || hotelList.length == []">
      <span>{{'mylist_no' | translate}}</span>
    </div>
    <div *ngIf="loading" class="empty">
      <div class="loading-widget">
        <img src="../../../assets/images/loading_image.gif" class="loading-widget__img img-fluid">
      </div>
    </div>
  </div>
</div>
