@import "../../assets/styles/color-consts";
.main {
  margin-top: 30px;
}
.noinclude {
  .hotel {
    position: relative;
    border: 2px solid $main-gray-color;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all 0.1s ease;
    .close-view_noincluded {
      position: absolute;
      z-index: 2;
      right: 8px;
      line-height: 1;
      top: 5px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      text-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff;
      display: none;
      @media (max-width: 767px) {
        display: inline-block !important;
      }
    }
    &__img {
      background: $main-gray-color;
      position: relative;
      overflow: hidden;
      height: 250px;
      @media (min-width: 768px) {
        height: 200px;
      }
      @media (min-width: 992px) {
        height: 160px;
      }
      @media (min-width: 1200px) {
        height: 150px;
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%,-50%);
      }
      img.vertical {
        width: 100%;
        height: auto;
      }
    }
    .hotel__title {
      padding: 10px;
      border-bottom: 1px solid $main-gray-color;
      min-height: 74px;
      &__text {
        font-size: 16px;
        font-weight: bold;
        color: $dark-main-color;
        cursor: pointer;
        line-height: 1;
      }
      &__text:hover {
        color: $second-main-color;
      }
      &__stars {
        color: $second-color;
      }
    }
    .hotel__facilities {}
    .hotel__btn {
      padding: 10px;
      text-align: center;
    }
  }
  .hotel:hover {
    box-shadow: 2px 2px 5px #666;
    border-bottom-color: #666;
    border-right-color: #666;
    transform: translateY(-2px) translateX(-2px);
    .close-view_noincluded {
      display: inline-block;
    }
  }
}
