 <div *ngIf="view === 'main'" class="search-form-main">
    <div class="head">
      <span class="navbar-brand mb-md-2"><span class="b">B</span>RONIROVKA.UA</span>
    </div>
    <div class="row">
      <div class="col-12 mb-1 col-lg-3 col-sm-10 col-md-12 pr-sm-1 pr-md-3 pr-lg-1">
        <div class="input-group-exp">
          <i class="fa fa-search"></i>
          <div class="input-block">
            <input (click)="openCheckTravellers = false" autocomplete="off" placeholder="{{'searchform_placeholder_direction' | translate}}" [(ngModel)]="searchFormData.location" (ngModelChange)="showlist = true;" (keydown)="searchFormData.point.seoclear()">
          </div>
        </div>
        <div class="location-notification" [ngClass]="{'opened': showCheckNote}">
          <div class="block">
            <span>{{'searchform_unknown_position' | translate}}</span>
          </div>
        </div>
        <app-locationlist [location]="searchFormData.location" [show]="showlist" (oncheck)="checkLocationItem($event)"></app-locationlist>
      </div>
      <div class="col-6 col-sm-5 col-md-4 order-sm-1 mb-1 col-lg-3 pl-lg-0 pr-1 day-in">
        <div class="input-group-exp">
          <i class="fa fa-calendar-check-o"></i>
          <div class="input-block">
            <span>{{'searchform_in_exp' | translate}}</span>
            <input (bsValueChange) = dateChangeIn($event) [(ngModel)]="searchFormData.checkIn" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[0]" [bsConfig]="bsConfig" #dp1="bsDatepicker">
          </div>
          <div class="date-overlay" (click)="openCheckTravellers = false; dp1.toggle()"></div>
        </div>
      </div>
      <div class="col-6 col-sm-5 col-md-4 order-sm-2 mb-1 col-lg-3 pl-0 pr-sm-1 day-out">
        <div class="input-group-exp">
          <i class="fa fa-calendar-times-o"></i>
          <div class="input-block">
            <span>{{'searchform_out_exp' | translate}}</span>
            <input (bsValueChange) = dateChangeOut($event) [(ngModel)]="searchFormData.checkOut" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[1]" [bsConfig]="bsConfig" #dp2="bsDatepicker">
          </div>
          <div class="date-overlay" (click)="openCheckTravellers = false; dp2.toggle()"></div>
        </div>
      </div>
      <div class="col-6 col-sm-2 order-md-3 mb-1 col-md-2 col-lg-1 pl-sm-0 pr-1 pr-sm-3 pr-md-1">
        <div class="input-group-exp mans" (click)="openCheckTravellers = !openCheckTravellers">
          <i class="fa fa-user"></i>
          <div class="input-block travellers">
            <input disabled [value]="countPeople('all')"/>
            <i class="fa fa-long-arrow-down"></i>
          </div>
        </div>
        <div [hidden]="!openCheckTravellers" class="traveller main">
          <div class="rooms">
            <span class="rooms__title">{{'searchform_rooms' | translate}}</span>
            <i class="fa fa-minus" (click)="descrease('rooms')"></i>
            {{searchFormData.rooms.length}}
            <i class="fa fa-plus" (click)="increase('rooms')"></i>
            <span class="edit">{{'searchform_edit' | translate}}</span>
          </div>
          <div *ngFor="let room of searchFormData.rooms; index as r" class="traveller__room row m-0">
            <span class="close" (click)="cancelRoom(r)"><i class="fa fa-close"></i></span>
            <div class="room-column col-12 col-sm-3 p-0">{{'searchform_room' | translate}} {{r + 1}}</div>
            <div class="content-column col-12 col-sm-9 p-0">
              <div class="d-inline-block traveller__count mr-3">
                <span class="traveller__count__text">{{'searchform_adults_2' | translate}}</span>
                <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('adults', r)"></i>
              <span>{{room.adults}}</span>
              <i class="fa fa-plus" (click)="increase('adults', r)"></i>
            </span>
              </div>
              <div class="d-inline-block traveller__count">
                <span class="traveller__count__text">{{'searchform_children_2' | translate}}</span>
                <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('children', r)"></i>
              <span>{{room.c_ages.length}}</span>
              <i class="fa fa-plus" (click)="increase('children', r)"></i>
            </span>
              </div>
              <div class="traveller__children">
                <!--<span class="traveller__children__title">{{'searchform_children_age' | translate}}</span>-->
                <div class="row">
                  <div *ngFor="let age of room.c_ages; index as i; trackBy: trackByIdx" class="col-12">
                    {{'searchform_child' | translate}}
                    <select [(ngModel)]="room.c_ages[i]" [ngClass]="{'wrong' : room.c_ages[i] === -1}" >
                      <option [value]="-1" disabled hidden>{{'searchform_ages_' | translate}}</option>
                      <option *ngFor="let ag of childAgesRange; index as j" [value]="j">{{j}} {{'searchform_ages' | translate}}</option>
                    </select>
                    <!--<span [hidden]="room.c_ages[i] !== -1" class="wrong">{{'searchform_chose' | translate}}</span>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2 order-sm-4 mb-1 col-lg-2 col-xl-2 pl-0 ">
        <button type="submit" [disabled]="disableSearch()" class="w-100 submit-button btn btn-bronirovka" (click)="searchStart()">{{'searchform_search' | translate}}</button>
      </div>
    </div>
  </div>

 <div *ngIf="view === 'search'" class="search-form-search">
   <div class="content">
     <h6 class="d-none d-md-block">{{'searchform_searching_2' | translate}}</h6>
     <div class="form-group">
       <!--<label class="form-text" for="location-search">{{'searchform_direction_2' | translate}}</label>-->
       <input (click)="openCheckTravellers = false" id="location-search" autocomplete="off" placeholder="{{'searchform_placeholder_direction' | translate}}" class="form-control" [(ngModel)]="searchFormData.location" (ngModelChange)="showlist = true;" (keydown)="searchFormData.point.seoclear()">
       <div class="location-notification" [ngClass]="{'opened': showCheckNote}">
         <div class="block">
           <span>{{'searchform_unknown_position' | translate}}</span>
         </div>
       </div>
       <app-locationlist [view]="'search'" [location]="searchFormData.location" [show]="showlist" (oncheck)="checkLocationItem($event)"></app-locationlist>
     </div>
     <div class="row">
       <div class="form-group dates col-6 col-md-12 pr-1 pr-md-3">
         <label class="form-text">{{'searchform_datein_2' | translate}}</label>
         <input class="form-control" (bsValueChange) = dateChangeIn($event) [(ngModel)]="searchFormData.checkIn" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[0]" [bsConfig]="bsConfig" #dp1="bsDatepicker">
         <div class="date-overlay" (click)="openCheckTravellers = false; dp1.toggle()"></div>
       </div>
       <div class="form-group dates col-6 col-md-12 pl-1 pl-md-3">
         <label class="form-text">{{'searchform_dateout_2' | translate}}</label>
         <input class="form-control" (bsValueChange) = dateChangeOut($event) [(ngModel)]="searchFormData.checkOut" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[1]" [bsConfig]="bsConfig" #dp2="bsDatepicker">
         <div class="date-overlay" (click)="openCheckTravellers = false; dp2.toggle()"></div>
       </div>
       <div class="form-group nights col-12">{{nights}} <span>{{'searchform_night' | translate}}</span>
       </div>
     </div>
     <div class="form-group guests">
       <!--<h6 class="d-none d-md-block">{{'searchform_travellers_2' | translate}}</h6>-->
       <span class="d-flex align-items-center">
          <div class="mr-3 pl-2">
            <label>{{'searchform_rooma' | translate}}: {{searchFormData.rooms.length}}</label>
            <label *ngIf="countPeople('adults') > 0">{{'searchform_adults_2' | translate}} {{countPeople('adults')}}</label>
            <label *ngIf="countPeople('children') > 0">{{'searchform_children_2' | translate}} {{countPeople('children')}}</label>
          </div>
          <span (click)="openCheckTravellers = !openCheckTravellers" [tooltip]="'searchform_edit' | translate" class="guest"><i class="fa fa-pencil"></i></span></span>
     </div>
     <div class="form-group search-button-block">
       <button type="submit" class="col-12 submit-button btn btn-bronirovka" [disabled]="disableSearch()" (click)="searchStart(); openCheckTravellers = false">{{'searchform_search' | translate}}</button>
     </div>
   </div>
   <div [hidden]="!openCheckTravellers" class="traveller search">
     <div class="rooms">
       <span class="rooms__title">{{'searchform_rooms' | translate}}</span>
       <i class="fa fa-minus" (click)="descrease('rooms')"></i>
       {{searchFormData.rooms.length}}
       <i class="fa fa-plus" (click)="increase('rooms')"></i>
       <span class="edit">{{'searchform_edit' | translate}}</span>
     </div>
     <div *ngFor="let room of searchFormData.rooms; index as r" class="traveller__room row m-0">
       <span class="close" (click)="cancelRoom(r)"><i class="fa fa-close"></i></span>
       <div class="room-column col-12 col-sm-3 p-0">{{'searchform_room' | translate}} {{r + 1}}</div>
       <div class="content-column col-12 col-sm-9 p-0">
         <div class="d-inline-block traveller__count mr-3">
           <span class="traveller__count__text">{{'searchform_adults_2' | translate}}</span>
           <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('adults', r)"></i>
              <span>{{room.adults}}</span>
              <i class="fa fa-plus" (click)="increase('adults', r)"></i>
            </span>
         </div>
         <div class="d-inline-block traveller__count">
           <span class="traveller__count__text">{{'searchform_children_2' | translate}}</span>
           <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('children', r)"></i>
              <span>{{room.c_ages.length}}</span>
              <i class="fa fa-plus" (click)="increase('children', r)"></i>
            </span>
         </div>
         <div [hidden]="room.c_ages.length === 0" class="traveller__children">
           <div class="row">
             <div *ngFor="let age of room.c_ages; index as i; trackBy: trackByIdx" class="col-12">
               {{'searchform_child' | translate}}
               <select [(ngModel)]="room.c_ages[i]" [ngClass]="{'wrong' : room.c_ages[i] === -1}">
                 <option [value]="-1" disabled hidden>{{'searchform_ages_' | translate}}</option>
                 <option *ngFor="let ag of childAgesRange; index as j" [value]="j">{{j}} {{'searchform_ages' | translate}}</option>
               </select>
               <!--<span [hidden]="room.c_ages[i] !== -1" class="wrong">{{'searchform_chose' | translate}}</span>-->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div *ngIf="view === 'table'" class="search-table__search">
   <h4 class="search-table__search__title">
     <span class="mr-2">{{'hotelpagetable_change_dates' | translate}}</span>
     <span class="here" (click)="showsettings = !showsettings">
        {{'hotelpagetable_here' | translate}}
        <i class="fa fa-long-arrow-right"></i>
      </span>
   </h4>
   <div class="search-table__search__block flex-row flex-wrap" [ngClass] = "{'opened' : showsettings}">
     <div class="col-12 col-sm-6 col-lg-4 position-relative">
       <label class="form-text">{{'hotelpagetable_day_in' | translate}}</label>
       <input class="form-control" (bsValueChange) = dateChangeIn($event) [(ngModel)]="searchFormData.checkIn" placeholder="{{'hotelpagetable_chose_time' | translate}}" bsDatepicker [minDate]="dateLimits[0]" [bsConfig]="bsConfig" #dp1="bsDatepicker">
       <div class="date-overlay" (click)="dp1.toggle()"></div>
     </div>
     <div class="col-12 col-sm-6 col-lg-4 position-relative">
       <label class="form-text">{{'hotelpagetable_day_out' | translate}}</label>
       <input class="form-control" (bsValueChange) = dateChangeOut($event) [(ngModel)]="searchFormData.checkOut" placeholder="{{'hotelpagetable_chose_time' | translate}}" bsDatepicker [minDate]="dateLimits[1]" [bsConfig]="bsConfig" #dp2="bsDatepicker">
       <div class="date-overlay" (click)="dp2.toggle()"></div>
     </div>
     <div class="col-6 col-lg-4 pt-2 d-flex">
       <button class="btn btn-bronirovka w-100" [disabled]="disableSearch(true)" (click)="searchStart();">{{'hotelpagetable_find_rooms' | translate}}</button>
     </div>
     <span class="col-6 col-lg-12 mb-0 nights">{{'hotelpagetable_nights_count' | translate}} {{ nights }}</span>
     <div class="rooms col-12 text-center pb-2">
       <label class="form-text d-inline text-center">{{'searchform_rooms' | translate}}</label>
       <div class="text-center d-inline">
         <i class="fa fa-minus" (click)="descrease('rooms')"></i>
         <span class="form-control">{{searchFormData.rooms.length}}</span>
         <i class="fa fa-plus" (click)="increase('rooms')"></i>
       </div>
     </div>
     <div *ngFor="let room of searchFormData.rooms; index as r" class="traveller-t m-0 col-12 pt-1 pb-1 row">
       <span class="close" (click)="cancelRoom(r)"><i class="fa fa-close"></i></span>
       <div class="col-12 col-sm-2 p-0">
         <div class="room-title">{{'searchform_room' | translate}} {{r + 1}}</div>
       </div>
       <div class="col-12 col-sm-10 pr-0 row">
         <div class="col-12 col-lg-5 col-xl-6 pl-0">
           <div class="d-inline-block mr-3 mr-lg-0 traveller-t__count">
             <span class="traveller__count__text d-inline d-lg-inline-block">{{'searchform_adults_2' | translate}}</span>
             <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('adults', r)"></i>
              <span class="field">{{room.adults}}</span>
              <i class="fa fa-plus" (click)="increase('adults', r)"></i>
            </span>
           </div>
           <div class="d-inline-block mr-3 mr-lg-0 traveller-t__count">
             <span class="traveller__count__text d-inline d-lg-inline-block">{{'searchform_children_2' | translate}}</span>
             <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('children', r)"></i>
              <span class="field">{{room.c_ages.length}}</span>
              <i class="fa fa-plus" (click)="increase('children', r)"></i>
            </span>
           </div>
         </div>
         <div class="col-12 col-lg-7 col-xl-6 pl-0">
           <div [hidden]="room.c_ages.length === 0" class="traveller-t__children">
             <div class="row">
               <div *ngFor="let age of room.c_ages; index as i; trackBy: trackByIdx" class="col-12 col-md-6 col-lg-12">
                 {{'searchform_child' | translate}}
                 <select [(ngModel)]="room.c_ages[i]" [ngClass]="{'wrong' : room.c_ages[i] === -1}" class="field age">
                   <option [value]="-1" disabled hidden>{{'searchform_ages_' | translate}}</option>
                   <option *ngFor="let ag of childAgesRange; index as j" [value]="j">{{j}} {{'searchform_ages' | translate}}</option>
                 </select>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div *ngIf="view === 'mobile'" class="search-mobile">
   <div class="pl-3 pr-3">
     <div (click)="viewSearch = !viewSearch" class="view-search"><i class="fa fa-search"></i> {{'searchpage_new_search' | translate}}</div>
     <div [hidden]="!viewSearch" class="search-form-search mobile">
       <div class="content">
         <h6 class="d-none d-md-block">{{'searchform_searching_2' | translate}}</h6>
         <div class="form-group">
           <label class="form-text mt-0" for="location-search-mobile">{{'searchform_direction_2' | translate}}</label>
           <input (click)="openCheckTravellers = false" id="location-search-mobile" autocomplete="off" placeholder="{{'searchform_placeholder_direction' | translate}}" class="form-control" [(ngModel)]="searchFormData.location" (ngModelChange)="showlist = true;" (keydown)="searchFormData.point.seoclear()">
           <div class="location-notification" [ngClass]="{'opened': showCheckNote}">
             <div class="block">
               <span>{{'searchform_unknown_position' | translate}}</span>
             </div>
           </div>
           <app-locationlist [view]="'search'" [location]="searchFormData.location" [show]="showlist" (oncheck)="checkLocationItem($event)"></app-locationlist>
         </div>
         <div class="row m-0">
           <div class="form-group dates col-6 col-md-12 pl-0 pr-1 pr-md-3">
             <label class="form-text">{{'searchform_datein_2' | translate}}</label>
             <input class="form-control" (bsValueChange) = dateChangeIn($event) [(ngModel)]="searchFormData.checkIn" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[0]" [bsConfig]="bsConfig" #dp1="bsDatepicker">
             <div class="date-overlay" (click)="openCheckTravellers = false; dp1.toggle()"></div>
           </div>
           <div class="form-group dates col-6 col-md-12 pr-0 pl-1 pl-md-3">
             <label class="form-text">{{'searchform_dateout_2' | translate}}</label>
             <input class="form-control" (bsValueChange) = dateChangeOut($event) [(ngModel)]="searchFormData.checkOut" placeholder="{{'searchform_placeholder_date' | translate}}" bsDatepicker [minDate]="dateLimits[1]" [bsConfig]="bsConfig" #dp2="bsDatepicker">
             <div class="date-overlay" (click)="openCheckTravellers = false; dp2.toggle()"></div>
           </div>
           <div class="form-group nights col-12">{{nights}} <span>{{'searchform_night' | translate}}</span>
           </div>
         </div>
         <div class="form-group">
           <div class="rooms">
             <span class="rooms__title">{{'searchform_rooms' | translate}}</span>
             <i class="fa fa-minus" (click)="descrease('rooms')"></i>
             {{searchFormData.rooms.length}}
             <i class="fa fa-plus" (click)="increase('rooms')"></i>
           </div>
           <div *ngFor="let room of searchFormData.rooms; index as r" class="traveller__room row m-0">
             <span class="close" (click)="cancelRoom(r)"><i class="fa fa-close"></i></span>
             <div class="room-column col-12 col-sm-3 p-0">{{'searchform_room' | translate}} {{r + 1}}</div>
             <div class="content-column col-12 col-sm-9 p-0">
               <div class="d-inline-block traveller__count mr-3">
                 <span class="traveller__count__text">{{'searchform_adults_2' | translate}}</span>
                 <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('adults', r)"></i>
              <span>{{room.adults}}</span>
              <i class="fa fa-plus" (click)="increase('adults', r)"></i>
            </span>
               </div>
               <div class="d-inline-block traveller__count">
                 <span class="traveller__count__text">{{'searchform_children_2' | translate}}</span>
                 <span class="traveller__count__count">
              <i class="fa fa-minus" (click)="descrease('children', r)"></i>
              <span>{{room.c_ages.length}}</span>
              <i class="fa fa-plus" (click)="increase('children', r)"></i>
            </span>
               </div>
               <div [hidden]="room.c_ages.length === 0" class="traveller__children">
                 <div class="row pl-3 pr-3">
                   <div *ngFor="let age of room.c_ages; index as i; trackBy: trackByIdx" class="mr-2 d-inline-block">
                     {{'searchform_child' | translate}}
                     <select [(ngModel)]="room.c_ages[i]" [ngClass]="{'wrong' : room.c_ages[i] === -1}">
                       <option [value]="-1" disabled hidden>{{'searchform_ages_' | translate}}</option>
                       <option *ngFor="let ag of childAgesRange; index as j" [value]="j">{{j}} {{'searchform_ages' | translate}}</option>
                     </select>
                     <!--<span [hidden]="room.c_ages[i] !== -1" class="wrong">{{'searchform_chose' | translate}}</span>-->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="form-group search-button-block">
           <button type="submit" class="col-12 submit-button btn btn-bronirovka" [disabled]="disableSearch()" (click)="searchStart(); openCheckTravellers = false">{{'searchform_search' | translate}}</button>
         </div>
       </div>
     </div>
   </div>
 </div>
