@import "../../assets/styles/color-consts";
.form-text {
  margin-bottom: 0;
}
.search-form-main {
  .btn-bronirovka {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.72);
  }
  .navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: inline-block;
    align-items: center;
    padding: 5px 45px 5px 5px;
    align-items: center;
    letter-spacing: 1.25px;
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0.7), transparent 55%);
    img {
      height: 50px;
      margin-right: 5px;
    }
    .b {
      font-weight: 500;
      font-size: 30px;
    }
  }
  .submit-button {
    height: 100%;
  }
  .input-group-exp {
    display: flex;
    min-height: 47px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.72);
    color: #668;
    padding: 7px;
    height: 100%;
    position: relative;
    i {
      width: 30px;
      margin-right: 5px;
      flex-shrink: 0;
      align-self: center;
      text-align: center;
      font-size: 26px;
      color: #aaa;
      @media (max-width: 991px) {
        width: 20px;
        font-size: 18px;
      }
    }
    .input-block {
      line-height: 1;
      align-items: stretch;
      display: flex;
      flex-grow: 2;
      flex-wrap: wrap;
      span {
        width: 100%;
        font-weight: bolder;
      }
      input {
        color: #666;
        width: 100%;
        display: block;
        padding: 0;
        border: none;
      }
      input:focus {
        outline: none;
      }
    }
    .input-block.travellers {
      cursor: pointer;
      input {
        background: #fff;
        cursor: pointer;
        width: calc(100% - 10px);
      }
      i {
        width: auto;
        font-size: 14px;
        margin: 0;
      }
    }
  }
  .input-group-exp.mans {
    cursor: pointer;
  }
  @media (max-width: 450px) {
    .day-in {
      max-width: 100%;
      flex: 0 0 100%;
      padding-right: 0.95rem !important;
    }
    .day-out {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0.95rem !important;
    }
  }
}
.search-form-search {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #ffc963;
  position: relative;
  .form-group {
    margin-bottom: 5px;
    position: relative;
  }
  .content {
    input, .guest {
      border-radius: 0;
      /*border: 1px solid $border-second-color;*/
      border: none;
      box-shadow: 0 4px 10px rgba(111, 67, 30, 0.6);
      font-size: 14px;
    }
    input:focus, .guest:hover {
      box-shadow: none;
    }
    h6 {
      color: $dark-main-color;
      font-weight: bold;
    }
    @media (max-width: 767px) {
      .form-group {
        margin-bottom: 5px;
      }
      .form-group.dates {
        input {
          padding: 4px;
        }
      }
      .form-group.dates:last-child {
        padding-right: 15px;
        padding-left: 5px;
      }
    }
    .guests {
      margin-bottom: 10px;
      span {
        margin-right: 20px;
        width: 100%;
        label {
          display: block;
          line-height: 1;
          font-size: 13px;
          margin-bottom: 0;
        }
        .guest {
          font-size: 16px;
          padding: 5px 15px;
          background: #fff;
          color: #495057;
          cursor: pointer;
          white-space: nowrap;
          display: inline-block;
          width: auto;
          margin: 0;
        }
      }
    }
    .nights {
      font-size: 12px;
      font-weight: bold;
      color: #00135f;
    }
    .search-button-block {
      margin-bottom: 0;
    }
  }
}
.search-table__search {
  &__title {
    .here {
      text-transform: uppercase;
      color: #33a4c0;
      cursor: pointer;
      white-space: nowrap;
    }
  }
  &__block {
    display: none;
    background: $main-gray-color;
    border-radius: 5px;
    input, .form-control {
      height: 35px;
      border-radius: 0;
      border: none;
      box-shadow: 0 4px 10px rgba(89, 95, 107, 0.6);
    }
    input:focus, .form-control:focus {
      box-shadow: none;
    }
    .guests {
      @media (min-width: 992px) {
        padding: 0;
      }
      .number-input {
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
      }
    }
    .btn-bronirovka {
      align-self: flex-end;
      white-space: normal;
    }
    .nights {
      font-weight: bold;
      font-size: 12px;
      @media (max-width: 991px) {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
      }
    }
    .rooms, .traveller-t {
      .fa {
        font-size: 16px;
        cursor: pointer;
        top: 2px;
        position: relative;
        margin: 0 9px;
      }
      .fa:hover {
        color: #000;
      }
      .field {
        background: #fff;
        box-shadow: 0 4px 10px rgba(89, 95, 107, 0.6);
        border: none;
        padding: 5px 7px;
      }
      .field.age {
        margin: 4px 4px 4px 0;
      }
      .wrong {
        color: #e63838;
      }
    }
    .traveller-t {
      position: relative;
      border-top: 1px solid #bbb;
      &__count {
        padding: 7px 0;
        &__text {
          width: 64px;
        }
      }
      .room-title {
        padding-top: 7px;
      }
      .close {
        position: absolute;
        right: 10px;
        cursor: pointer;
        z-index: 2;
        .fa {
          color: #666;
          font-size: 18px;
        }
      }
    }
    .rooms {
      &__title {
        font-size: 16px;
      }
      .form-control {
        display: inline-block;
        width: min-content;
      }
    }
  }
  &__block.opened {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
  }
}
.traveller {
  font-size: 12px;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.72);
  color: #666;
  z-index: 10;
  user-select: none;
  .edit {
    float: right;
    color: #4aa26a;
    font-style: italic;
    font-size: 13px;
  }
  .fa {
    padding: 0 4px;
  }
  .fa:hover {
    color: #000;
    cursor: pointer;
  }
  .rooms {
    padding: 10px 15px 10px;
    color: #668;
    &__title {
      font-weight: bold;
      margin-right: 5px;
    }
  }
  &__room {
    position: relative;
    padding: 10px 15px 10px;
    border-top: 1px solid #ddd;
  }
  .close {
    position: absolute;
    font-size: 12px;
    cursor: pointer;
    color: #666;
    z-index: 11;
    right: 5px;
    top: 5px;
  }
  &__count {
    &__text {
      min-width: 65px;
      text-align: right;
      margin-right: 5px;
    }
  }
  .room-column {
    color: #668;
    font-weight: 500;
  }
  &__children {
    &__title {
      color: #668;
      font-weight: 500;
    }
    select {
      border: none;
      cursor: pointer;
    }
    .wrong {
      color: #e63838;
    }
  }
}
.traveller.main {
  left: -300%;
  width: calc(400% - 4px);
  top: 51px;
  margin-bottom: 15px;
  @media (max-width: 991px) {
    left: -200%;
    width: calc(300% - 4px);
  }
  @media (max-width: 767px) {
    width: calc(585% - 16px);
    left: -485%;
    font-size: 14px;
  }
  @media (max-width: 575px) {
    left: 15px;
    width: calc(200% - 30px);
  }
}
.search.traveller {
  left: calc(100% + 15px);
  top: calc(100% - 89px);
  width: 420px;
  color: #495057;
  background: #fff;
  select {
    background: #fff;
  }
  .rooms, .traveller__children__title, .room-column {
    color: $main-color;
  }
}
.date-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  cursor: pointer;
}
.view-search {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #a4b9c5;
  padding-bottom: 5px;
  border-bottom: 2px solid #775a2f;
}
.search-form-search.mobile {
  background: #d9e4ec;
  border-color: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  @media (max-width: 450px) {
    .dates {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .form-control {
    box-shadow: 0 4px 10px rgba(120,126,150,.6) !important;
  }
  .close {
    font-size: 14px;
    position: absolute;;
    top: 5px;
    right: 0;
    z-index: 2;
  }
  select {
    margin: 4px 10px;
  }
  .fa-plus, .fa-minus {
    padding: 5px 7px;
    cursor: pointer;
  }
  .traveller__room {
    padding: 5px 0 5px 15px;
    border-top: 1px solid #859db7;
    .room-column {
      color: #0f3052;
    }
  }
}
.location-notification {
  height: 75px;
  z-index: -10;
  position: absolute;
  overflow: hidden;
  .block {
    width: calc(100% - 4px);
    position: relative;
    line-height: 1;
    font-size: 12px;
    color: #668;
    transition: all 1s ease;
    top: -100%;
    opacity: 0;
    span {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.72);
      background: white;
      display: block;
      top: 4px;
      min-height: 47px;
      padding: 10px;
      position: relative;
    }
    span:before {
      content: '';
      top: -4px;
      left: 0;
      border-left: 2px solid white;
      height: 4px;
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      width: 4px;
      border-bottom: 2px solid white;
      position: absolute;
    }
  }
}
.location-notification.opened {
  z-index: 3;
  .block {
    top: 0;
    opacity: 1;
  }
}
