@import "~font-awesome/css/font-awesome.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "assets/styles/color-consts";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('http://fonts.googleapis.com/css?family=Pangolin:regular');
html, body {
  height: 100%;
  color: #000;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
app-user, app-search, app-mylist, app-confirm-register, app-main, app-hotel, app-information, app-booking, app-booking-hb, app-notfound {
  flex-grow: 1;
}
app-main {
  background: #fff;
}
app-header {
  background: #fff;
}
app-footer {
  flex: 0 0 auto;
  background: #fff;
}
body {
  font-size: 14px;
  cursor: default;
  //font-family: Roboto, sans-serif;
}
body.body-main {
  @media (max-width: 767px) {
    background: #0f3052;
  }
}
body.body-search .container {
  @media (max-width: 1199px) {
    max-width: calc(100% - 30px);
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
body.body-hotel .container {
  @media (max-width: 1199px) {
    max-width: calc(100% - 30px);
  }
  @media (max-width: 991px) and (min-width: 768px){
    max-width: 100%;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
input:focus, select:focus {
  outline: none;
}
button:focus, select:focus, input:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
input, input:focus, textarea, textarea:focus, select, select:focus {
  font-size: 16px !important;
  @media (min-width: 768px) {
    font-size: 14px !important;
  }
}
modal-container {
  display: flex !important;
  align-items: center;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  background-position: 95% 50% !important;
  background-repeat:no-repeat !important;
  background-image:url(/assets/images/default/select-black.png) !important;
  padding: 0.25em .5em;
  padding-right:1.5em !important;
}
select.wrong {
  background-image:url(/assets/images/default/select-red.png) !important;
}
.block-list {
  color: #151515;
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.block-list.dark {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.72);
}
.btn-bronirovka {
  background-color: $main-color;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-bronirovka:hover, .btn-bronirovka:focus, .btn-bronirovka:active {
  background-color: $dark-main-color;
}
.btn-bronirovka:focus, .btn-bronirovka:active {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}
.bs-datepicker {
  background: none;
  box-shadow: none;
}
.bs-datepicker-body {
  background: #fff;
}
.bs-datepicker-container {
  padding: 0;
}
.bs-datepicker-head {
  text-align: center;
}
.bs-datepicker-head button.next span, .bs-datepicker-head button.previous span {
  top: -2px;
}
.btn.disabled, .btn:disabled {
  opacity: .6;
}
.checkbox-label {
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  input {
    display: none;
  }
  .text {
    flex-grow: 2;
  }
  .checkmark {
    width: 18px;
    height: 18px;
    margin-right: 7px;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    border: 1px solid #00135f;
    vertical-align: middle;
    position: relative;
    flex-shrink: 0;
  }
  &__radio {
    .checkmark {
      border-radius: 50%;
    }
  }
}
.checkbox-label.checked {
  .checkmark {
    background: #00135f;
  }
  .checkmark:after {
    content: '';
    display: block;
    height: 2px;
    width: 11px;
    background: #fff;
    transform: rotate(125deg);
    position: absolute;
    z-index: 7;
    top: 7px;
    left: 5px;
  }
  .checkmark:before {
    content: '';
    display: block;
    height: 2px;
    width: 11px;
    background: #fff;
    transform: rotate(55deg);
    z-index: 10;
    top: 7px;
    left: 0px;
    position: absolute;
  }
}
.empty {
  height: 100%;
  color: $gray-light;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-animate {
  background: #eee;
  overflow: hidden;
  span {
    display:inline-block;
    padding-left:100%;
    height: 100%;
    background: linear-gradient(to right, #eee 0%, #e5e5e5 100%);
    -webkit-animation: marquee 2s infinite linear;
    animation: marquee 2s infinite reverse linear;
  }
}
.loader-root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: none repeat scroll 0 0 #fff;
  &__inner {
    position: absolute;
    background: url(assets/images/loading-1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.map-body {
  position: relative;
  .close-map {
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 2000;
    font-size: 40px;
    cursor: pointer;
  }
}
.modal-dialog {
  width: 300px;
  margin: 1.75rem auto;
}
.overlay {
  position: absolute;
  z-index: 11;
  background: #eeeeeeaa;
  height: 100%;
  width: 100%;
}
.star {
  color: $second-color;
}
.text-danger, .text-success, .text-info, .text-confirm, .text-warning {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
}
span:focus {
  outline: none;
}
agm-map {
  height: 300px;
  width: 100%;
}
@-webkit-keyframes marquee {
  0%{-webkit-transform: translate(0, 0);}
  100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee{
  0%{transform: translate(0, 0);}
  100%{transform: translate(-100%, 0)}
}
@media (min-width: 576px) {
  .login-modal, .registry-modal {
    width: 350px;
  }
  .modal-dialog.photo-modal {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
  }
  agm-map {
    height: 350px;
  }
  .modal-dialog.photo-modal {
    width: 750px;
  }
}
@media (max-width: 767px) {
  bs-datepicker-container, bs-daterangepicker-container {
    left: calc(50% - 139px) !important;
    transform: none !important;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    width: 700px;
  }
  agm-map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .modal-dialog {
    width: 900px;
  }
  agm-map {
    height: 450px;
  }
}
[hidden] {
  display: none !important;
}
