@import "../../assets/styles/color-consts";
.loading-image {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  z-index: 2000;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 70%);
  img {
    height: 50px;
  }
}
.map-window-info {
  .title {
    font-weight: bold;
    color: $main-color;
    cursor: pointer;
    font-size: 16px;
  }
  .title:hover {
    color: $second-main-color;
  }
  .stars {
    color: $second-color;
    white-space: nowrap;
  }
  .price {
    color: #50A039;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
  }
  .dates {
    color: #bbb;
    font-size: 10px;
  }
}
.loading-map {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(white 30%, rgba(255,255,255,0) 100%);
}
.main-content {
  margin-top: 10px;
  @media (max-width: 767px) {
    margin-top: 0;
    overflow-x: hidden;
    &__column-left__search {
      padding-top: 10px;
      background: $dark-main-color;
      margin-bottom: 15px;
    }
  }
  &__column-left {
    position: relative;
    .map {
      margin-bottom: 10px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      img {
        cursor: pointer;
      }
    }
    .mobile-sorts {
      background: #fff;
      padding: 15px;
      .title {
        padding: 10px 8px;
        background: $main-color;
        color: white;
      }
      .text {
        color: $main-gray-text-color;
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 5px 8px;
        cursor: pointer;
      }
      .text.selected {
        color: #000;
        background: #e5e5e5;
        cursor: inherit;
      }
      .text:hover {
        color: black;
      }
    }
  }
  &__column-left.mobile {
    margin-bottom: 15px;
  }
  &__main-column {
    .sort {
      margin-bottom: 15px;
      display: flex;
      color: $dark-main-color;
      &__block {
        flex-grow: 3;
        display: flex;
        position: relative;
        margin-left: 45px;
        border-bottom: 2px solid $main-gray-color;
        .dropdown-menu {
          top: 40px !important;
          left: auto !important;
          .dropdown-item {
            font-size: 14px;
          }
          .dropdown-item:hover {
            background: $main-gray-color;
          }
          .dropdown-item:active {
            background: $second-main-color;
          }
        }
        &__sort {
          .title {
            cursor: pointer;
          }
          i {
            color: $second-color;
            font-size: 18px;
            margin-left: 5px;
            position: relative;
            top: 3px;
            transition: 200ms linear;
          }
        }
        &__sort.open .fa-caret-right {
          transform: rotate(90deg);
        }
      }
      &__block:before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        transform: rotate(45deg);
        border-top: 2px solid $main-gray-color;
        left: -28px;
        bottom: -13px;
      }
      &__title {
        background-color: $main-color;
        color: white;
        position: relative;
        border-radius: 5px 5px 0 5px;
        margin-bottom: 0;
        border-right: none;
      }
      &__title:after {
        content: '';
        height: 32px;
        width: 32px;
        position: absolute;
        right: -30px;
        bottom: 0;
        border: 16px solid #004A7f;
        border-top-color: transparent;
        border-right-color: transparent;
      }
      span {
        font-weight: bold;
        padding: 5px 15px;
      }
    }
  }
}
.scroll-buttom {
  font-size: 30px;
  padding: 10px 11px;
  position: fixed;
  color: white;
  left: 20px;
  bottom: 20px;
  opacity: 0.7;
  background: #92b7c5;
  border: none;
  border-radius: 50%;
  line-height: 0.9;
  cursor: pointer;
  @media (max-width: 767px) {
    font-size: 20px;
    padding: 10px 11px;
  }
}
.hotel-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.1s ease;
  overflow: hidden;
  flex-wrap: wrap;
  &__image {
    width:100%;
  }
  &__image.single {
    height: 164px;
  }
  &__image.double {
    height: 179px;
  }
  &__image.triple {
    height: 201px;
  }
  &__content {
    padding: 10px;
    min-height: 80px;
    &__title {
      width: 50%;
      height: 20px;
    }
    &__address {
      width: 25%;
      height: 12px;
      top: 5px;
      position: relative;
      span {
        position: relative;
        top: -4px;
      }
    }
  }
}
.hotel-item:hover {
  box-shadow: 4px 4px 10px #666;
  border-bottom-color: #666;
  border-right-color: #666;
  top: -1px;
  left: -1px;
}
.pagination {
  justify-content: center;
  border-top: 2px solid #e5e5e5;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  color: $main-gray-text-color;
  &__item {
    line-height: 0;
    padding: 14px 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 4px;
  }
  &__item:hover {
    background: $main-gray-color;
    color: black;
  }
  &__item.active {
    color: white;
    background: $main-color;
    cursor: default;
  }
}
.menu-mobile {
  &__item {
    margin-bottom: 10px;
    width: 33%;
    color: white;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 7px;
    border-right: 1px solid white;
    text-align: center;
  }
  &__item:last-child {
    border-right: none;
  }
  &__item.selected {
    color: #a4b9c5;
  }
  @media (max-width: 450px) {
    .m {
      width: 27%;
    }
    .s {
      width: 40%;
    }
    .f {
      width: 33%;
    }
  }
}
.empty {
  height: auto;
}
