<div class="main-content" (window:scroll)="searchScroll()" (window:resize)="seachResize()">
  <div class="container">
    <div class="row">
      <app-breadcrumps class="col-12 d-none d-md-block" [current]="'hotels'" [searchData]="searchData" [links]="links"></app-breadcrumps>
      <div class="col-12 p-0 col-md-3 main-content__column-left">
        <div [hidden]="!hotelList || !searchData.lat || !searchData.lng" class="map d-none d-md-block">
          <div [hidden]="!loaders[1]" class="overlay"></div>
          <img class="img-fluid" (click)="openMap(google_map)" src="https://maps.googleapis.com/maps/api/staticmap?center={{searchData.lat}},{{searchData.lng}}&zoom=8&size=350x100&maptype=roadmap&key=AIzaSyBSbgGePitwHSVOpd0xnq5dYJcXIhyjy-A">
        </div>
        <ng-template #google_map>
          <div class="map-body">
            <button type="button" class="close close-map pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            <agm-map #gm [zoom]="12" [latitude]="mapCenter[0]" [longitude]="mapCenter[1]">
              <agm-marker *ngFor="let mark of mapMarkers" [latitude]="mark.lat" [longitude]="mark.lng" (mouseOver)="onMouseOverMarker(infoWindow, gm)">
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                  <div class="map-window-info">
                    <div class="title"><a [routerLink]="['hotel', mark.id]" [queryParams]="appservices.MSDFU(this.searchData)">{{mark.title}}</a></div>
                    <div class="block d-flex justify-content-between">
                      <span class="stars"><i *ngFor="let star of mark.stars" class="fa fa-star"></i></span>
                      <span class="price">{{mark.price | number}}</span>
                    </div>
                    <div class="dates">{{searchData.checkIn | date: 'dd.MM.yy'}} - {{searchData.checkOut | date: 'dd.MM.yy'}}</div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </ng-template>
        <div class="main-content__column-left__search">
          <app-search-form [seo]="seoMod" [view]="searchFormMod" (search)="onSearch($event)" (openhotel)="openHotel($event)"></app-search-form>
          <div *ngIf="searchFormMod === 'mobile'" class="menu-mobile row pr-3 pl-3 mr-0 ml-0 justify-content-center">
            <div class="menu-mobile__item m" (click)="openMenuM(0); openMap(google_map)" [ngClass]="{'selected' : menuM[0]}">
              <i class="fa fa-map-marker"></i>
              {{"searchpage_map" | translate}}
            </div>
            <div class="menu-mobile__item s" (click)="openMenuM(1)" [ngClass]="{'selected' : menuM[1]}">
              <i class="fa fa-sort-amount-desc"></i>
              {{'searchpage_sort' | translate}}
            </div>
            <div class="menu-mobile__item f" (click)="openMenuM(2)" [ngClass]="{'selected' : menuM[2]}">
              <i class="fa fa-filter"></i>
              {{'searchpage_filters' | translate}}
            </div>
          </div>
          <div class="mobile-sorts" *ngIf="searchFormMod === 'mobile'" [hidden]="!menuM[1]">
            <div class="row">
              <div class="col-6">
                <h6 class="title">{{"searchpage_price" | translate}}</h6>
                <div class="text" (click)="sortHotels('order_by_price','asc')" [ngClass]="{'selected' : searchData.order_by_price === 'asc'}">
                  {{'searchpage_asc' | translate}}
                </div>
                <div class="text" (click)="sortHotels('order_by_price','desc')" [ngClass]="{'selected' : searchData.order_by_price === 'desc'}">
                  {{'searchpage_desc' | translate}}
                </div>
              </div>
              <div class="col-6">
                <h6 class="title">{{'searchpage_stars' | translate}}</h6>
                <div class="text" (click)="sortHotels('order_by_stars','asc')" [ngClass]="{'selected' : searchData.order_by_stars === 'asc'}">
                  {{'searchpage_asc' | translate}}
                </div>
                <div class="text" (click)="sortHotels('order_by_stars','desc')" [ngClass]="{'selected' : searchData.order_by_stars === 'desc'}">
                  {{'searchpage_desc' | translate}}
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="!menuM[2] && searchFormMod === 'mobile'" >
            <app-search-filter [seoMod]="seoMod" [view]="searchFormMod" (filterstart)="filterStart()"></app-search-filter>
          </div>
        </div>
      </div>
      <div class="main-content__main-column col-12 col-md-9 pr-md-0">
        <!--<h1 hidden>{{searchData}}</h1>--> <!-- TODO: seo-->
        <div [hidden]="errormessages" class="sort d-none d-md-flex">
          <span class="sort__title">{{'searchpage_sort_by' | translate}}</span>
          <div class="sort__block justify-content-between">
            <div class="d-flex">
              <div class="sort__block__sort d-flex" dropdown>
              <span class="title" dropdownToggle data-toggle="dropdown">
                <i *ngIf="searchData.order_by_price === 'asc'" class="fa fa-arrow-up"></i>
                <i *ngIf="searchData.order_by_price === 'desc'" class="fa fa-arrow-down"></i>
                {{'searchpage_price' | translate}}
                <i class="fa fa-caret-right"></i>
              </span>
                <ul *dropdownMenu class="dropdown-menu block-list">
                  <li class="dropdown-item" (click)="sortHotels('order_by_price','asc')">{{'searchpage_asc' | translate}}</li>
                  <li class="dropdown-item" (click)="sortHotels('order_by_price','desc')">{{'searchpage_desc' | translate}}</li>
                </ul>
              </div>
              <div class="sort__block__sort d-flex" dropdown>
              <span class="title" dropdownToggle data-toggle="dropdown">
                <i *ngIf="searchData.order_by_stars === 'asc'" class="fa fa-arrow-up"></i>
                <i *ngIf="searchData.order_by_stars === 'desc'" class="fa fa-arrow-down"></i>
                {{'searchpage_stars' | translate}}<i class="fa fa-caret-right"></i>
              </span>
                <ul *dropdownMenu class="dropdown-menu block-list">
                  <li class="dropdown-item" (click)="sortHotels('order_by_stars','asc')">{{'searchpage_asc' | translate}}</li>
                  <li class="dropdown-item" (click)="sortHotels('order_by_stars','desc')">{{'searchpage_desc' | translate}}</li>
                </ul>
              </div>
            </div>
            <div class="sort__block__found d-flex align-items-center -bold" [hidden]="!hotelCount || !hotelList">{{'searchpage_hotels_found' | translate}}{{hotelCount}}</div>
          </div>
        </div>
        <div class="hotel-list" [hidden]="loaders[0]">
          <app-search-hotel *ngFor="let hotel of hotelList" [hotel]="hotel" (openMap)="openMap(google_map, $event)"></app-search-hotel>
        </div>
        <div [hidden]="!loaders[0]">
          <div *ngFor="let hotel of hotelsPreloading" class="hotel-item">
            <div class="loader-animate hotel-item__image col-12 col-sm-4 col-md-3 p-0 marquee single"> <!-- [ngClass]="{'single': searchData.rooms.length == 1, 'double': searchData.rooms.length == 2, 'triple': searchData.rooms.length >= 3}" -->
              <span></span>
            </div>
            <div class="hotel-item__content col-12 col-sm-8 col-md-9">
              <div class="loader-animate hotel-item__content__title marquee"><span></span></div>
              <div class="loader-animate hotel-item__content__address marquee"><span></span></div>
            </div>
          </div>
        </div>
        <div *ngIf="errormessages" class="empty">
          <div class="empty__text">
            <div *ngFor="let mes of errormessages">{{'searchpage_' + mes.property_path | translate}}: {{mes.message}}</div>
            <div [hidden]="errormessages.length > 0">{{'searchpage_error' | translate}}</div>
          </div>
        </div>
        <div *ngIf="!loaders[0] && hotelList.length === 0 && !errormessages" class="empty">
          <span>{{'searchpage_empty' | translate}}</span>
        </div>
        <div [hidden]="loaders[0] || hotelList.length === 0" class="pagination">
          <span *ngFor="let pag of pagination; index as i" class="pagination__item" [ngClass]="{active : i === currentPage}" (click)="setPage(i)">{{i + 1}}</span>
        </div>
        <div class="seo-description" *ngIf="seoDescription">
          {{seoDescription}}
        </div>
      </div>
    </div>
  </div>
  <button [hidden]="!displayScroll" class="scroll-buttom" (click)="scrollToTop()"><i class="fa fa-arrow-up"></i></button>
</div>

