$main-color: #004A7f;
$dark-main-color: #00135f;
$second-main-color: #337ab7;
$second-color: #FFBB39;
$border-second-color: #df9b20;
$body-color: #dde5b7;
$body-color-border: #adb597;
$main-gray-color: #E5E5E5;
$main-gray-text-color: #666;
$footer-dark-gray: #333;
$list-background: #f2f4f8;
$green-text-color: #4aa23b;
$gray-light: #ccc;
