<div class="container">
  <div class="row mt-4">
    <div class="col-12" *ngIf="mod === 3">
      <h4 class="text-success">{{'confirm_congratulation' | translate}}</h4>
      <hr>
      <div class="text mb-4">
        {{'confirm_text' | translate}} <a class="link" (click)="goToMain()">{{'confirm_main' | translate}}</a> {{'confirm_or' | translate}} <a class="link" (click)="gotoCabinet()">{{'confirm_cabinet' | translate}}</a>.
      </div>
    </div>
    <div class="col-12" *ngIf="mod === 1">
      <h4 class="text-success">{{'confirm_token' | translate}}</h4>
      <hr>
      <div class="text mb-4">
        {{'confirm_token_error' | translate}}
      </div>
    </div>
    <div class="col-12" *ngIf="mod === 2">
      <h4 class="text-success">{{'confirm_net' | translate}}</h4>
      <hr>
      <div class="text mb-4">
        {{'confirm_internet_error' | translate}}
      </div>
    </div>
  </div>
</div>
