@import "../../assets/styles/color-consts";
.text {
  color: black;
}
a.link {
  color: $main-color !important;
  cursor: pointer;
  font-weight: bold;
}
a.link:hover {
  color: $second-color !important;
}
.text-success {
  font-size: 20px;
}
